[2020-05-12 13:20] trozet commented on #1321
Thanks @alexanderConstantinescu for looking at it. I'll ping you offline and also take a look.

[2020-05-12 14:23] trozet commented on #1321
It looks like a bug in the test itself. I pushed a fix:
https://github.com/kubernetes/kubernetes/pull/91025

We were probably "passing" the first connectivity test due to a race (it should have always failed):
1. Test configures policy to allow DNS
2. Test creates client to connect to server on TCP port 80 and thinks this should work (should not work)
3. The test tries for a few seconds to see if

[2020-05-12 16:00] trozet commented on #1321
So after fixing the test and running it again, we now fail to actually pass the test in the right spot:

1. create client-a in ns A with policy that applies to client-a, egress, allow traffic to ns selector ns B and pod selector ns-b-server-a
2. create nsBserviceA, nsBserviceB services. Create nsBpodServerA, create nsBpodServerB
3. test client-a ->nsb-service-a (now works)
4. test client-a ->nsb-s

[2020-05-12 16:28] trozet commented on #1321
Nevermind I was reading the test wrong. There's actually 2 policies (one to allow dns, and one to match on NS and pod). So the test is correct and so is our policy:

match               : "ip4.dst == {$a4006516561677970445} && inport == @a7563830714843023450"

So wondering if this is a race where the default ACL is applied but the allow ACL hasnt been added yet

[2020-05-12 17:19] trozet commented on #1321
It looks like the ACL update is in place on ovn-nbctl before the pod starts to try to connect:

I0505 15:48:59.282716      51 ovs.go:246] exec(1095): /usr/bin/ovn-nbctl --timeout=15 --id=@acl create acl priority=1001 direction=to-lport match="ip4.dst == {$a8633917019715949912} && inport == @a9177897342901698129" action=allow external-ids:l4Match="None" external-ids:ipblock_cidr=false external-ids:

[2020-05-12 18:18] danwinship commented on #1321
The test code is weird: it calls `e2epod.WaitForPodNoLongerRunningInNamespace` and then calls `e2epod.WaitForPodSuccessInNamespace`, but since the pod is no longer running after the first call, the second call is guaranteed to succeed immediately. So the "Elapsed: 3.061593ms" is just telling you how long it took to query the pod status. From looking at the timestamps of the timestamped log message

[2020-05-12 19:13] trozet commented on #1321
thanks @danwinship so if that it is the case and we know we configured ovn-nbctl in time, then either the flows in OVS are not updated within 10 seconds (hard to believe) or there is a bug with the flows getting installed. I guess we will need to reproduce the failure and get a debuggable setup so we can look at the OVS flows. I'll try a few times to recreate the policy and see if I can trigger th

[2020-05-12 23:12] alexanderConstantinescu commented on #1321
Another word on this:

I think @trozet is right, which is why I have a hard time understanding how ovn-kubernetes is responsible for this (if anything I am inclined to blame kind).

If you look at this run:

https://github.com/ovn-org/ovn-kubernetes/pull/1306/checks?check_run_id=642043097

This is the bit that is interesting from that run:

[code]

`May  4 07:57:42.076: INFO: Waiting for client-a-

[2020-05-13 14:18] danwinship commented on #1321
It's not failing instantaneously; this is what I was saying above about the test code being weird. It logged "`Waiting for client-a-qqz7l to complete.`" at 07:57:42, and then waited for it to complete. The next message was at 07:57:50, 8 seconds later, after the pod completed. The code then waits for it to complete _again_, but since the pod has already completed, the second "wait" succeeds immedi

[2020-05-13 14:22] danwinship commented on #1321
The test also requires that ovn-kube is setting up correct flows both for the client-to-server HTTP connection _and_ for client-to-CoreDNS so maybe we're screwing up the latter?

[2020-05-13 14:52] trozet commented on #1321
@danwinship @alexanderConstantinescu is going to try modifying the test to return a special exit code (rather than just 1). That way when he sees it fail we will know if the pod failed due to the test failing (our problem) or if it is just containerd something else caused it to exit.

[2020-05-13 17:13] danwinship commented on #1321
if you're going to modify k8s, just get the fix for the fetching container logs bug (https://github.com/kubernetes/kubernetes/pull/89592). Then you should get the output of the client pod so you can see how far it got (and what specific curl error messages it got).

[2020-05-13 21:28] gvbalaji commented on #1142
PR's for these two items under services:
1. pkg/node/gateway_localnet.go:localnetAddService() / localnetDeleteService() need to add/delete IPv4 or IPv6 rules depending on the service IP
2.pkg/node/gateway_localnet.go:localnetNodePortWatcher() needs to set up both iptables and ip6tables base rules

https://github.com/ovn-org/ovn-kubernetes/pull/1326
https://github.com/ovn-org/ovn-kubernetes/pull/13

[2020-05-15 22:59] vjayaramrh opened #1342 "generate mocks for unit testing (when using testify framework) as part of build"
This is to address the review comment related to generating mocks as part of build, refer https://github.com/ovn-org/ovn-kubernetes/pull/1333#issuecomment-629532652

[2020-05-16 01:24] zshi-redhat commented on #1193
+1 on using shared gateway mode.
Moving to shared gateway mode will allow us to enable ovs hw offload on openshift unless there is workaround to not use iptable rules in host network namespace for north/south traffic.

[2020-05-20 02:59] s1061123 opened #1350 "ovnkube-node cannot be launched due to lack of capabilities"
Install latest ovn-kubernetes(i.e. master) in vanilla kubernetes, then ovn-node gets failure `] failed to initialize iptables: could not get iptables version: exit status 125` then exit, due to lack of capabilities for ovnkube-node container in ovnkube-node.yml.

[code]

Environment
ovn-kubernetes: master
Centos: Centos7
[code]

[2020-05-20 15:25] girishmg commented on #1350
@s1061123 so it is failing while executing `iptables -version`. As I understand, it can't be because of capabilities.

[code]

[2020-05-21 12:04] s1061123 commented on #1350
thank you for the analysis. Do you have a plan to fix the issue?

[2020-05-21 20:34] #1216 closed

[2020-05-22 03:50] girishmg commented on #1350
@s1061123 I see, you are using the older container image. I just build one now and pushed it to docker.io. Can you please re-try using this image `docker.io/ovnkube/ovn-daemonset-u`? Also, remove the capabilities workaround you might still have in your YAML files. Thanks.

[2020-05-22 03:52] girishmg commented on #1350
@s1061123 I see, you are using the older container image. I just build one now and pushed it to docker.io. Can you please re-try using this image docker.io/ovnkube/ovn-daemonset-u? Also, remove the capabilities workaround you might still have in your YAML files. Thanks.

[2020-05-22 09:13] s1061123 commented on #1350
@girishmg thank you for your update images in docker.io.

I used the latest image without my change (i.e. using latest master) and see same things still.
ovnkube-node is failed due to `failed to initialize iptables: could not get iptables version: exit status 125`

[code]

[2020-05-22 10:01] s1061123 commented on #1350
Here's the capabilities in yaml of above case, that is same as master without any change.

[code]

[2020-05-25 11:25] danwinship commented on #1350
That appears to be because of the iptables wrapper scripts:

[code]

eg

[code]

[2020-05-25 22:41] girishmg opened #1364 "kind: e2e external gateway connectivity test without using macvlan interface"
Any reason why we are creating a macvlan interface on one of the worker nodes container and performing the connectivity test? Currently, we create a `macvlan` interface on ovn-worker node and then create a Pod in ovn-worker2 and ping the macvlan interface from that Pod.

[code]

Why can't we just ping 172.17.0.1 address on `docker0` interface that is present on the running host?

The reason I ask

[2020-05-26 05:40] girishmg commented on #1364
Please see this error at https://github.com/ovn-org/ovn-kubernetes/pull/1363/checks?check_run_id=707422542 for reference..

[2020-05-27 15:37] girishmg commented on #1364
@nerdalert will it be an issue if we move to using the `docker0` interface for this particular test?

[2020-05-27 17:24] nerdalert commented on #1364
Hi @girishmg the first plan was to simulate ex_gw using macvlan. The final iteration is here https://github.com/ovn-org/ovn-kubernetes/pull/1272. The Macvlan gets removed in that PR. It is ready to merge, as soon as I can get the CI to run. For some reason it won't kick on that PR anymore. Thanks!

[2020-05-28 20:31] vjayaramrh opened #1368 "consider running race detector as part of CI"
Refer https://golang.org/doc/articles/race_detector.html for details

[2020-06-02 18:27] gvbalaji commented on #1142
@danwinship I am planning to look at this item under "NetworkPolicy".

 pkg/ovn/namespace.go:addPodToNamespace() / deletePodFromNamespace() / AddNamespace() need to check/add/remove multiple IPs from address sets

Please let me know if this is ok Or you want me to look at some other policy item first.

[2020-06-03 05:38] gvbalaji commented on #1142
pkg/ovn/namespace.go:addPodToNamespace() / deletePodFromNamespace() / AddNamespace() need to check/add/remove multiple IPs from address sets is under progress

[2020-06-03 16:07] girishmg commented on #1364
closing this issue since we don't use macvlan interface.. look at #1272

[2020-06-03 16:07] #1364 closed

[2020-06-03 18:54] as-com opened #1380 "kind deployment hangs after ~450 containers are started and stopped"
This test often results in the cluster hanging/freezing: https://github.com/as-com/ovn-kubernetes/blob/19e1ee941235c1c6f1963fa84637fa62cad5ebb2/test/e2e/e2e_test.go#L595-L684

Here is an example of one such run in GitHub Actions: https://github.com/as-com/ovn-kubernetes/runs/721262002?check_suite_focus=true#step:9:8997

Notice how the next test in the suite hangs for a few hours before being cance

[2020-06-03 22:41] aojea commented on #1380
I'm not familiar with the ovn ipam, so apologize in advance, but that seems that you have
[code]

a /24 contains 253 free IPs, using 2 nodes ~500 pods in a cluster.
Maybe what happens is that you are running out of IPs and the new pods are waiting that a IP is released so they can acquire it?

[2020-06-04 19:19] gvbalaji commented on #1142
Looking into these items now.
pkg/ovn/policy_common.go:getL3MatchFromAddressSet() needs to match "IPv4-expression || IPv6-expression"
 pkg/ovn/policy_common.go:ipMatch() needs to be based on the IP address in question, not the global mode

@danwinship

[2020-06-05 14:52] trozet opened #1386 "fix util packages for finding n'th IP in a subnet"
current util functions call each other and end up recursively doing NextIP() n number of times. This is inefficient and a waste of function calls. Refactor these functions to just do byte arithmetic or some other method to directly get the n'th IP addr:

// GetNodeGatewayIfAddr returns the node logical switch gateway address
// (the ".1" address)
func GetNodeGatewayIfAddr(subnet *net.IPNet) *net.I

[2020-06-08 12:35] danwinship commented on #1386
yeah, see discussion in #1367; there's no reason to be using bignum math here

[2020-06-09 13:30] dave-tucker opened #1400 "Merge hybrid-overlay with the ovn controller"
We should consider merging the hybrid-overlay functionality with that provided in the main OVN controller.

The HO functionality relies on the behaviour of the OVN controller.
It waits for specific annotations to be present before it can proceed.

[2020-06-09 14:21] dave-tucker opened #1401 "Reorganise CI to have a sane number of statuses and reduce queueing"
PR #1397 goes some way towards this, but I think we need to do more, especially given that #1343 is on the horizon.

Currently the test matrix includes these suites:
- K8s Network and Network Policy Tests (4 shards)
- Control Plane Tests

We then run these 5 jobs against the product of this matrix for every pull request (assuming with v6/dual-stack on the horizon)

- HA, nonHA
- Shared Gateway Mod

[2020-06-09 15:02] dave-tucker commented on #1401
As a follow up, the following from GitHub may help illustrate the boundaries we're working within re: concurrency.

GitHub plan | Total concurrent jobs | Maximum concurrent macOS jobs
-- | -- | --
Free | 20 | 5
Pro | 40 | 5
Team | 60 | 5
Enterprise | 180 | 50

Also note that a single workflow can spawn up to 256 jobs maximum.

[2020-06-09 15:31] squeed commented on #1401
Perhaps a dumb question: Can we get rid of non-HA? What does that offer us?

[2020-06-09 15:34] squeed commented on #1401
Another dumb question? Do we need v6? What about just v4 and dual-stack?

[2020-06-09 15:58] Billy99 commented on #1401
@squeed Per request from @trozet, I'm working on IPv6 only in CI so that we can verify that dual-stack doesn't break IPv6 only (which was actually already broken upstream and we didn't know because it is not tested).

[2020-06-09 16:00] trozet commented on #1401
It helps us differentiate if there is a failure due to HA functionality. If we see something consistently fail in HA, but not in noHA, we know the root cause is something to do with the HA path.

[2020-06-09 16:12] squeed commented on #1401
I see. That's a useful signal, but perhaps we can skip noHA by default?

[2020-06-09 16:16] trozet commented on #1401
sure. Now that @dave-tucker has given us some comments to use to trigger things, we could make that a trigger /run noha or something. Is that possible @dave-tucker ? Also, to cut down on retest, would it be possible to say like /retest "test case name" and have a job that fires that only runs that single test case?

[2020-06-09 16:20] squeed commented on #1401
We could also reduce matrix size by not doing a full cross join. For example, we probably don't need the full multiplication of (ha, noha) x (local, shared) x (v4, v6, dual-stack)

What if we did, by default,
- ha, local, (v4, v6, dual-stack)
- ha, shared, dual-stack

With the (possibly erroneous) assumption that if dual-stack works, v4 and v6 work **for shared gateway**

Is it possible to run mor

[2020-06-09 16:24] trozet commented on #1401
There's a possibility we may be moving to shared gw mode in the future, in which case we could drop all but some sanity on local. That would help some.

[2020-06-09 16:43] Billy99 commented on #1401
My IPv6 CI PR will add some "exclude:" examples. For example I added a 'shard-ipv4' and then exclude it in IPv6 mode. Not sure how to add more tests if a particular file is touched.

[2020-06-09 17:06] danwinship commented on #1401
shared gateway doesn't even fully support single-stack IPv6 yet (#1141, though there have been drive-by fixes for some of that).

It will still be a while before dual-stack is even worth running automatically. And once dual-stack is working, we won't really need to run single-stack IPv6 regularly.

So I'd say for now:
- noha, local, v4
- ha, local, v6
- ha, shared, v4

and once dual-stack is ready

[2020-06-09 17:45] dave-tucker commented on #1401
@trozet there is no api to re-run jobs, just the entire worfklow. so `/retest` can't take arguments.
Adding `/test noHA` is possible.

Someone would have to:

1. Create a new workflow `.github/workflows/test-no-ha.yml` from `test.yml` and just include the noHA stuff
1. Copy the code that we have for `/retest` and make a new `/test` action
1. Adjust the dispatch code to trigger a the workflow and e

[2020-06-09 18:10] trozet commented on #1401
@dave-tucker couldnt we then simulate retesting a single e2e test by adding the same workflow as /test noHA, except /test "some ginkgo focus" and make a workflow that takes that in as an arg?

[2020-06-09 21:35] dave-tucker commented on #1401
The problem is that a workflow set up in that way won't replace the github statuses on the PR :cry:

[2020-06-11 15:21] dcbw opened #1413 "Flakes in hybrid overlay pod annotation sync code"
https://github.com/ovn-org/ovn-kubernetes/pull/1410/checks?check_run_id=760821334

@dave-tucker

[2020-06-11 17:36] as-com commented on #1380
nb: the party is over here: https://github.com/ovn-org/ovn-kubernetes/pull/1358

[2020-06-12 02:14] girishmg opened #1418 "Run syncNamespaces before syncPods"
The OVN Master controller upon start does this:

[code]

So, it calls each of these watchers on the resources it cares about. Each of these watchers in turn call onAdd() handler for each of the corresponding existing resource objects. These calls are all synchronous.

I think the WatchNamespaces should be called immediately after the WatchNodes, but before WatchPods. The WatchNamespaces sets up so

[2020-06-13 20:23] girishmg commented on #1413
@dcbw @dave-tucker it seems to be more than a flake for me atleast :(. My `make check` consistently fails 50% of the times. I used this to just run the tests in `ovn` package

[code]

[2020-06-15 12:52] dave-tucker commented on #1418
I'm just about to put up a PR to completely change/remove all of this as part of my quest to move to workqueues :)

The plan is to start all of the informers at the same time when we call to `SharedIndexInformerFactory.Start()` at this point the informers will then start populating their workqueues.

We then start all of the our `informer.EventHandler` async worker threads which will start process

[2020-06-15 20:13] #1380 closed

[2020-06-15 20:13] as-com commented on #1380
closing due to likely cause being IP/MAC address space exhaustion

[2020-06-15 22:56] girishmg commented on #1418
@dave-tucker I am looking forward for your PR. Any write up you may have, please share it so that we are aware as to what to expect.

For example: if we re-queue a failed event handler, say NodeAdd, then will it get queued behind the NodeUpdate for the same node? Then we will miss Node's update.  Thanks.

[2020-06-16 09:27] dave-tucker commented on #1418
Sure I can write something up and send it to the mailing list.

[2020-06-16 13:19] dave-tucker commented on #1413
@girishmg I was looking at the tests in the `control-plane` suite which were to do with hybrid-overlay.
I think you're referring to a unit test `[it] resets the hybrid annotations on update` which I think @trozet added. That's also been failing a few times for me, but I'm not sure it's related to this issue.

[2020-06-16 13:24] dave-tucker commented on #1413
I ran the `ovn` tests 30 times against the tip of master and only saw one flake:

`[It] does not allocate a hostsubnet for a node that already has one` :shrug:

[2020-06-17 20:13] girishmg opened #1436 "Panic: invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference)"
I am seeing these panics in the log files of our CI run

[code]

[2020-06-17 20:22] dcbw commented on #1436
https://github.com/kubernetes/kubernetes/pull/92238

[2020-06-17 20:35] trozet commented on #1401
That is kind of lame, but this would still be useful to be able to run another test and see aresult.

[2020-06-17 21:17] aojea commented on #1401
maybe it is not necessary to run all jobs in premerge, just a subset of them, the most significant. Then, run ALL of them nightly, the risks of regressions is higher but I don't see a big number of PR per day so it would be easy to catch regressions with only one day of delay.
https://jasonet.co/posts/scheduled-actions/

[2020-06-18 14:30] trozet commented on #1413
• Failure [0.112 seconds]
OVN Pod Operations
/home/runner/work/ovn-kubernetes/ovn-kubernetes/go-controller/pkg/ovn/pods_test.go:162
  with hybrid overlay gw mode
  /home/runner/work/ovn-kubernetes/ovn-kubernetes/go-controller/pkg/ovn/pods_test.go:667
    resets the hybrid annotations on update [It]
    /home/runner/work/ovn-kubernetes/ovn-kubernetes/go-controller/pkg/ovn/pods_test.go:668

    Expe

[2020-06-18 14:34] trozet commented on #1413
This is either a race condition in the test between when the namespace is updated and the new pod is created (namespace has not finished updating by the time the pod is created), or there is a real race in our HO code. I'll add some more checks to the namespace update in the test case to rule out the former. However, I cannot seem to reproduce this locally, even running what you mentioned @girishm

[2020-06-18 16:24] girishmg commented on #1418
@dave-tucker looks like @trozet merged this PR #1438 that changes the order as captured in this issue.

[2020-06-18 16:41] #1418 closed

[2020-06-18 17:51] trozet opened #1441 "[Fail] Master Operations [It] does not allocate a hostsubnet for a node that already has one"
This test case fails every so often if I run unit tests a bunch of times:
for i in {1..20}; do go clean --testcache; make clean; PKGS=github.com/ovn-org/ovn-kubernetes/go-controller/pkg/ovn hack/test-go.sh; sleep 1; done

/home/trozet/go/src/github.com/ovn-org/ovn-kubernetes/go-controller/pkg/ovn/master_test.go:260
  does not allocate a hostsubnet for a node that already has one [It]
  /home/troze

[2020-06-18 17:51] trozet commented on #1441
@girishmg FYI

[2020-06-19 00:51] #1214 closed

[2020-06-19 13:28] #1413 closed

[2020-06-19 16:34] trozet opened #1446 "constant error in ovn-controller for bridge not found for localnet port 'lnet-node_local_switch' with network name 'locnet'"
2020-06-19T13:49:23.512Z|00158|patch|ERR|bridge not found for localnet port 'lnet-node_local_switch' with network name 'locnet'
2020-06-19T13:49:38.601Z|00159|patch|ERR|Dropped 2 log messages in last 15 seconds (most recently, 7 seconds ago) due to excessive rate
2020-06-19T13:49:38.601Z|00160|patch|ERR|bridge not found for localnet port 'lnet-node_local_switch' with network name 'locnet'

[2020-06-19 16:34] trozet commented on #1446
@girishmg fyi

[2020-06-19 16:34] trozet commented on #1446
this is with local gw mode

[2020-06-19 17:06] aojea commented on #819
/assign

[2020-06-19 23:18] girishmg commented on #1446
@trozet the ovn-bridge-mappngs for network `locnet` should not have been configured for local gateway mode, so will take a look.

[2020-06-20 18:24] dpulls-support opened #1452 "dpulls to manage your dependent PRs"
Hi, Walid the founder of [dpulls](https://github.com/marketplace/dpulls) here.

We noticed that you are working with dependent PRs https://github.com/ovn-org/ovn-kubernetes/pull/1451 and we thought that maybe [dpulls](https://github.com/marketplace/dpulls) could be interesting for you.
[dpulls](https://github.com/marketplace/dpulls) will help working with dependent PRs by offering these features:

[2020-06-22 17:38] dave-tucker opened #1457 "flaky test: NetworkPolicy between server and client should enforce policy based on PodSelector and NamespaceSelector"
`[Fail] [sig-network] NetworkPolicy [LinuxOnly] NetworkPolicy between server and client [BeforeEach] should enforce policy based on PodSelector and NamespaceSelector [Feature:NetworkPolicy]`

Seen on master branch and various PRs. Will attempt to post links later.

[2020-06-24 20:42] girishmg opened #1463 "flaky make check failure: Unexpected command: /fake-bin/ovn-nbctl --timeout=15 --if-exists get logical_switch_port int-sctp-test-node dynamic_addresses addresses"
I am seeing this flaky make check failure once in a while. I know what is happening, and I will submit a PR for this soon
[code]

[2020-06-24 23:10] girishmg commented on #1463
@dcbw @danwinship @trozet can you please help with this? The issue exists for test cases in ovn/master_test.go that has hybrid-overlay-enabled

[code]

[2020-06-25 00:39] girishmg commented on #1463
@dcbw @dave-tucker looks like this is related to HybridOverlay Workqueue commit. Before that commit, the HybridOverlay commit would register a callback handler before WatchNodes() was getting called. So, when the HO's nodeHandler's callback was called the Node was not still annotated and it would just print the warning above and then would proceed.

[2020-06-25 12:46] dave-tucker commented on #1463
@girishmg this seems to be an issue with the test code and not with the functionality, right?
In other words, both code flow 1 and 2 achieve the same end-result, albeit in one case we have an additional call made to `ovn-nbctl` which is what is causing this test to flake.

[2020-06-25 20:08] girishmg commented on #1463
I can't speak for the hybrid-overlay code. If it depends on the HostSubnet annotation to be present and if this is being done by OVN controller's addNode() handler, then one would assume that the two AddNode event handler would have be in sync.

Yes, the test needs to be fixed to handle this race for sure.

[2020-06-26 20:04] gvbalaji commented on #1142
Additional items I found that needs dual stack support are
1. hybrid overlay
hybrid-overlay/pkg/controller/master.go :  Method `handleOverlayPort` needs to handle multiple subnets in case of dual stack
hybrid-overlay/pkg/controller/node.go : Method `getNodeSubnetAndIP` needs to handle multiple CIDRs in case of dual stack
pkg/ovn/pods.go : Method `addRoutesGatewayIP`  needs to handle dual stack asp

[2020-06-28 22:35] vjayaramrh opened #1471 "The function LinkRouteExists does not use `link` for filtering routes (coder review comment)"
Opening this issue to track code review comment from @girishmg to the PR https://github.com/ovn-org/ovn-kubernetes/pull/1467/files. Refer @girishmg comment at https://github.com/ovn-org/ovn-kubernetes/pull/1467/files#r446325176

[2020-07-02 19:28] vjayaramrh opened #1478 "VLAN ID to be supported only in `GatewayModeShared` and throw error when used in other modes"
Add check in the code to ensure that an error is thrown when VLAN ID is specified for cases other than `GatewayModeShared` per code review comment.

Below is snippet of code review comment for PR https://github.com/ovn-org/ovn-kubernetes/pull/1474
[code]

[2020-07-02 21:45] girishmg opened #1479 "jsonrpc|WARN|unix#1456: receive error: Connection reset by peer"
I am seeing lot of `jsonrpc|WARN|unix#1456: receive error: Connection reset by peer` errors in OVN SB DB log file. This is very easy to reproduce. Just run the following command

`$ ovn-sbctl --no-leader-only --db=unix:/var/run/openvswitch/ovnsb_db.sock get SB_Global . options:e2e_timestamp
`
The client calls this JSON RPC method
[code]
but doesn't wait long enough for the reply from the server to

[2020-07-02 21:53] girishmg commented on #1479
@alexanderConstantinescu @numansiddique @dcbw this seems like it is related to https://bugzilla.redhat.com/show_bug.cgi?id=1802481 but reproducible like I mention above

[2020-07-02 21:54] girishmg commented on #1479
I also see similar errors in ovsdb-server running on the host. So, something in OVS is closing the connection too early.

[2020-07-03 10:17] alexanderConstantinescu commented on #1479
That bug has nothing to do with this issue. It just had a very poor name, pointing to a problem which was never really the real issue with it.

But I agree that these logs appear constantly on every run, and we should address them

[2020-07-03 13:05] trozet commented on #1479
Those errors like these happen on every run for us downstream. An example: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_cluster-network-operator/690/pull-ci-openshift-cluster-network-operator-master-e2e-ovn-step-registry/1278879463274188800/artifacts/e2e-ovn-step-registry/gather-extra/pods/openshift-ovn-kubernetes_ovs-node-6mjvg_ovs-daemons.log

==> /host/var/log/openvswitc

[2020-07-04 23:10] danwinship commented on #1479
In https://bugzilla.redhat.com/show_bug.cgi?id=1751246 we determined that the similar errors in the openshift-sdn logs were related to "ovsdb-client monitor-cond" calls but then no one ever debugged any further. Maybe something set up by the OVS/OVN wrapper scripts?

[2020-07-06 12:08] danwinship opened #1483 "pod delete/add race condition"
There appears to be a race condition with IP address reuse between pod deletion and creation. Seen in https://github.com/ovn-org/ovn-kubernetes/pull/1461/checks?check_run_id=837449406:

kubelet reports:
[code]

ovnkube-master logs show:
[code]

[2020-07-06 20:12] girishmg commented on #1483
perhaps we need to change the order of the following two calls in deleteLogicalPort()

[code]

[2020-07-09 05:55] #1483 closed

[2020-07-10 16:38] dceara commented on #1479
At least some of the send errors "Broken pipe" should be fixed if the following patch that reorders `set_db_change_aware` and `monitor_cond_since` gets accepted in OVS:
https://patchwork.ozlabs.org/project/openvswitch/patch/1594380801-32134-1-git-send-email-dceara@redhat.com/

[2020-07-13 17:04] danwinship commented on #1142
All of the original work is done now... I'm going to update the ipv6 shared gateway bug, and add a new one for hybrid overlay, and we can just fix other things as we find them

[2020-07-13 17:04] #1142 closed

[2020-07-13 17:11] danwinship opened #1495 "hybrid overlay dual-stack support"
We need dual-stack support for the hybrid overlay code.

  - [ ] master calls subnetallocator.AllocateNetworkRange() assuming IPv4 (#1493)
  - [ ] config allows for dual-stack HO subnets but annotation does not (WIP)
  - [ ] master.go handleOverlayPort() has "// FIXME DUAL-STACK"
  - [ ] node.go getNodeSubnetAndIP() has "// FIXME DUAL-STACK" (which will change its return value and propagate outwar

[2020-07-13 20:10] gvbalaji commented on #1495
I will start looking at this item @danwinship
master.go handleOverlayPort() has "// FIXME DUAL-STACK"

[2020-07-13 20:11] gvbalaji commented on #1495
An additional TODos in dual stack I found is this. @danwinship

pkg/ovn/pods.go : Method addRoutesGatewayIP needs to handle dual stack aspects for hybridOverlayExternalGW.

[2020-07-14 21:50] gvbalaji commented on #1495
I'll start looking into
 node.go getNodeSubnetAndIP() has "// FIXME DUAL-STACK" (which will change its return value and propagate outward)

[2020-07-15 14:51] #1471 closed

[2020-07-17 15:10] aojea opened #1510 "Set up one e2e job running ovnkube compiled with the race detector"
we added a job to run the unit tests with the race detector enabled, however, due to the characteristics of the tests, it only will detect races between the test and the function on test.

Golang allow to compile binaries with the race detector enabled

https://blog.golang.org/race-detector

It will be nice to have a periodic/on demand job, that compiles ovn-kube with the race detector and run the

[2020-07-17 15:10] aojea commented on #1510
/cc @trozet

[2020-07-17 15:44] aojea commented on #1510
/help-wanted

[2020-07-20 20:08] Billy99 opened #1516 "e2e test fails on IPv6 Only - should resolve connection reset issue"
The Kubernetes E2E test `should resolve connection reset issue #74839 [Slow]` defined in `k8s.io/kubernetes/test/e2e/network/kube_proxy.go` fails 100% in IPv6 only deployment.

Investigating the test, it launches an image defined by `k8s.io/kubernetes/test/image/regression-issue-74839\`. In this image, there is a function defined in `k8s.io/kubernetes/test/image/regression-issue-74839/main.go` tha

[2020-07-20 20:12] Billy99 opened #1517 "e2e test fails on IPv6 Only - should allow egress access to server in CIDR block"
The Kubernetes E2E test `should allow egress access to server in CIDR block [Feature:NetworkPolicy]` defined in `k8s.io/kubernetes/test/e2e/network/network_policy.go` fails 100% in IPv6 only deployment.

Still investigating why this fails.

[2020-07-21 14:45] Billy99 commented on #1516
Upstream issue:
https://github.com/kubernetes/kubernetes/issues/93281

[2020-07-21 16:54] #1368 closed

[2020-07-21 21:39] gvbalaji commented on #1495
Understand that windows HO Vxlan support is v4 only. They are planning to support v6 in future.   We need to understand the dual stack aspects of F5 integration which @dcbw would gather in Thursday's Verizon call
1. Weather F5 supports v6/dual stack.
2. If the external gateway annotations for HO need to support multiple addresses.

Much of the work above depends on answers to these.

[2020-07-22 12:21] Billy99 opened #1522 "Github CI doesn´t offer IPv6 connectivity"
Since Github CI doesn´t offer IPv6 connectivity, IPv6 specific tests are blocked. If/When Github CI provides IPv6 connectivity, these tests (one for now) need to be unblocked.

[2020-07-23 09:00] tssurya commented on #1510
/assign @tssurya

[2020-07-23 16:40] alexanderConstantinescu opened #1528 "Create generic API client"
Spawned off from this discussion: https://github.com/ovn-org/ovn-kubernetes/pull/1484#discussion_r458318980

CRDs all have their own client set, and as we start adding more an more in ovn-kubernetes the code starts looking a bit more "awkward". The goal is thus to create a generic container: `OVNClientset` which will store all client sets we need: that being, the kube API client and any CRD client

[2020-07-25 18:22] #1446 closed

[2020-07-27 05:35] #977 closed

[2020-07-27 17:03] trozet opened #1543 "Network Policy race condition leads to unit test failure"
[code]

[2020-07-29 02:53] trozet opened #1548 "Cache Nodes"
We cache other things like ports, namespaces, ACLs, etc. Now we are finding that we also could use caching of nodes. The nodes contain information like the GR name, GR IP, join switch name, etc that are all being fetched from K8S and from OVN multiple times for different features. There is also risk of OVN configuration issues if a node is removed while one of the ovn-k8s threads is trying to conf

[2020-07-29 13:46] alexanderConstantinescu opened #1549 "Refactor ovnkube-node"
Today ovnkube-node runs in two mode (local vs shared), these modes are prevalent in the code and taken into account (in the sense that the code is logically organised to deal with those cases appropriately).  We however also run on two different OS-es (windows / linux) which is, today, not at all as well thought as the first case, which leads to us having awkward looking code like this:

`pkg/node

[2020-07-29 13:52] alexanderConstantinescu opened #1550 "Revert race detector disablement"
Once the race conditions caused by our testing framework have been solved, we will need to re-enable the race detector for tests which PR https://github.com/ovn-org/ovn-kubernetes/pull/1544 disabled.

Anyone interested in working on fixing these cases would need to do:

[code]

and start fixing broken things one by one

[2020-07-29 14:33] #1543 closed

[2020-07-29 15:04] trozet opened #1553 "E0729 13:45:01.810595 1 master.go:203] Failed to get northd_probe_interval value stderr(ovn-nbctl: no key "northd_probe_interval" in NB_Global record "." column options"
In ovn-kube we set the northd probe interval via bash:

[code]

The problem is in openshift we dont use this bash, so we constantly see the error in the $subject spammed in our logs. I'm thinking we shouldnt set some DB option in bash, and then check it in go lang if we can avoid it. @girishmg is there a reason we cannot set the value also in go code with a config option to ovn-kubernetes?

[2020-07-29 15:05] trozet commented on #1553
@dcbw FYI

[2020-07-29 16:14] danwinship commented on #1553
We should talk in the community meeting about doing setup in bash/daemonsets vs doing setup in golang.

[2020-07-29 16:43] danwinship commented on #1549
Windows support is going away soon (#1534) and probably local gateway support will go away in 6 months or so assuming everything works out with shared gateway mode in OpenShift (#1193).

So, yes, things are terrible now, but it will probably be fixed without needing a refactoring. (Though we'll need a lot of cleanup to remove no-longer-necessary abstraction layers.)

[2020-07-29 16:45] danwinship commented on #1193
Just as an update; OpenShift is planning to switch to shared gateway mode, and assuming we don't run into problems, we can eventually get rid of local gateway mode.

[2020-07-29 17:46] girishmg commented on #1553
@trozet @danwinship certain things need to be setup during the raft cluster build time, like election timer.

However, we could set northd_probe_interval from the golang. We already set openflow_probe_interval and remote_probe_interval from golang. We can definitely talk about this during the community meeting.

[2020-07-29 18:33] abhat commented on #1553
/assign

[2020-07-29 18:34] abhat commented on #1553
🤷‍♂️ what is the best way to assign an issue to yourself?

[2020-07-30 18:42] moshe010 opened #1558 "Smart NIC Support for OVN-Kubernetes"
Add support for Smart-NIC which is a NIC with an embedded CPU e.g Mellanox BlueField 2 DPU [1]
Link for design proposal [2]. if required we would be happy to explain use-case/design in the bi-weekly meeting.

[1] - https://www.mellanox.com/products/bluefield2-overview
[2] - https://docs.google.com/document/d/1ZPzEHyyTJ86J81srdntbJVBTCvtQQ94QycaLgzOHjiQ/edit?pli=1#

[2020-07-30 21:40] mansikulkarni96 opened #1562 "Fix abruptly exiting of windows service using os.Exit() on svc.Stop"
In [https://github.com/ovn-org/ovn-kubernetes/pull/1514](https://github.com/ovn-org/ovn-kubernetes/pull/1514), we introduced running hybrid-overlay-node as a Windows service. This enablement relies on os.Exit()  to stop the service on svc.Stop. This approach has some concerns as it would exit the process immediately without leaving any chance for the code to cleanly exit (which differs from what h

[2020-07-30 22:04] aravindhp commented on #1562
/cc @dcbw @JocelynBerrendonner

[2020-07-31 02:04] #831 closed

[2020-08-02 21:51] aojea commented on #1510
xref: https://github.com/ovn-org/ovn-kubernetes/pull/1570/commits/3ca270bdc520fa3470207adc8fb2fabd0926fa61

[2020-08-03 21:39] aojea opened #1574 "OVN HA job failures"
This job has a lot of test failures,

https://github.com/ovn-org/ovn-kubernetes/runs/941792700?check_suite_focus=true

 however, the other jobs in the same PR are passing, that means is not related to the PR itself (the code changes are unrelated)

the logs show something suspicious

after that the ovnkube node does not seem to come up, the kubelet probe are not failing :thinking:

[2020-08-03 21:40] aojea commented on #1574
/cc @dcbw

[2020-08-04 07:09] aojea commented on #1574
error parsing match :thinking:

[code]

[2020-08-04 12:19] danwinship commented on #1574
That's just a warning and it's 2 minutes before the actual crash. (But it looks like we're trying to reference an address set after it has been deleted.)

[2020-08-04 18:03] abhat commented on #1553
Can someone close this now that it is fixed?

[2020-08-05 03:36] #1553 closed

[2020-08-05 17:18] aojea opened #1584 "Jobs timing out due to test failures"
I could observe that there is a pattern of PR job failures, where some jobs pass all tests and one job times our because all tests hangs.
You can identify them using the following query
https://github.com/ovn-org/ovn-kubernetes/actions?query=is%3Afailure++workflow%3Aovn-ci

Look for the jobs that take more than 1 hours, the longer the better.

And then, check that it has at least 3 jobs passed and

[2020-08-05 17:18] aojea commented on #1584
/cc @trozet

[2020-08-05 17:44] trozet commented on #1584
From reading the logs it looks like the issue is pod creation in add logical port is getting stuck. Meaning that I see pods getting created early in the logs, and then I never see the defer log for the amount of time taken to create the port. I believe there may be some kind of dead lock happening here. Future pods that are created in kapi are seen in the informer watch, but do not receive corresp

[2020-08-05 17:56] trozet commented on #1584
The original log I looked at was:
https://github.com/ovn-org/ovn-kubernetes/runs/946421252?check_suite_focus=true

The log in this issue looks to be a little different.

[2020-08-05 21:04] trozet commented on #1584
First bug found while investigating has to do with metrics not being properly setup:
https://github.com/ovn-org/ovn-kubernetes/pull/1585

I don't think this has anything to do with test failures, but it is getting in the way of debugging with the constant log spam.

[2020-08-06 00:31] aneeshkp commented on #1350
I see this same error. Do we have a fix for this?

[2020-08-06 02:33] dcbw opened #1588 "LSP deletion should not block on namespace existence"
@trozet @rcarrillocruz

There's no guarantee that the pod delete event will appear before we get the namespace delete event, yet the code will wait up to 10 seconds polling for the deleted namespace to show up. That's wrong.

[code]

If the namespace doesn't exist, then we just don't care, because either it was already deleted and presumably cleaned up the pod routes from the GR already, or its cr

[2020-08-06 02:35] dcbw commented on #1588
Furthermore, why aren't we cleaning up the pod IPs in namespace deletion? Got a bunch of holes here.

[2020-08-07 02:02] abhat commented on #1584
Not sure if it's related. But I found a bug in ovn-nbctl during `lr_nat_add` where it doesn't honor `--may-exist`. This was causing init gateway to fail and therefore nodes to be not ready. I think that will cause `waitForNodeLogicalSwitch` to get blocked. I submitted a patch upstream to ovn to fix it. After fixing the nbctl issue, I see that we can resolve pods correctly.

[2020-08-07 17:32] aojea opened #1599 "Master node gets isolated when the ovnkube-node pod is deleted with HA and shared gateway"
I was consistently hitting this problem during the refactor of the e2e control-plane tests that delete the ovnkube-node to check that it does not drop the traffic.

Current tests force an immediate deletion of the test
https://github.com/ovn-org/ovn-kubernetes/blob/bb6081af58fd9d90996af9427c924eefa7a2240f/test/e2e/e2e_test.go#L269
However, I didn't realize about it and was using the Delete Pod api

[2020-08-07 17:33] aojea commented on #1599
/cc @trozet @dcbw @danwinship

[2020-08-07 17:38] aojea commented on #1599
A quick fix is to create those pods with the GracePeriod to 0, but I can not understand why it only happens in HA mode.
Is that the communication between the master and ovn is lost and is not able to recover?

[2020-08-07 19:39] girishmg commented on #1599
@aojea there are several things in play here.

1. OVS daemons are shipped as a container in ovnkube-node
2. The ovnkube-node moves the host networking stack to OVS bridge model like below

In shared-gateway mode, we start with the node like this:
[code]
and the code in ovnkube-node changes the host networking stack to

[code]

When you delete the ovnkube-node, you also delete the OVS daemons and t

[2020-08-07 19:43] girishmg commented on #1599
@aojea Another problem is when you delete a K8s node using `kubectl delete node`, the kubelet doesn't provide graceful shutdown semantics for the daemonset pods. So, the containers running inside the daemonset will not get SIGTERM for it to handle certain things. So, this is very tricky to get it work.

In production and serious deployments, the OVS is choice of software for host networking. So, d

[2020-08-07 19:45] girishmg commented on #1315
This is now part of the repo.

[2020-08-07 19:45] #1315 closed

[2020-08-08 06:23] aojea commented on #1599
just for confirmation,  running ovs in the host does not have any of the problems? or do we still to revert back the host stack?

[2020-08-08 07:09] girishmg commented on #1599
@aojea Yes, running OVS in the host does not have any problems. The OVS bridge on the host is setup ahead of time. The `ovnkube-node` Pod doesn't run ovs-daemons container.

[2020-08-08 14:17] trozet commented on #1584
I took a look through the logs. I don't think this is what we are seeing for this particular issue.

[2020-08-09 19:05] danwinship commented on #1599
So yeah, the way the daemonsets are set up currently, we should not be testing that you can delete the ovnkube pods when using shared gateway mode.

We should probably move the ovs pods out of the ovnkube-node DaemonSet into a separate DaemonSet, and note that (a) you only need to run that DS if you don't have OVS on the host, and (b) if you run OVS in containers in shared gateway mode, then it's

[2020-08-10 15:07] aojea commented on #1599
I think that the test scenarios should be as close as possible to production, so I modified the CI to run OVS in the nodes instead of pods.

https://github.com/ovn-org/ovn-kubernetes/pull/1561/commits/26e10f9b42bc035e5436bc0fa6679655aef147de

[2020-08-10 17:24] aojea commented on #1584
another occurrence https://github.com/ovn-org/ovn-kubernetes/runs/967329034?check_suite_focus=true
[code]

after this all test fails timing out, it seems is blocking the DNS requests

[code]

[2020-08-10 20:03] aojea commented on #1584
While debugging this I realized we are processing events that are set for deletion

[code]

this may cause inconsistencies, fix here https://github.com/ovn-org/ovn-kubernetes/pull/1604

[2020-08-10 21:36] vjayaramrh opened #1605 "create scripts to generate mocks for interfaces in third party libraries and interfaces in ovn-kubernetes repo"
currently, our unit tests are generating mocks using vektra/mockery for both third party libraries and some interfaces defined in ovn--kubernetes/go-controller/pkg directories to help with unit tests. Having a script to generate this automatically whenever the interfaces are updated would be beneficial.

[2020-08-11 07:42] mkfsn opened #1609 "invalid command ovs-metrics"
Hi, I followed the setup in the [README](https://github.com/ovn-org/ovn-kubernetes/blob/1f5e4c9/README.md) but the `ovnkube-node` pod keeps crashing.

It seems to me that the docker image is outdated (although it's `latest`) because I saw the following error in the `ovs-metrics-exporter` container:

[code]

but I also see the `ovs-metrics` in the master branch:

https://github.com/ovn-org/ovn-kube

[2020-08-11 11:44] adrianchiris commented on #1558
Updated link to the doc.
https://docs.google.com/document/d/11IoMKiohK7hIyIE36FJmwJv46DEBx52a4fqvrpCBBcg/edit?usp=sharing

[2020-08-11 19:42] danwinship commented on #1609
You should build your own ovnkube image... I'm not sure how often we update the "official" image, but it definitely doesn't track git master closely

[2020-08-17 15:20] vjayaramrh opened #1619 "include a short write up about how mocks are organized for unit testing"
This issue is to track and resolve the comment raised by @astoycos for the PR https://github.com/ovn-org/ovn-kubernetes/pull/1602

[2020-08-19 02:23] trozet opened #1624 "network policy flakes"
See in this run there are a handful of flakes:
https://github.com/ovn-org/ovn-kubernetes/pull/1593/checks?check_run_id=999835669

[Fail] [sig-network] NetworkPolicy [LinuxOnly] NetworkPolicy between server and client [It] should enforce multiple egress policies with egress allow-all policy taking precedence [Feature:NetworkPolicy]
/home/runner/go/src/k8s.io/kubernetes/_output/local/go/src/k8s.io/k

[2020-08-19 02:57] trozet commented on #1624
more here: https://github.com/ovn-org/ovn-kubernetes/pull/1620/checks?check_run_id=999949171

[2020-08-19 03:05] #1478 closed

[2020-08-19 17:49] vpickard commented on #1624
cc @vpickard

[2020-08-19 17:49] vpickard commented on #1624
/assign @vpickard

[2020-08-20 19:41] #1588 closed

[2020-08-21 13:55] trozet opened #1632 "Support external gateway migration from hybrid overlay to OVN"
With adding the capability for multiple external gateways (pod or external) using OVN, we need to deprecate the old method using hybrid overlay with vxlan. However for the time being, we need to provide a migration path. In order to limit the amount of downtime for pods in a namespace using external gateways a user needs to:

1. Create external gateways with the new annotations (namespace or pod)

[2020-08-21 18:51] #400 closed, assigned to nobody

[2020-08-21 18:51] #395 closed, assigned to nobody

[2020-08-21 18:52] #394 closed, assigned to nobody

[2020-08-21 18:57] #599 closed, assigned to nobody

[2020-08-21 19:08] #309 closed, assigned to nobody

[2020-08-21 19:08] #427 closed, assigned to nobody

[2020-08-24 14:15] TrevorTaoARM opened #1634 "Could we officially announce the Arm64 support of Ovn-Kubernetes?"
Since we had have the needed image build files (Dockerfile, Makefile) for the arm64 platform which had been tested to be ok( with the effort by Trevor Tao, Dan Williams, Girish Moodalbail, Dan Winship and other guys from the ovn-org community) and the install script(install-ovn-k8s.sh) also supports the installation of ovn-k8s on arm64 platform, so could we officially annouce that the OVN-Kubernet

[2020-08-24 14:39] Billy99 commented on #1141
The following PRs were merged to address this issue:
#1462 - Update shared gateway to support IPv6/Dualstack
#1623 - IPv6 Shared-Gateway fixes
#1627 - Use flood for shared gw

[2020-08-24 15:07] danwinship commented on #1141
OK, this is mostly working at this point. Anything further can be individual bugs/PRs.

[2020-08-24 15:07] #1141 closed

[2020-08-25 05:49] TrevorTaoARM commented on #858
It's ok now. Close it. Thanks.

[2020-08-25 05:49] #858 closed

[2020-08-25 11:44] mikonse opened #1635 "NetworkPolicy on okd 4.5 not working properly"
Hi there,
when migrating our okd 4.5 cluster from the openshift sdn to ovn-kubernetes we are running into a couple problems.
One of those is that NetworkPolicies do not work properly anymore.

Namespaces without any Policies allow all egress and ingress traffic (as expected), when adding a default policy to allow all ingress traffic no traffic is blocked as well.
[code]
When, however, adding a mor

[2020-08-25 21:55] trozet commented on #1635
Thanks @mikonse for filing this and the explanation. We know there are network policy bugs right now see #1624

Assigning this to Vic. One of us will get to the bottom of it soon.

[2020-08-25 21:56] trozet commented on #1635
@vpickard FYI

[2020-08-26 06:57] mikonse opened #1638 "Latency Issues on okd 4.5"
Hi there,
when migrating our okd 4.5 cluster from the openshift sdn to ovn-kubernetes we are running into a couple problems.
One of those is that we are experiencing varying network latencies in our cluster.
More specifically, we encountered the problem with our installed operators as querying the kubernetes/openshift API sometimes has such a large delay/latency that some of the operators crash du

[2020-08-27 03:49] trozet commented on #1635
@mikonse I just tried to reproduce this on our latest master (4.6) and I'm able to ping between 2 pods after applying the allow-same-namespace policy. In order to get some more output you can login to your ovnkube-db pod and see the ACLs by doing commands like this:

[code]

Above I can see a port group was created for my 2 pods in my namespace. If i look at the at the ACLs on that port group:
[co

[2020-08-27 17:36] trozet commented on #1624
We found the root cause of the failure for "should stop enforcing policies after they are deleted" test is due to allow-related acl changes. Reverting in this PR:
https://github.com/ovn-org/ovn-kubernetes/pull/1641

[2020-09-01 13:28] roytman opened #1650 "Missing CRD definitions"
Hi guys,
I deployed ovn-kubernetes on my cluster according to the instructions from the [README.md](https://github.com/ovn-org/ovn-kubernetes/blob/master/README.md#run-daemonset-and-deployment) file.

All pods successfully started, but the CNI configuration files (10-ovn-kubernetes.conf) were not created.
The `ovnkube-node` files contained a lot of messages like:

E0830 10:03:14.054768   19327 ref

[2020-09-01 19:28] mansikulkarni96 commented on #1562
Closing this issue as the PR for addressing this issue has been merged.

[2020-09-01 20:39] danwinship commented on #1650
Probably, but I think we had decided that ovn-kubernetes is expected to work fine (ie, error-free) if you don't install the CRDs as long as you don't enable the features? @alexanderConstantinescu ?

[2020-09-02 07:27] mikonse commented on #1635
Ok, so after checking the ACLs for my namespace and its pods I might have found the cause of the problem.

Running `ovn-nbctl  list port_group` lists acls for all of the network policies, including the one for same namespace, however, when looking at the address sets used by those ACLs they only contain IPs of normal Pods, excluding the IPs of privileged Pods running on the host network as DeamonS

[2020-09-02 10:38] alexanderConstantinescu commented on #1650
Sorry for that, I just double checked and it seems we do create the informer even if ovn-kubernetes has disabled egress IP. I will submit a PR with a fix for that.

[2020-09-02 14:50] danwinship commented on #1635
Ah. NetworkPolicy does not apply to hostNetwork pods.

(In particular, there is no way to distinguish traffic coming from different hostNetwork pods on the same node, so there is no way you could have different policies applying to different hostNetwork pods on the same node.)

In openshift-sdn, NetworkPolicy behaves as though _all_ ingress traffic from outside the pod network (including traffic f

[2020-09-02 15:24] danwinship commented on #1650
README fixed by #1651 and the warnings will be fixed by #1656

[2020-09-02 15:24] #1650 closed

[2020-09-02 15:41] mikonse commented on #1635
That makes a lot of sense, thanks for the clarification.

What would be the recommended way of allowing host network pods?
Explicitely allow the host IPs in a Policy or is there another flag one could set?

[2020-09-03 15:33] trozet opened #1660 "ACLs using wrong IP + Mask in network policy"
We can see in the ovn-controller logs:

2020-09-02T21:07:32.482555025Z stdout F 2020-09-02T21:07:32.478Z|00195|lflow|WARN|error parsing match "((ct.new && !ct.est) || (!ct.new && ct.est && !ct.rpl && ct_label.blocked == 1)) && (ip4.dst == {10.244.2.81/24} && inport == @a6662893649192231225)": Value contains unmasked 1-bits.

@dceara pointed to a feature to handle this for a user in OVN:
https://gi

[2020-09-03 15:39] trozet commented on #1660
I0902 21:07:32.329191      54 policy.go:668] Network policy egress is {Ports:[] To:[{PodSelector:nil NamespaceSelector:nil IPBlock:&IPBlock{CIDR:10.244.2.81/24,Except:[10.244.2.81/32],}}]}

[2020-09-03 15:40] trozet commented on #1660
I0902 21:07:32.368492      54 ovs.go:162] exec(2094): /usr/bin/ovn-nbctl --timeout=15 --id=@acl create acl priority=1001 direction=to-lport match="ip4.dst == {10.244.2.81/24} && inport == @a6662893649192231225" action=allow external-ids:l4Match="None" external-ids:ipblock_cidr=true external-ids:namespace=network-policy-2143 external-ids:policy=deny-client-a-via-except-cidr-egress-rule external-ids

[2020-09-03 15:46] danwinship commented on #1660
I disagree with "handling" it; if the user says to block access to `10.244.2.81/24`, you don't know whether they really meant `10.244.2.0/24` or `10.244.2.81/32`, and it's better to treat it as an error than to silently end up doing the wrong thing

[2020-09-03 15:51] danwinship commented on #1660
one source of these just got fixed in the networkpolicy e2e tests upstream: https://github.com/kubernetes/kubernetes/pull/93583#pullrequestreview-458806141

[2020-09-04 14:26] aojea opened #1663 "[failing test]NetworkPolicy between server and client should ensure an IP overlapping both IPBlock.CIDR and IPBlock.Except is allowed"

[2020-09-04 15:35] aojea opened #1664 "[failing test] Conntrack should be able to preserve UDP traffic when server pod cycles for a NodePort service"
[Fail] [sig-network] Conntrack [It] should be able to preserve UDP traffic when server pod cycles for a NodePort service
/home/runner/go/src/k8s.io/kubernetes/_output/local/go/src/k8s.io/kubernetes/test/e2e/network/conntrack.go:195

_Originally posted by @aojea in https://github.com/ovn-org/ovn-kubernetes/pull/1658#issuecomment-687222115_

[2020-09-08 02:55] roytman opened #1669 "Missing the ovnsb_db.sock file"
According to  `debugging.md`, all nodes should register with OVN SB database, which can be validate by [ovn-sbctl list chassis](https://github.com/ovn-org/ovn-kubernetes/blob/master/docs/debugging.md#all-nodes-should-register-with-ovn-sb-database).

However, when I ran this command on my master node, it stucked.
`ovn-sbctl -v list chassis` provided the following output:

`ovn-sbctl -v list chassis

[2020-09-08 11:17] danwinship commented on #1663
Do we really need this separately from #845?

[2020-09-08 12:41] aojea commented on #1663
nope

[2020-09-08 12:41] #1663 closed

[2020-09-08 16:00] JacobTanenbaum commented on #845
/assign @JacobTanenbaum

[2020-09-08 19:36] #1599 closed

[2020-09-09 15:15] roytman commented on #1669
In addition to the issue mentioned above, I see the following error in `/var/log/ovn-kubernetes/ovnkube.log`
[code]

`/var/run/openvswitch/ovnnb_db.ctl ` exists in the `nb-ovsdb` container filesystem, and is not accessible outside of the container.

Should the mount points of `sb-ovsdb` and `nb-ovsdb` be changed from `/var/run/ovn/` to `/var/run/openvswhich/` ?

[2020-09-10 06:35] jomeier commented on #1638
@mikonse
Could you attach your test script? It might be helpful to reproduce the problem.

[2020-09-10 08:35] danielmellado opened #1681 "Improve documentation"
As of now, all the documentation is somehow around in the wiki, and I think having a more organized and built in-repo docs would help contributing and understanding of the project. I was thinking about having something similar to what cillium has for docs [1]. I'll be adding a PR for this but would love some feedback on the effort. Thanks!

[1] https://docs.cilium.io/en/v1.8/intro/
     https://gi

[2020-09-10 16:34] JacobTanenbaum opened #1683 "Network policy test for ipBlock only supports ipv4"
the network policy test

should ensure an IP overlapping both IPBlock.CIDR and IPBlock.Except is allowed [Feature:NetworkPolicy]

only supports ipv4 with the current version of e2e tests

[2020-09-11 18:26] #1669 closed

[2020-09-11 19:06] danwinship opened #1690 "add --node-ip flag"
In shared gateway mode, ovnkube tries to figure out the correct node IP(s) (`getNetworkInterfaceIPAddresses`) but when ovnkube is being run in a pod, we should just have kubelet pass it the node IP via downward API instead (eg, as in https://github.com/openshift/cluster-network-operator/pull/535/files).

(This could also replace the default value of `--encap-ip`)

I guess to make this work complet

[2020-09-12 02:33] nandakishorepeddi opened #1693 "[Help] How to add external node to the cluster using OVN-Kubernetes CNI Plugin."
I am using Openshift container Platform 4.5, I migrated from default Openshift-SDN CNI plugin to OVN-Kubernetes CNI.
But I would like to add new external nodes (machines) as the endpoints to my OCP (openshift) cluster as a dummy node to add as an endpoint. So this external nodes can access the pods directly using GENEVE Protocol. This i used to do earlier with openshift-sdn by adding the hostsubne

[2020-09-12 02:50] nandakishorepeddi commented on #1693
In fact external host needs only access to the pods inside the cluster. and external host neither have any pods running
 nor schedule any pods.

[2020-09-14 14:22] roytman opened #1695 "Old ovn/ovs packages in the Ubuntu 18.04 based image."
`make ubuntu` command creates the `ovn-kube-u` images with several OVN, OVS packages installed into it.
`RUN apt-get update && apt-get install -y openvswitch-switch openvswitch-common ovn-central ovn-common ovn-host kubectl`

The Ubunty repository contains relatively old packages (2.9.5) for Ubuntu v18.4.
[code]

As result I observed the following errors with running `/usr/bin/ovn-nbctl`
from the

[2020-09-14 15:04] girishmg commented on #1695
@roytman this is the right thing to do.

[2020-09-15 08:54] dceara opened #1704 "Add e2e test for IPv4/IPv6 multicast snooping/relay"
Currently there's no e2e test for namespace IPv4/IPv6 multicast pod to pod traffic. Having a test that brings up a couple of pods and makes sure that multicast traffic flows properly when `k8s.ovn.org/multicast-enabled=true` would be nice.

[2020-09-15 17:43] #845 closed

[2020-09-16 16:14] aojea opened #1707 "fix unit test flakes"
We have several known flakes in the CI.

There are several reasons why a test can be flake, a good resource to learn more about golang testing and flakes can be found here
- https://gist.github.com/liggitt
- https://youtu.be/Ewp8LNY_qTg

There are several tools we can use, one is to enable the race detector to warn us if we can have race conditions

https://github.com/ovn-org/ovn-kubernetes/pull/1

[2020-09-16 17:25] alexanderConstantinescu commented on #1707
How about also re-instating the race detector for e2e test, like https://github.com/ovn-org/ovn-kubernetes/pull/1575 did? As a later step of course, I would imagine already having a stable build with unit tests running with the race detector on is step 1.

[2020-09-17 16:19] #1695 closed

[2020-09-18 09:49] anildhingra opened #1712 "Joining worker nodes fails with IPv4 also"
✗ **Joining worker nodes** 🚜
ERROR: failed to create cluster: failed to join node with kubeadm: command "docker exec --privileged ovn-worker kubeadm join --config /kind/kubeadm.conf --ignore-preflight-errors=all --v=6" failed with error: exit status 1
Command Output: I0918 09:40:33.917492    1244 join.go:398] [preflight] found NodeName empty; using OS hostname as NodeName
I0918 09:40:33.917539

[2020-09-18 10:16] anildhingra commented on #1712
with latest version same

**[root@ovn contrib]# kind version**
kind v0.9.0 go1.15.2 linux/amd64

may be due to below

**root@ovn-worker:/# systemctl status kubelet.service**
● kubelet.service - kubelet: The Kubernetes Node Agent
     Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: enabled)
    Drop-In: /etc/systemd/system/kubelet.service.d
             └─10-kubeadm.con

[2020-09-18 14:01] danwinship commented on #1690
Currently we have `util.GetNodePrimaryIP`, `getDefaultIfAddr`, and `getNetworkInterfaceIPAddresses`, each of which does something slightly different and each of which is only used from a single place.

We may not need to bother passing the IP in from kubelet since ovnkube-node depends on being able to fetch its `v1.Node` object from the apiserver fairly early in startup anyway.

[2020-09-19 20:05] danwinship commented on #1704
Downstream (currently openshift-sdn-only) test: https://github.com/openshift/origin/blob/master/test/extended/networking/multicast.go

It makes use of [this image](https://github.com/openshift/test-multicast/blob/master/image/Dockerfile) because there weren't any other images available that had any tools in them that seemed useful for testing multicast.

[2020-09-24 16:46] vpickard commented on #1707
/cc @vpickard

[2020-09-24 17:07] #1632 closed

[2020-09-28 07:44] dceara commented on #1704
@danwinship Thanks! This would be ideal for ovn-kubernetes too. I'll try to adapt this and pull it in the upstream e2e ov-kubernetes tests.

[2020-10-07 08:01] amorenoz commented on #1609
I hit the same issue, maybe the REAMD.md could be updated to reflect that?

[2020-10-20 15:29] #1619 closed

[2020-10-23 04:50] eformat commented on #1635
Hi .. i have been testing out a similar issue on 4.6.0-rc4 with OVNKubernetes,  (caveat, i know 4.6 is pre-release as is OVNKubernetes), but using a ingress router shard

I'm happy to raise another issue, or do some more debugging on this use case, although not 100% sure where to look now - ACL's debugging in OVN?

[code]

the 4.6 docs suggest this should work - do the docs hold true for OVNKubern

[2020-10-23 12:52] danwinship commented on #1635
As mentioned above, that documentation ("When running on the host network, the traffic from the Ingress Controller is assigned the netid:0 Virtual Network ID (VNID)") is specific to openshift-sdn. There is no way to do this in ovn-kubernetes (or most other plugins) besides using an `ipBlock`, or by using a policy that matches only the `ports`, not the IP

[2020-10-25 23:50] eformat commented on #1635
thanks @danwinship .. ok, will try to achieve the same with ipBlock see how i go

[2020-10-26 18:55] roytman opened #1776 "Support nodeport-addresses (NodePort IP ranges)"
From Kubernetes [Support specifying NodePort IP range](https://stupefied-goodall-e282f7.netlify.app/contributors/design-proposals/network/nodeport-ip-range/) proposal:

In order to resolve this issue, Kubernetes v1.10 added the `--nodeport-addresses` kube-proxy flag.

I did not find a similar ovn-kubernetes feature, therefore I suggest to add it, at least in order to be compatible with kube-proxy.

[2020-10-27 18:47] dave-tucker opened #1780 "unit test flake: WatchFactory correctly orders serialized informer initial add events and subsequent update event"
[code]

I've seen this numerous times in CI.
Creating an issue here so it can be tracked.

[2020-10-27 21:57] jayunit100 opened #1782 "new networkpolicy validation results: Egress policys freeze"
Hi ovn k8s ! looks like we have some failing network policy tests in the new framework

See https://github.com/kubernetes/kubernetes/pull/91592 for methodology on reproducing these

These tests pass on calico, antrea, and cillium alike, so im assuming they are bugs in OVN-k8s.

Would like to get some of these evaluated

**UPDATE (11/5)**

- There was one important failure that was a core issue, no

[2020-10-28 19:59] trozet commented on #1782
Hi @jayunit100 for the "named port" ones. We don't support named ports with ovn-kubernetes. I'll have to take a closer look at the other ones.

[2020-11-02 12:17] danwinship commented on #1782
@trozet note that this refers to not-yet-merged-to-master tests in an upstream kubernetes PR

@jayunit100 What exactly do these tests do? We pass the tests with similar-sounding names in the existing suite.

Note that one problem we have is that we flake on some of these tests because we can be slower to apply policies in some cases than the test suite wants. Someone is looking into fixing that wi

[2020-11-02 13:13] jayunit100 commented on #1782
Iirc a few spot checks confirmed some of these tests failed on the **existing** upstream tests as well .

We recently added retries to be more forgiving , So I'm happy to close this if your confident there are not issues here.

Pretty soon we will be running this (and other CNIs) in test grid so the skeletons will come out if any exist .

[2020-11-02 15:15] trozet opened #1794 "Fix scaling of SNAT entries with egress gw"
With egress gw and enabling SNAT, we create a SNAT entry per pod, whether it is an egress gw pod or a regular pod. This creates a lot of entries. One way to cut down on this is by making a single SNAT entry for all non-egress gw pods (cluster ip subnet as is done previous to egress gw). This works because OVN does longest prefix match even for SNAT entries

[2020-11-03 12:48] jayunit100 commented on #1782
Im retesting this now, ... will update soon

[2020-11-03 16:03] jayunit100 commented on #1782
So I looked closer at the tests.
[code]

I think, looking at the yaml outputs, that  it all comes down to `named ports`.

@danwinship , do you have a plan on supporting those soon ? If not I think I can modify all our tests to explicitly call out the ones which do , and do not, use named ports, so that we can skip named port tests for ovn.

[2020-11-04 00:22] jayunit100 commented on #1782
assuming it might be worth leaving open to revisit in the future but for now not an important thing to address

[2020-11-04 17:16] jayunit100 commented on #1782
[code]

FYI, were seeing that containers a, b, and c, in general are not able to connect to **anything** (all are living inside of the x namespace).

[code]

So, what were seeing here is that the EGRESS Policy in ovn is NEVER cleaned up somehow, and so the `netpol-x` namespace is forever in the dark , even after 10 minutes or longer of deleting **all** network policies

[2020-11-04 19:02] jayunit100 commented on #1782
anecdotally, was pokingaround with @ravisantoshgudilmeta and saw a bunch of these logs in ` kubectl logs  ovs-node-zk72r           -n ovn-kubernetes` ... not sure if this is related ....

[code]

and just for completeness, the original policy that seems to not get cleaned up is:

[code]

[2020-11-04 19:11] trozet commented on #1782
after debugging with @jayunit100 and @aojea there is a legit bug, where we do not remove ports from the default egress deny port group when the policies are deletes off the namespace. They are however removed from ingress default port group. Looking into why now...

[2020-11-04 20:53] trozet commented on #1782
The problem stems from the changes here: https://github.com/ovn-org/ovn-kubernetes/pull/1665/files#diff-cc83e19af1c257d5a09b711d5977d8f8c20beb34b7b5d3eb37b2f2c53ded1bf7R450

We dont actually have any egressPolicies, we just have egress policy type. That is no longer being checked, so we skip removing the port from the egress default deny policy. Example network policy that triggers the problem:

[

[2020-11-04 20:54] trozet commented on #1782
@astoycos has volunteered to fix this and he's refactoring all this code as well.

[2020-11-05 11:58] aojea opened #1801 "import ginkgo and gomega using PackageName"
Currently we are importing ginkgo and gomega using the ".",  i.e.

https://github.com/ovn-org/ovn-kubernetes/blob/4d3e5674e6977cc9ece447c77458d38c45747101/go-controller/pkg/config/config_test.go#L16-L17

that implies that all the package exported identifiers declared into

Due to this is not possible to update ginkgo and gomega dependencies, because there are conflicts with the exported identifier

[2020-11-05 12:38] jayunit100 commented on #1782
updated issue name to reflect the core issue

[2020-11-05 14:30] abhat opened #1802 "ovn-kubernetes doesn't provide a way to configure the join subnet"
If a user configures a cluster/service CIDR that overlaps with the internal join subnet of 100.64.0.0/16, the configuration results in an error when bringing up master pods -

[code]

ovn-k should provide a way to configure the v4 and v6 join subnet.

[2020-11-05 14:32] abhat commented on #1802
/assign

[2020-11-06 21:05] #1782 closed

[2020-11-07 13:34] aojea opened #1807 "[Job Failures] ovn-ci / e2e (shard-conformance, false, true, HA, shared, ipv6, IPv6, false, true) Fail to deploy"
This job is failing constantly lately, the deployment is not healthy and the job does not run the tests.

Seems the CoreDNS pods are not able to get ready
[code]
It looks like the pods are correctly plugged into the network
[code]

It seems that Services are not working, because they are not able to reach the API on the ClusterIP

[code]

the load balancer service seems is created correctly
[code]

[2020-11-08 13:06] OmerBenHayun commented on #1801
/assign

[2020-11-08 13:08] OmerBenHayun commented on #1801
/assign

[2020-11-09 07:46] aojea commented on #1801
updated the info, @sheetalsingala @OmerBenHayun if you want to work on this please sync to not duplicate the effort.
One options is to submit one PR per folder, `pkg/ovn`, `pkg/cni`, ...

[2020-11-09 13:48] sheetalsingala commented on #1801
I will be working on `pkg/cni`, `pkg/config`, `pkg/informer`, `pkg/factory`, `hybrid-overlay` and `pkg/node`

[2020-11-10 17:03] alexanderConstantinescu commented on #1794
Turns out this is not an issue. We actually perform this operation here: https://github.com/ovn-org/ovn-kubernetes/blob/master/go-controller/pkg/ovn/gateway_init.go#L308-L330 . I created a kind cluster and launched the e2e test called `Should validate connectivity to the vxlan interface simulating an external gateway and validate traffic was encapsulated` the only SNAT entries found on the GR (whi

[2020-11-10 17:03] #1794 closed

[2020-11-11 09:46] OmerBenHayun commented on #1801
I did the rest: `pkg/ovn` and `pkg/util`.

[2020-11-11 14:14] trozet opened #1825 "informer_test flake: processes an add event"
https://github.com/ovn-org/ovn-kubernetes/pull/1818/checks?check_run_id=1382596744

Informer Event Handler Tests
  processes an add event
  /home/runner/work/ovn-kubernetes/ovn-kubernetes/go-controller/pkg/informer/informer_test.go:74
I1110 23:36:04.819179   11890 informer.go:178] Starting test informer queue
I1110 23:36:04.819534   11890 informer.go:180] Waiting for test informer caches to sync
I

[2020-11-11 14:30] trozet opened #1826 "unit test flake: OVN Egress Gateway Operations on setting pod gateway annotations reconciles deleting a host networked pod acting as a exgw for another namespace for existing pod"
https://github.com/ovn-org/ovn-kubernetes/pull/1818/checks?check_run_id=1385515021
[code]

[2020-11-11 14:52] trozet opened #1828 "Service/Endpoint code cleanup"
In services.go and endpoints.go there's a lot of duplication of code. There looks to be some room for code improvement by breaking things up into functions.

[2020-11-11 16:08] trozet commented on #1828
I just remembered @aojea is already working on refactoring some of this stuff I think so assigning to him

[2020-11-11 16:18] aojea commented on #1828
This is a great idea

I think that my PR can serve as example on the directions.

I think this is a good exercise for new contributors to get used with the codebase

[2020-11-11 18:34] #1825 closed

[2020-11-12 02:15] #1780 closed

[2020-11-12 22:15] trozet opened #1835 "Check IP family for exgws (dualstack)"
If someone annotates a namespace or pod with IPs of a certain family (v4 or v6), we need to ensure that when we add the routes for the pods that gateway that we only use the correct IP family addr of the pod. We may also need to create a reject ACL for traffic that comes from the pod in an exgw namespace that is missing a gateway in a particular ip family.

We also need to add e2e tests to ensure

[2020-11-12 22:15] trozet commented on #1835
@danwinship FYI since this is dualstack related

[2020-11-16 11:15] zshi-redhat opened #1842 "Annotate pod with ovs-hw-offload status"
When pod is created with a switchdev VF device (ovs-hw-offload enabled pod) there is not an easy way for user to tell whether it is a regular pod or hw-offloaded pod.

In order to check the pod is using ovs-hw-offload, user has to do the following steps:
1) check the net-attach-def via the pod annotation: `v1.multus-cni.io/default-network: <net-attach-def-name>`
2) query the net-attach-def through

[2020-11-16 11:15] zshi-redhat commented on #1842
/cc @moshe010

[2020-11-16 15:12] dcbw commented on #1801
@aojea is it that Ginkgo and Gomega have clashing exports, or that OVN clashes with one or both of those?

[2020-11-16 16:25] aojea commented on #1801
this ^^, and due to that we can 't bump the ginkgo/gomega deps

[2020-11-17 19:16] moshe010 opened #1848 "ovnkube master stuck when egress ip crd is not deployed"
We the master code if you don't deploy the egress k8s.ovn.org_egressfirewalls.yaml and k8s.ovn.org_egressips.yaml
the master show the following error:
E1117 19:15:44.920327      52 reflector.go:178] pkg/crd/egressip/v1/apis/informers/externalversions/factory.go:117: Failed to list *v1.EgressIP: the server could not find the requested resource (get egressips.k8s.ovn.org)
E1117 19:15:44.920327

[2020-11-18 15:59] trozet commented on #1848
@JacobTanenbaum will take this

[2020-11-18 17:21] dcbw commented on #1801
@aojea so... why don't we just change OVN? what bits clash? I'd rather fix OVN than do the naming prefix for the ginkgo/gomega stuff everywhere :(

[2020-11-18 17:42] aojea commented on #1801
having dot imports is risky, you never known if some of the imports will clash sooner or later
https://github.com/golang/go/issues/29326#issuecomment-516425395

TIL, it seems to be the pattern in ginkgo and gomega users based on the thread I linked.
I'm clearly in favour of removing the dot import and make it explicit to avoid risks, over readability, but is an opinion like any other ...

[2020-11-18 20:29] JacobTanenbaum commented on #1848
the egressFirewall is fine whether or not the egressFirewall CRD is present, there was an issue with the `--enable-egress-ip` flag not working as intended. In order to deploy without egressIP you need to remove the CRD and deploy without ``--enable-egress-ip`

[2020-11-19 15:27] mangelajo opened #1853 "Contribute goovn mocks to ebay/go-ovn"
It'd be cool to have your mocks in ebay/go-ovn library

 https://github.com/ovn-org/ovn-kubernetes/blob/56e9f53af3fa8f6625d67e210f2df27b3e0a6c49/go-controller/pkg/testing/mock_ovn.go

@abhat @cathy-zhou

[2020-11-19 21:15] vjayaramrh opened #1854 "Code Review comment: Consider renaming the struct fields in pkg/testing/testifymockhelper.go"
Refer @JacobTanenbaum code review comments for context at https://github.com/ovn-org/ovn-kubernetes/pull/1849#discussion_r526948522

additionally, resolve @JacobTanenbaum comment at https://github.com/ovn-org/ovn-kubernetes/pull/1849#discussion_r526952387 as well

[2020-11-24 16:16] #1848 closed

[2020-11-29 06:10] ravisantoshgudimetla opened #1873 "Add priority flag for hybrid-overlay on Windows hosts"
What is the problem you're trying to solve

On Windows hosts, there is a chance that the hybrid-overlay process won't get enough CPU cycles because of the default priority set for the Windows process.

xref: kubernetes/kubernetes#95735 (comment)

Describe the solution you'd like

Having an additional flag to hybrid-overlay similar to what we did for  [kubelet](https://github.com/kubernetes/kuberne

[2020-12-01 20:57] JacobTanenbaum opened #1880 "EgressDNS will need to resolve DNS names on the nodes"
while writing e2e tests for https://github.com/ovn-org/ovn-kubernetes/pull/1597 in the CI the nodes always seemed to resolve the DNS names to different IP addresses then the master did, while locally on a kind cluster the DNS names resolve the same it is clear that for the proper functionality to occur nodes will need to resolve them as well

[2020-12-02 22:02] aojea commented on #1880
can you elaborate on this?, is difficult to me to understand this sentence

what are the CI nodes and the masters here?

[2020-12-03 13:45] JacobTanenbaum commented on #1880
currently the egressFirewall DNS name enhancement is written in such a way that the ovnkube-master pod  resolves the DNS name to ip addresses and builds the address_set off those IP addresses the assumption being that pods on worker nodes will resolve IPs to one in that set. That assumption held true locally in kind clusters but once the PR was uploaded and the automated testing ran the pod deploy

[2020-12-03 13:48] aojea commented on #1880
the CI needs to patch CoreDNS to work in an offline environment (for IPv6)

https://github.com/ovn-org/ovn-kubernetes/blob/c9555e70e4d813b1abb9daba344ee8b55c3b2584/contrib/kind.sh#L287-L312

[2020-12-03 18:56] trozet opened #1888 "Enhance OpenFlow Manager"
Shared gateway mode has a primitive way of programming and tracking flows. Look at replacing it with the cache method we used in hybrid overlay and making it more robust. For example, instead of counting the number of flows with a cookie to determine if the flows are stale, use a cache of flows to compare against. Also, dont program each flow with separate calls to ofctl add-flow, replace them all

[2020-12-07 17:41] trozet commented on #1664
resolved by https://github.com/ovn-org/ovn-kubernetes/pull/1889

[2020-12-07 17:41] #1664 closed

[2020-12-09 18:29] aojea opened #1907 "[Fail] [sig-network] Services [It] should implement service.kubernetes.io/headless"
The test work with the new Service Controller implemented in https://github.com/ovn-org/ovn-kubernetes/pull/1898

It seems that the previous/current implementation of services doesn't support this case

https://github.com/kubernetes/kubernetes/blob/125530629a90b1af166aa3ed85970173014f9958/test/e2e/network/service.go#L2618-L2626

[2020-12-09 23:52] #1550 closed

[2020-12-09 23:52] #1528 closed

[2020-12-17 20:01] trozet opened #1922 "Add e2e test to ensure multiple-gws works with fragmentation"
If we send a giant UDP packet on egress from a pod, we should verify that when it fragments it all goes to the same destination GW.

[2020-12-21 06:49] xinghaipiaozhou commented on #1609
how to  build my own ovnkube image?

[2020-12-22 17:00] JacobTanenbaum opened #1929 "No validation of dnsName for egressFirewallDNS"
there is no validation for the dnsName in egressFirewall. I am not really sure how we want to deal with this I am putting it here so I don't loose track of the work.

There are two issues that I can see and feel free to add any more

- [ ] while not an issue unless it resolves to anything there is nothing preventing from adding DNS names that share namespace names which will cause the egressFirewa

[2020-12-25 02:57] zshi-redhat opened #1933 "ovs hw offload: rename vf rep to its original one"
VF repo is renamed with last 15 bits of container ID when attaching to ovs bridge, but it is not restored when released from pod/container, this will result in the vf representor name being a container ID that gets removed.
Possible fix might be: Cache the original vf rep name and restore upon pod deletion (cmdDel)

[2020-12-25 02:59] zshi-redhat commented on #1933
/cc @moshe010 @adrianchiris

[2020-12-28 06:31] azure-lio commented on #839
@autumn0207

Have you solved this problem? I build a enviroment as the openstack reference  ,but also I meet the same error as yours. My linux is centis 7.8, kernel is 3.10.0-957.el7.x86_64,ovs 2.11 ,NIC is Mellanox cx5

offload referenece: https://docs.openstack.org/neutron/queens/admin/config-ovs-offload.html

[2020-12-28 07:29] moshe010 commented on #839
you need connection tracking support.
It in kernel 5.7 or above and ovs 2.13 see https://github.com/ovn-org/ovn-kubernetes/blob/master/docs/ovs_offload.md

[2020-12-28 08:45] azure-lio commented on #839
@moshe010
Thanks a lot for your replay.I am not clear whether the kenerl >=4.13 is necessary, because Someone told me they have used the Centos 7.6 with linux kernal 3.10.0-957.el7.x86_64，and ovs 2.11 to offload vxlan encap and decap to the Mellanox CX5 successfully.
 And also there are  some Mellanox support Applications notes give an successful example with Centos7.5 ：
 https://www.mellanox.com/

[2020-12-29 09:52] moshe010 commented on #839
kernel 4.13 was support for just vxlan without security groups (security groups uses connection tracking). ovn kubernetes need geneve and connection tracking to work (there is no way to disable it like it is in openstack). The flow that you are sawing is arp which is not offloaded anyway so it ok it failed to offloaded it.
with connection tracking we can offload only tcp and udp traffic. ICMP will

[2021-01-13 00:00] girishmg opened #1946 "make check fails when run on a linux desktop in the HO code"
We consistently hit DATA RACE issue while running `make check` against upstream HEAD.

[code]

[2021-01-13 15:41] trozet opened #1948 "Ensure multicast ipv6 E2E tests are enabled"
This depends on an update to the iperf test image.

[2021-01-13 15:41] trozet opened #1949 "Enable ipv6 multicast E2E tests"
This depends on an update to the iperf test image.

[2021-01-13 16:59] astoycos opened #1950 "Implement Kubernetes `ExternalTrafficPolicy`"
As exposed by https://bugzilla.redhat.com/show_bug.cgi?id=1903408, it is clear that currently OVN-K8s does not implement the Kubernetes Nodeport Service `externalTrafficPolicy` flag.  A short description for the feature can be shown below

[code]
Once the move back to shared gateway is solidified we can continue the architecture discussion for the feature, this issue will serve as a placeholder fo

[2021-01-13 16:59] astoycos opened #1951 "Implement Kubernetes externalTrafficPolicy"
As exposed by https://bugzilla.redhat.com/show_bug.cgi?id=1903408, it is clear that currently OVN-K8s does not implement the Kubernetes Nodeport Service `externalTrafficPolicy` flag.  A short description for the feature can be shown below

[code]
Once the move back to shared gateway is solidified we can continue the architecture discussion for the feature, this issue will serve as a placeholder fo

[2021-01-13 17:30] #1946 closed

[2021-01-13 19:49] #1835 closed

[2021-01-16 19:17] girishmg commented on #1950
closing this as duplicate of #1951

[2021-01-16 19:17] #1950 closed

[2021-01-16 19:54] girishmg opened #1961 "hit a fatal error while running make check in hybrid overlay code"
------------------------------
Hybrid SDN Master Operations
  cleans up a Linux node when the OVN hostsubnet annotation is removed
  /root/gowork/src/github.com/ovn-org/ovn-kubernetes/go-controller/hybrid-overlay/pkg/controller/master_test.go:301
I0116 11:48:56.075731  721978 config.go:1398] Default config: {MTU:1400 ConntrackZone:64000 EncapType:geneve EncapIP: EncapPort:6081 InactivityProbe:1000

[2021-01-19 19:25] L3Nerd commented on #1951
We just discovered the same behaviour on OKD 4.5 using MetalLB's BGP feature to use LoadBalancer service types on our on-premise setup. So please keep in mind, that LoadBalancer service types are also affected.

[2021-01-20 15:03] vpickard opened #1967 "Failure to get ovnsb db size"
I'm seeing this error log in my KIND setup, started with ../contrib/kind.sh (no options):

`I0120 15:47:05.939150      74 ovs.go:166] exec(466): /usr/bin/ovn-appctl -t /var/run/ovn/ovnsb_db.ctl --timeout=5 memory/show
I0120 15:47:05.943468      74 ovs.go:169] exec(466): stdout: "cells:12190 monitors:4 sessions:5\n"
I0120 15:47:05.943517      74 ovs.go:170] exec(466): stderr: ""
E0120 15:47:05.9435

[2021-01-20 15:05] vpickard opened #1968 "Failed to get cluster status in KIND setup"
I'm seeing this error log in my KIND setup, started with ../contrib/kind.sh (no options):

[code]

[2021-01-20 19:06] vpickard commented on #1968
[code]

[2021-01-20 19:08] vpickard commented on #1968
It looks like metrics is trying to read from the database before the db is complete initialized. I can run this command after the cluster is up, and the command works fine.

[code]

[2021-01-20 19:29] vpickard commented on #1968
Had a chat with @abhat to help narrow this down to issue most likely being metrics trying to access db file before db is completely initialized. He is already making some changes there, will take care of this one as well. Thanks Aniket, let me know if you want me to help out on this one.

[2021-01-21 23:57] bostrt opened #1974 "ovnkube-trace fails to during ovs-vsctl"
This is in OpenShift 4.6.8 cluster with OVN installed. @mccv1r0

[code]

[2021-01-25 11:37] fedepaol opened #1981 "In local gw mode, creating a nodeport service inhibit north-south traffic on the same port"
When creating a nodeport service in local gateway mode, the following iptable rule is created on the host:

[code]

The logic is implemented regardless of the destination ip.
This has an effect when trying to connect to an external service on the same port from a pod in the cluster, because it will be dnatted to the service virtual ip.

My understanding (looking at ovn-trace) is that in that case

[2021-01-28 14:01] zshi-redhat commented on #1933
If we use original vf rep name inside container (keep it as it is when attaching to container), the issue can also be solved.
but I'm not sure if ovn-k8s expects container interface name to be the sandbox ID.

[2021-01-29 12:40] aojea opened #1994 "OVN-Kubernetes releases"
Following up on the discussion in #1956, I think that we should do OVN-kubernetes releases, preferably associated to the kubernetes release version, just tagging

I think it is a fine idea and in the same line of thoughts we should at some point think wrt. stable branch that will be pinned to an older version of ovs/ovn, perhaps naming it after ovn, like ovn-kubernetes-20.12 etc. I think @dcbw bro

[2021-01-29 12:43] aojea commented on #1994
ping @dcbw @girishmg @trozet @dyusupov

[2021-01-29 12:48] aojea opened #1995 "Pin ovs/ovn version on Dockerfile.fedora"
Dockerfile.Fedora just downloads whatever is published in the corresponding Fedora repo at that point in time. This causes that we never know when we had a version bump in ovs or ovn, and if this affected or not ovn-kuberntes, and this has consequences, mainly in the CI.

Right now we can have the impression that the CI is more or less flaky, but a git-bisect is useless if the flakiness was introd

[2021-01-29 12:48] aojea commented on #1995
/assign @trozet @dcbw @girishmg @dyusupov

[2021-01-29 17:41] dyusupov commented on #1994
unfortunately there is no other way of gaining stability other than yes, branching... but the cost can be somewhat amortized with the right tooling e.g. CICD and policies. I would say that since ovn-kubernetes is effectively an umbrella for ovn, ovs and kubernetes, we need to support a version matrix of dependences for any given stable release

[2021-01-29 17:45] dyusupov commented on #1995
re #1994. To clarify, you suggesting to build ovn/ovs (docker multi-stage builds here) and deliver it as a part of Dockerfile.fedora (and maybe all others that we want to support), correct?

[2021-01-29 18:05] aojea commented on #1995
I wasn´t entering into the implementation details, I just want that we have a commit of when the ovs/ovn has changed, so we can trace problems and to know which ovs/ovn versions we were using for testing from commitA to commit B

Said this, I think that we should start small , just a `dnf install ovn-20.12.0-5.fc34` should be enough ... docker multi-stage builds require a great effort to maintain,

[2021-01-29 18:14] aojea commented on #1994
I don´t think that branching will work for something that consumes Kubernetes, it is too fast pace ...  in 2 years you´ll have 6 stable branches and you´ll get lost in backports, cis, deprecations .... we don´t have branching in KIND and we support a lot of Kubernetes versions, the key is to have your latest release stable and not break anything between releases.... users must use last stable

Add

[2021-01-29 18:24] dyusupov commented on #1994
I think KIND is not a good example as it is not something that people run for months and years or define upgrade paths. On a contrary, we used branching very successfully with Rook project.. infrastructure is something that would need that sort of level of stability on a long run and networking is even bigger part of it than storage. But I do agree that tagging is next step towards it

[2021-01-29 18:57] aojea commented on #1994
yeah, please forgive me, I think I´ve should added more context to my words, I didn´t want to enter in a release model discussion, your points are totally right.
I´ve tried to mean that at this stage and with the current rate of changes, features, ... I don´t feel we need branching right now and it is going to slow down due to its overhead

[2021-02-02 08:35] adrianchiris opened #2000 "stderr (warning) output in ovs causes ovnkube-node to fail setup pod connectivity"
When building ovnkube CentOS image (`make centos`), it builds by default with openvswitch 2.11.
That specific version is linked against Mellanox PMD which causes the PMD to emit warnings to stderr when ovs-vsctl is invoked as it depends on libibverbs which is not installed in the image.
this is a similiar issue as observed in : https://bugzilla.redhat.com/show_bug.cgi?id=1658141

These warning mes

[2021-02-04 06:41] zshi-redhat commented on #1933
@girishmg do you think we can change the VF rep name from container ID (last 15 bits) to its original one? is there any issue with not using container ID as interface name?

This is for easy debugging that which VF is used in which container/pod.

[2021-02-04 15:51] zshi-redhat opened #2009 "ovs hw offload: host pod -> host service pod not working"
Environment:
openshift - 4.7.0-0.nightly-2021-02-03
cluster-network-operator with shared-gateway [PR](https://github.com/openshift/cluster-network-operator/pull/897) applied
ovs hardware offload is enabled via: /bin/ovs-vsctl set Open_vSwitch . other_config:hw-offload=true

Issue:
The machine config daemon(set) running on the hw-offload enabled node cannot access k8s APIServer via service IP.
The

[2021-02-04 16:18] jayunit100 commented on #1782
this is now mereged upstream, you can run `sonobuoy --e2e-focus=Netpol` to reproduce this

[2021-02-05 11:16] fedepaol opened #2012 "External GW: Adding an ipv6 address as external ip is not working"
Found this while extending the external gw e2e test.

Narrowed reproducer:

- Setup a dual stack kind cluster
- Create a container on the same kind network
`docker run -itd --privileged --network kind --name ipv6target centos/tools`
- Take it's ipv6 address:
`docker inspect ipv6target -f {{range .NetworkSettings.Networks}}{{.GlobalIPv6Address}}{{end}} `

Create a ns:
kubectl create ns test

Create

[2021-02-07 09:25] adrianchiris commented on #2009
/cc @moshe010

[2021-02-08 07:11] moshe010 commented on #2009
@zshi-redhat, As fare as I know this was working in the passed with shared gateway. Is the problem with hw-offload or tc software.

[2021-02-09 08:08] chestarss opened #2019 "external host ping pod not working, pod ping external host is work"
1、pod ip  ping external ip ok
2、external ip ping pod id not work

tcpdump  in node which pod belong to.

[2021-02-09 08:14] chestarss commented on #2019
![image](https://user-images.githubusercontent.com/11288347/107334545-d057a700-6af1-11eb-907a-d7ab3fcf3393.png)

[2021-02-09 08:18] chestarss commented on #2019
![image](https://user-images.githubusercontent.com/11288347/107335074-773c4300-6af2-11eb-880f-6cfdd356080a.png)

[2021-02-09 10:27] roytman opened #2020 "After restart a VM with OVNk kind deployment there is no connectivity to ovn-control-plane (the Master node)"
When a VM with OVNk `kind` deployment is restarted, `kube-apiserver` is not reachable.

A  possible issue is in network interfaces configuration of the `ovn-control-plane` docker container, which contains the K8s Master node. Despite that `eth0` was enslaved by ovs-system, it continues to hold the external IP address.

**Before reboot:**
3: br-int: <BROADCAST,MULTICAST> mtu 1400 qdisc noop state D

[2021-02-09 12:55] zshi-redhat commented on #2009
@moshe010

I guess it has something to do with OVS tc software datapath, as the same flow works w/o ovs hw-offload.
If it's a hw-offload issue, then flow would be re-steered to OVS tc software datapath.

For host pod -> host service pod, packet needs to be snated by iptable rules even for shared-gateway mode, correct?
It seems like the same issue as using local-gateway mode where iptable rules are

[2021-02-10 12:15] aojea opened #2025 "logging, logging, logging ..."
Logging is very important, mainly for troubleshooting and debugging. It is not mean to be used only for error capturing, but it should give an idea of the flow of the application and, if the verbosity increased, it should provide more insights and details.

Since OVN start to be used more in production is fundamental to provide users and developers with good logging, so they can understand the pro

[2021-02-11 13:37] fedepaol opened #2028 "Using a gw pod does not work for dual stack / ipv6"
This is similar (and probably related) to https://github.com/ovn-org/ovn-kubernetes/issues/2012

The setup is the same implemented by the `e2e non-vxlan external gateway through a gateway pod` , but with a dual stack cluster and using ipv6.

The gw pod is annotated with
[code]

The src pod tries to ping an ip (fc00:f853:ccd:e794::1) associated to the container with the gw address (`fc00:f853:ccd:e

[2021-02-12 15:36] kedark3 commented on #1828
@aojea in your comment you mention `my PR can serve as example on the directions.` can you please link your PR? I see one PR linked by Tim #1818 . I'm trying to understand the project and since I found this issue with help wanted, I'd like to see if I can do any exercise that can contribute to project and help me improve my understanding. Thank you.

[2021-02-12 15:39] trozet commented on #1828
Just a note we are goign to be removing the old services and endpoints code in favor of the new k8s controller that @aojea added:
https://github.com/ovn-org/ovn-kubernetes/pull/2033

So I'm not sure how applicable this github issue is anymore.

[2021-02-12 15:47] kedark3 commented on #1828
@trozet ack. Is there anything else that can serve as a good 1st PR and guide for newbies?

[2021-02-12 17:04] trozet opened #2038 "Flake: [Fail] e2e control plane [It] should provide Internet connection continuously when ovn-k8s pod is killed"
Been seeing this sporadically:

https://github.com/ovn-org/ovn-kubernetes/pull/1990/checks?check_run_id=1888556017

[2021-02-12 17:10] trozet commented on #2038
Failure is on shared gateway. I wonder if the openflows are getting screwed up when ovnkube-node goes down or restarts.

[2021-02-15 18:10] trozet opened #2045 "Service Reject ACL does not work after adding/removing endpoints"
Initial service create will add a reject ACL and not add the VIP to the load balancer. Allowing service reject to work correctly. However, adding endpoints, and then removing endpoints will leave the VIP in the load balancer. This causes OVN to send the empty-lb-event instead of letting the packet hit the reject ACL in the pipeline.

The solution to this is to detect if the endpoints have been idl

[2021-02-16 13:47] #2012 closed

[2021-02-16 13:47] fedepaol commented on #2012
Closed, the issue was related to me not disabling firewalld

[2021-02-16 13:47] fedepaol commented on #2028
Closed, the issue was related to me not disabling firewalld

[2021-02-16 13:52] #2028 closed

[2021-02-20 17:50] sccblue opened #2061 "ovnkube-node.yaml ovs-metrics-exporter container image ovnkube.sh ovs-metrics"
ovnkube.sh in image docker.io/ovnkube/ovn-daemonset-u:latest
fuction ovs-metrics not exist
so , when it apply -f ovnkube-node.yaml, container ovs-metrics-exporter will start failed

log :
kubectl -n ovn-kubernetes logs ovnkube-node-9r2hm ovs-metrics-exporter
================== ovnkube.sh --- version: 3 ================
 ==================== command: ovs-metrics
 =================== hostname: k8ste

[2021-02-20 18:03] sccblue commented on #2061
container config in yaml
  ovs-metrics-exporter:
    Container ID:  docker://60c3a5ae09ae5e240cce2d1dec246dfd713f12afa145492ec4161a797081d3d6
    Image:         docker.io/ovnkube/ovn-daemonset-u:latest
    Image ID:      docker-pullable://ovnkube/ovn-daemonset-u@sha256:48beb53f282ab9d41341f289e936e3c46035b97f1b3d47a50e700da3cc137b4a
    Port:          <none>
    Host Port:     <none>
    Command:

[2021-02-20 18:03] sccblue commented on #2061
container config
`  ovs-metrics-exporter:
    Container ID:  docker://60c3a5ae09ae5e240cce2d1dec246dfd713f12afa145492ec4161a797081d3d6
    Image:         docker.io/ovnkube/ovn-daemonset-u:latest
    Image ID:      docker-pullable://ovnkube/ovn-daemonset-u@sha256:48beb53f282ab9d41341f289e936e3c46035b97f1b3d47a50e700da3cc137b4a
    Port:          <none>
    Host Port:     <none>
    Command:
      /

[2021-02-20 18:04] sccblue commented on #2061
ovs-metrics-exporter:
    Container ID:  docker://60c3a5ae09ae5e240cce2d1dec246dfd713f12afa145492ec4161a797081d3d6
    Image:         docker.io/ovnkube/ovn-daemonset-u:latest
    Image ID:      docker-pullable://ovnkube/ovn-daemonset-u@sha256:48beb53f282ab9d41341f289e936e3c46035b97f1b3d47a50e700da3cc137b4a
    Port:          <none>
    Host Port:     <none>
    Command:
      /root/ovnkube.sh

[2021-02-22 11:56] aojea commented on #1995
Today all PRs are failing, even the ones without any code change related
https://github.com/ovn-org/ovn-kubernetes/runs/1951632949?check_suite_focus=true

however, last PR merged went through completely green
https://github.com/ovn-org/ovn-kubernetes/actions/runs/582978864

Assuming CI failures are not related to OVN-Kube I was looking for the external dependencies and I could observer that the ov

[2021-03-01 16:39] alexanderConstantinescu opened #2075 "De-flake unit tests"
This is an issue tracking the work for de-flaking our unit tests, if you see any build not pass - cuased by a flaking unit test - please post a quick dump of the test failure and link to the build.

Ex:

**Hybrid SDN Master Operations**

Link: https://github.com/ovn-org/ovn-kubernetes/pull/2002/checks?check_run_id=1981422991

[code]

[2021-03-02 10:08] aojea commented on #1995
Fixed by https://github.com/ovn-org/ovn-kubernetes/pull/2078

[2021-03-02 10:08] #1995 closed

[2021-03-02 16:46] alexanderConstantinescu commented on #2075
Another one seen here: https://github.com/alexanderConstantinescu/ovn-kubernetes/runs/2014827349?check_suite_focus=true

**OVN NetworkPolicy Operations during execution**

[code]

[2021-03-03 10:51] philipp1992 commented on #1635
we also ran into this problem. had to change the openshift-ingress from hostnetwork to nodeportservice. now its working as intended.
Openshift documentation was not very helpful as it didnt mention that there are things specific to openshift-sdn that dont work under ovn-kubernetes.

[2021-03-03 12:47] #1981 closed

[2021-03-04 10:21] alexanderConstantinescu commented on #2075
Another, seen here: https://github.com/ovn-org/ovn-kubernetes/runs/2029983928?check_suite_focus=true

**correctly orders serialized informer initial add events and subsequent update events**
[code]

[2021-03-04 13:44] trozet opened #2089 "New E2E test coverage: Multicast IGMP query validation from OVN"
When an endpoint joins a multicast group using an IGMP membership report, there is a default timeout specified where after some time the router (ovn_cluster_router) may no longer consider the endpoint part of that group if no membership reports have been received. OVN should send out IGMP query messages before the timeout expires, to try to ensure that the endpoint is indeed no longer part of the

[2021-03-12 04:15] sccblue opened #2102 "docker build but lost ovnkube ovn-kube-util ovndbchecker , where are they"
Dockerfile line 58:  COPY ovnkube ovn-kube-util ovndbchecker /usr/bin/
I find all through the ovn-kubenetes folders, I fail to find them

[2021-03-15 13:29] msherif1234 opened #2108 "OVN CNI "ovn-k8s-cni-overlay" depends on glibc32"
- Context
  when deploying ovn KIND cluster on Fedora 33 VM, ovn CNI didn't run and the following error seen in the logs
[code]

[2021-03-15 16:29] amorenoz commented on #2108
cc @aojea
Thanks for reporting the issue @msherif1234, I have also hit it.
This problem only happens with the `ovn-k8s-cni-overlay` since the rest of the binaries run inside their containers.
Looking at the binary headers I see glib is not the only runtime dependency:

[code]

So we might also hit the problem with libpthread.

Given the fact that the cni binary has to run on the host directly it m

[2021-03-15 16:37] aojea commented on #2108
/assign @girishmg @dcbw @trozet
they may have more context here

[2021-03-16 15:22] dougsland commented on #2108
The workaround provided by @msherif1234 works for me. (Fedora 33 + docker)

[2021-03-16 15:53] amorenoz commented on #2108
@dougsland You mean building with CGO_ENABLED=0?

[2021-03-16 16:10] dougsland commented on #2108
Yep

[2021-03-16 16:29] amorenoz commented on #2108
Thanks.
AFAIU only `ovn-k8s-cni-overlay` would really benefit from static compilation. Unless @trozet @dcbw or other main developers think otherwise, I would add that `CGO_ENABLE=0` only to that binary.

[2021-03-17 20:39] mattfenwick opened #2116 "push new images to dockerhub (or some other public registry)"
Could the docker hub images for ovn-kubernetes be updated?

https://hub.docker.com/u/ovnkube

It looks like the most recent update was nearly a year ago.

My use cases for these images are:

 - running KinD clusters in github actions, where the actions take a lot longer to run because I pull down the ovn source to build images
 - running KinD clusters on mac, where I can't build the images because

[2021-03-17 20:40] mattfenwick commented on #2116
Feel free to close this issue if it's totally unnecessary or not worth it, I know there are workarounds 😄 but it would be nice to be able to pull official images!

[2021-03-18 02:16] mattfenwick opened #2117 "network policy allowing named port also allows traffic on different port with same protocol"
Environment:
 - KinD on Ubuntu 18.04.5
 - [running ovn-kubernetes from source](https://github.com/mattfenwick/cyclonus/blob/d2a3be68c5eea3e5dbfa4580606bbf13061089ce/hack/ovn-kubernetes/setup-kind.sh) in a [github action](https://github.com/mattfenwick/cyclonus/blob/master/.github/workflows/kind_ovn.yml)

Policy -- pod x/a is the target, we're looking at egress in this example:

[code]

Expected co

[2021-03-18 15:34] mattfenwick commented on #2117
Can probably close this -- [looks like named ports are not supported in ovn](https://github.com/ovn-org/ovn-kubernetes/issues/1782#issuecomment-718174991)!

[2021-03-19 04:04] sccblue opened #2120 "you can read my readme instead of offical readme file"
the ovn-kubernetes not provide the right envirement to build the image , binary, ovs , ovn and so on
you can read my readme instead of offical readme file
https://github.com/sccblue/ovn-kubernetes

[2021-03-22 13:28] OmerBenHayun commented on #2089
Hey Tim,

I want to ask few questions on this topic.
1.the new pod that we creating for the test will be inside the cluster ,correct? (just to make sure I'm getting it right).
2. as I saw on `e2e.go` we use the following image when creating test pods:
[code]
as far as I understand,this Image is not contain `tcp-dump`, so in order to write the e2e test I need to use another Image.can we use externa

[2021-03-22 20:39] dougsland commented on #2108
I believe I saw the patch fixing this issue getting merged. Can we close this one? @msherif1234 @aojea

[2021-03-22 20:42] #2108 closed

[2021-03-24 15:24] trozet commented on #2089
Thanks @OmerBenHayun
Yeah it should be a pod inside the cluster, in a multicast enabled namespace:
namespace.ObjectMeta.Annotations["k8s.ovn.org/multicast-enabled"] = "true"

I'm not sure you will be able to run the ip command in the pod due to permissions. Alternative may be to use iperf like we do in e2e:
https://github.com/ovn-org/ovn-kubernetes/blob/master/test/e2e/multicast.go#L96

[2021-03-24 20:00] trozet opened #2132 "New E2E Test Coverage: Upgrades"
It would be great if we could have a job that runs which:
1. Deploys KIND using current origin/master HEAD
2. Launches some pods/traffic scenarios.
3. Builds a new docker image for current PR.
4. Rolls out new image for ovnkube-node daemonset.
5. Rolls out new image for ovnkube-master daemonset (workers need to upgrade before masters)
6. Runs traffic on the previously created pods, verify paths wo

[2021-03-24 20:00] trozet commented on #2132
@jluhrsen FYI

[2021-03-25 22:07] aojea commented on #1828
This seems no longer needed, since I'm assigned, I think that is fair if I close it :)

[2021-03-25 22:07] #1828 closed

[2021-03-25 22:08] aojea commented on #1949
Te upstream image already merged
This seems a good first issue for people getting familiar with the e2e test in ovn

[2021-03-31 22:28] anfredette opened #2147 "Test methodology for go-ovn binding code needed"
Test methodology for go-ovn binding code needed

The current ginkgo-based integration test code relies on capturing the raw ovn-nbctl commands that would get executed and then confirming that the actual list of commands matches the expected list of commands for a given test.  As we move the code away from RunOVNNbctl calls to go-ovn bindings, the ovn-nbctl commands will not be called anymore, and

[2021-04-01 15:23] dcbw opened #2149 "Data race with gressPolicy objects"
https://pipelines.actions.githubusercontent.com/rx2q6cyVnb1KdY24EzqfkXItIKb3SzT55t8LHdEU6zlqA0chrw/_apis/pipelines/1/runs/32217/signedlogcontent/3?urlExpires=2021-04-01T14%3A29%3A33.9128350Z&urlSigningMethod=HMACV1&urlSignature=14qdPnejwaqQtTgAYzSwApDL1JLwbY0hWn9SVTKNKr0%3D

[code]

[2021-04-02 09:41] #2009 closed

[2021-04-07 20:20] roytman opened #2157 "Pods in a kind cluster with "--gateway-mode shared -ha" cannot access their DNS server"
When a kind cluster is deployed in a GW shared mode with HA, (--gateway-mode shared -ha), its pods cannot access their DNS server.

A test Pod looks for the DNS server with address 10.96.0.10, but cannot access it.

When the kid cluster deployed with the default parameters, the problem does not exist.

[2021-04-12 21:35] dcbw opened #2170 "error: timed out waiting for the condition on pods/kube-proxy-75tvl"
e2e (shard-conformance, false, false, false, false, noHA, local, ipv4, IPv4, true, false)

https://pipelines.actions.githubusercontent.com/rx2q6cyVnb1KdY24EzqfkXItIKb3SzT55t8LHdEU6zlqA0chrw/_apis/pipelines/1/runs/32973/signedlogcontent/22?urlExpires=2021-04-12T21%3A34%3A53.8154953Z&urlSigningMethod=HMACV1&urlSignature=lQbWCi4iT6%2BYO7HxF2hBFvCJW4buxbNEDyM2a9w09to%3D

[code]

[2021-04-12 21:35] dcbw commented on #2170
Clearly something is racing; we shouldn't have kube-proxy anywhere in ovnkube...

[2021-04-13 09:58] squeed commented on #2149
This should be fixed in #2131

[2021-04-13 10:01] squeed opened #2171 "Cleanup: refcount AddressSets"
Noticed that we will delete AddressSets in nbdb without caring if they're still being referenced in other places.

On particular instance is NetworkPolicy using the per-Namespace AddressSet; the Namespace controller deletes the underlying AS before the NP controller has a chance to clean up.

The immediate fix (#2168) is to defer AS deletion for 20 seconds. A real fix, however, is to correctly tra

[2021-04-16 01:07] kedark3 commented on #2132
Expressing my interest: I would like to give this a shot, if I can spare some time.  :smile:

[2021-04-19 14:31] alexandrevicenzi commented on #1994
Are there any plans to create tags or releases? The last one is from 2018.

Tags and/or releases would help package maintainers to actually track any changes in the project and update their distribution accordingly.

I ask because we maintain a package called ovnkube in openSUSE, and it's currently outdated due the lack of releases.

[2021-04-19 19:09] kedark3 commented on #2132
@trozet Can we expand step 3 mentioned above in two substeps as follows?
3a. Build new binaries from the current PR
3b. Build new docker images that use those binaries

Also, I see step 4 and 5 talk about node and master daemonsets, but don't we also need to DB and OVS related daemonsets? Trying to gather more info.
And the best way to develop and tests would be to create a Draft PR so that I coul

[2021-04-19 23:11] ivan1221 commented on #819
I'm interested in this feature, are you working on it?

[2021-04-20 06:15] aojea commented on #819
No, I'm not, feel free to try

[2021-04-26 16:23] LYTzeng commented on #2120
This saved my day! Thank you!
For those who would like to build OVN debian packages, this can't be done because [OVN packages needs to be split from OVS](https://github.com/ovn-org/ovn/blob/master/Documentation/intro/install/debian.rst) ,unless we wait for further updates but I rather build rpm packages instead.

[2021-04-27 02:56] sccblue commented on #2120
Thanks for your affirmation.

[2021-05-27 19:29] srampal opened #2238 "Initial PoC for Cluster scoped Network Policy"
This is an issue to track work to be done for adding support for a new Cluster scoped network policy resource being defined in upstream Kubernetes SIG-networking (sub group network-policy-api). An initial version of the CRD and controller will be developed as a prototype/ PoC (this version will be on a private branch and will not merged into the Master branch) and then later modified/ migrated to

[2021-06-02 15:03] adrianchiris opened #2243 "Project fails to compile with go 1.14"
This issue was introduced with PR #2228
as it uses a new syncMap API : `LoadAndDelete` that was only [introduced ](https://go-review.googlesource.com/c/go/+/205899/) in golang 1.15

The project [README ](https://github.com/ovn-org/ovn-kubernetes/tree/master/go-controller#build) states minimal version 1.8
`go.mod`  has version `1.13`
workflow tests run either go 1.15 or 1.16.

minimal go version sh

[2021-06-15 11:25] squeed opened #2260 "Flaky EgressFirewall DNS test"
Saw this failure in an unrelated PR -- https://github.com/ovn-org/ovn-kubernetes/pull/2172/checks?check_run_id=2828773931

[code]

[2021-06-15 11:25] squeed commented on #2260
@JacobTanenbaum could you take a look at this test?

[2021-06-23 23:09] srampal commented on #2238
I am working on a PoC for this in my private fork. branch for now.

[2021-06-24 17:18] aojea opened #2278 "Don't remove all annotations when patching pods"
There is already an object in ovn-kube that allows to patch the Pod keeping current annotations and, updating or adding the new annotation if necessary.

https://github.com/ovn-org/ovn-kubernetes/blob/227539ee442e84f504c3d545cb26bbdce65bee6f/go-controller/pkg/kube/annotator.go#L96-L103

However, it is only used in one place

https://github.com/ovn-org/ovn-kubernetes/blob/227539ee442e84f504c3d545cb

[2021-06-24 17:27] astoycos commented on #2278
/assign @creydr

[2021-06-25 06:05] creydr commented on #2278
/assign

[2021-06-25 13:36] creydr commented on #2278
@aojea I added a [unit test](https://github.com/creydr/ovn-kubernetes/commit/c83777d0ac543a561c09a1e79b694a2af7fa8443) for the `SetAnnotationsOnPod` method. According to the [testresults](https://github.com/creydr/ovn-kubernetes/runs/2914029053?check_suite_focus=true#step:4:3708) it keeps existing annotations and adds the new ones.

[2021-06-25 14:46] aojea commented on #2278
my reading was not correct :sweat_smile:
Thanks @creydr for checking and verifying it

[2021-06-25 14:46] #2278 closed

[2021-06-25 21:01] trozet opened #2282 "New E2E test: delete/re-add node, verify existing containers have connectivity"
With the fix for #2281 for bugzilla https://bugzilla.redhat.com/show_bug.cgi?id=1973286 we need a test case added to control plane tests to ensure this doesn't break again. The basic gist is this:

1. node has pods on it
2. node is deleted
3. node is added back in very quick succession
4. the grace period hasn't passed for pods to have been evicted from the node, so the containers stay put
5. ensu

[2021-06-25 21:01] trozet commented on #2282
@kedark3 FYI in case you are interested

[2021-06-28 13:28] astoycos opened #2288 "Create Design Documentation for OVN-Kubernetes Multicast Feature"
There is no document explaining how multicast works in OVN-Kubernetes.  It would be really good to have a document similar to the [one made for Network Policy](https://github.com/ovn-org/ovn-kubernetes/blob/master/docs/network-policy.md) Explaining what OVN resources are created when Multicast Is enabled.

This is a good first issue for newcomers as a kind cluster can be brought up analyze how mul

[2021-06-28 17:01] dave-tucker opened #2290 "Consider Not Exporting `client.Cache()`"
Since the `client.Get` and `client.List` API do most of the same thing.
This ensures we don't accidentally expose something dangerous (e.g `client.Cache().Purge()`) to users.
We'd need to ensure that we could still easily write tests without direct cache access though.

[2021-06-28 17:02] dave-tucker commented on #2290
Ooops wrong repo :blush: Please close this

[2021-06-28 17:02] #2290 closed

[2021-06-29 13:51] kedark3 commented on #2282
@trozet I will definitely take a stab at it. Thanks!!

[2021-06-30 05:13] astoycos commented on #2288
@maiqueb this Is a good first issue :)

[2021-06-30 07:21] maiqueb commented on #2288
Sure, I'll take it.

/assign

[2021-06-30 08:28] maiqueb commented on #2288
Seems I cannot assign this to myself. I think I'll have to join the ovn-org somehow for it to be possible.

Is that something you can help me with @astoycos ?

[2021-07-03 14:39] andreaskaris commented on #2157
Hi,

I just tested this and this works for me:
[code]

After installation of the cluster, I can spawn a pod and it can ping google:
[code]

[code]

I made sure that ovnkubernetes is in gateway mode `--gateway-mode=shared `:
[code]

[code]

[2021-07-03 14:42] andreaskaris commented on #2157
@roytman Can you check if this still happens with the latest version?

[2021-07-04 06:52] roytman commented on #2157
Hi @ andreaskaris, thanks for reminding, the issue was fixed. Closing it.

[2021-07-04 06:52] #2157 closed

[2021-07-04 12:57] andreaskaris opened #2305 "ovnkube-trace: Autodetermine ovnNamespace"
ovnkube-trace should try to autodetermine the ovnNamespace. Given that this project is upstream, the hardcoded value of "openshift-ovn-kubernetes" is definitely inadequate.

[2021-07-04 15:02] andreaskaris opened #2307 "ovnkube-trace: Get linkIndex from /sys if iproute is not present"
ovnkube-trace: Get linkIndex from /sys if iproute is not present

[2021-07-05 13:27] andreaskaris opened #2309 "ovnkube-trace: Auto determine SSL status for OVN"
ovnkube-trace should not have to rely on command line flag "-noSSL". That is information which can be derived from the deployment automatically.

[2021-07-05 14:54] andreaskaris opened #2311 "ovnkube-trace: Only install dependencies with pip3 if dependencies are not met"
ovnkube-trace should only install dependencies with pip3 if dependencies are not met. Newer images already come with the required python OpenSSL library and with ovn-detrace.

[2021-07-06 06:27] sccblue commented on #2120
https://github.com/sccblue/ovn-kubernetes

[2021-07-06 08:03] tssurya opened #2313 "Add hbo-lr-policy only if config.HybridOverlay.ClusterSubnets is set"
We should check if config.HybridOverlay.ClusterSubnets is set by the user before creating the lr-in-policies on the router:

https://github.com/openshift/ovn-kubernetes/blob/c6b006ae9a2ac5189602f4b7454ce842632d7b49/go-controller/hybrid-overlay/pkg/controller/master.go#L270

Simply enabling the hybrid-overlay feature doesn't guarantee the subnets field is set or not. This leads to policies and erro

[2021-07-06 13:47] jotak opened #2316 "netflow and sflow look mixed up in daemonset script"
I came across it by chance: in `daemonset.sh`, references to `ovn_netflow_targets` and `ovn_sflow_targets` look mixed up:

[Here](https://github.com/ovn-org/ovn-kubernetes/blob/master/dist/images/daemonset.sh#L305) and [there](https://github.com/ovn-org/ovn-kubernetes/blob/master/dist/images/daemonset.sh#L333).

I've no idea how bad it is, at first glance it means that sflow cannot be used at the

[2021-07-06 16:08] dcbw commented on #2313
/lgtm
@JacobTanenbaum could you take a look?

[2021-07-06 16:45] andreaskaris commented on #2020
Workaround:
[code]

More details: running `ovn-kube-util nics-to-bridge eth0` inside the ovnkube-node containers rewired the networking correctly.
[code]

[2021-07-06 19:34] #2311 closed

[2021-07-07 12:15] andreaskaris commented on #2020
When ovn-kubernetes is brought up, it checks if port eth0 is attached to br-ex. That test fails during initial setup (err != nil) and the `else if` condition is checked. `ovs-vsctl -- br-exists eth0` yields and error, and hence `util.NicToBridge(gwIntf)` is called which sets up the bridge.
[code]

The problem on the reboot is that the IP address lands on eth0 again but now the first check yields `

[2021-07-07 12:30] #2316 closed

[2021-07-07 16:59] andreaskaris commented on #2020
I begin to believe that there is a bug in the logic here.
[code]

I do not see the benefit of the first `if` condition unless we migrate the IP address and default route to that gwIntf's bridge.

3 possible conditions come to mind:

a) the default gateway port is *not* a bridge but it is enslaved to an OVS bridge, but that OVS bridge does not hold the IP address and the gateway
In that case, run n

[2021-07-07 17:09] andreaskaris commented on #2020
I'm currently working on this in https://github.com/andreaskaris/ovn-kubernetes/commit/c3a2aff9124a2616e7160ae3015ba77ecad727c0 , I'll submit the pull request when ready (and if everything works out as planned)

[2021-07-08 09:22] andreaskaris opened #2323 "Traffic blackhole on reboot: gatewayInitInternal permanently moves interface to bridge, but only temporarily moves IP address information"
I think there is a bug in the logic here:
[code]

I do not see the benefit of the first `if` condition unless we migrate the IP address and default route to that gwIntf's bridge.

3 possible conditions come to mind:

a) the default gateway port is *not* a bridge but it is enslaved to an OVS bridge, but that OVS bridge does not hold the IP address and the gateway
In that case, run non-existing meth

[2021-07-08 09:23] andreaskaris commented on #2323
Below is half a patch, without the necessary changes to `ovnkube.sh`:
[code]

[2021-07-12 20:28] #2313 closed

[2021-07-14 19:45] #2288 closed

[2021-07-15 20:26] astoycos opened #2340 "ACL logging update and configuration post Network Policy creation"
Currently OVN-Kubernetes supports the [configuration of acl logging](https://github.com/ovn-org/ovn-kubernetes/pull/1654) for the the network policy feature via a special namespace annotation. However it is a "one shot" configuration, meaning once the acls are created for the netpol we have no way to go back and update the existing logging configuration on existing rules.

** This does not apply t

[2021-07-16 00:15] girishmg opened #2341 "quit retrying pod setup if the pod is already gone from the informers cache"
we have seen instances where the pod delete event gets queued up and the pod's DeleteFunc() callback is not called yet and in the meantime we are trying to do the failed pod setup again and again.. since the pod is gone we fail in `Setting Pod annotations` and retry again after 1 minute.

we continue this until the DeleteFunc() gets called and finally removes the deleted pod from the retryPod map.

[2021-07-16 15:52] #2305 closed

[2021-07-20 21:58] creydr opened #2351 "Enable e2e test for tainting a node with a too small MTU in IPv6 clusters"
The e2e test for tainting a node according to its default interfaces MTU size is disabled in the IPv6 e2e suite. This is cause the ovnkube-node pod does not recover and stays in a CrashLoopBackoff after the nodes default interface MTU was adjusted for testing.
This issue should be fixed, so ovnkube-node does not fail to start if the defaults interface MTU was adjusted.

According to kubelet logs o

[2021-07-21 08:29] tssurya commented on #1802
This is done: https://github.com/ovn-org/ovn-kubernetes/pull/1868
/close

[2021-07-21 08:30] tssurya commented on #1802
/close

[2021-07-21 16:21] #2307 closed

[2021-07-27 13:50] adrianchiris opened #2365 "[Refactor] Streamline Node.Start() logic"
With Support for Smart-NICs that was introduced in PRs: #2005 #2042
node start logic now support node initialization or different ovnkube node modes : `full`, `smart-nic`, `smart-nic-host`

This logic should be streamlined to reduce the amount of conditions on this mode while avoiding code duplication as much as possible.

[2021-07-29 01:33] #2341 closed

[2021-07-30 12:39] trozet opened #2379 "Fix CI job naming"
In our CI the job names show as:

[code]

We should get rid of the redundant booleans and use names for all of the features.

[2021-07-30 12:58] #1951 closed

[2021-07-30 13:43] creydr commented on #2379
/assign

[2021-07-30 13:48] andreaskaris opened #2380 "kind: Dependency on jq - ./kind.sh: line 557: jq: command not found"
A dependency on jq was introduced with

[code]

[code]
`

[2021-07-30 14:10] astoycos opened #2381 "CI test for Host -> service(ExternalTrafficPolicy:Local) -> OVNPod"
For #2136 There is still one e2e test we require to have the proper coverage when a service's `externalTrafficPolicy:local` currently we have is

External -> svc -> host
External -> svc -> Ovn pod
Host -> service -> host
The only other one we should have is:

 Host -> Service -> Ovn pod The subtle difference here is that the srcIP should always show the `.2` address associated with the node's `mp0

[2021-07-31 13:32] #2380 closed

[2021-08-02 12:50] adrianchiris opened #2392 "Host to nodeport service traffic does not work"
Hi,

I deployed ovn-kubernetes from commit: a96572f5aac17df0191f2e11c95825aae0d7d251

setup: 3 node k8s cluster, 1 control-plane and 2 workers.

I have created a simple nginx nodeport service backed by a single endpoint (externalTrafficPolicy set to Cluster).
when trying to access the nodeport service from host it fails with connection refused.

kubectl get nodes:

[code]

kubectl get services:

[

[2021-08-02 12:51] adrianchiris commented on #2392
I expected to have these iptables rules set:

[code]

[2021-08-02 13:04] trozet commented on #2392
@astoycos PTAL

[2021-08-02 13:22] astoycos commented on #2392
Yep that's a bug, redirect rules should only be created if `externalTrafficPolicy:local`, Found the bug

https://github.com/ovn-org/ovn-kubernetes/blob/master/go-controller/pkg/node/gateway_shared_intf.go#L387
Will post a patch shortly.

Not sure how that snuck in past CI, will need to investigate our CI coverage here, thanks for finding @adrianchiris !!!

[2021-08-04 20:51] #2379 closed

[2021-08-05 10:16] andreaskaris opened #2406 "Fix ovn-ci-periodic checks"
The daily ovn-ci-periodic checks fail.

![image](https://user-images.githubusercontent.com/3291433/128334021-746a360e-7561-43f7-9873-efabb466b60a.png)

![image](https://user-images.githubusercontent.com/3291433/128333887-21b40573-5379-41ca-8212-502007c01e45.png)

[2021-08-05 10:42] andreaskaris commented on #2406
@dcbw These checks are failing on a daily basis. Is this entire workflow needed, given that  ovn-ci ovn-ci  has a bunch of scheduled jobs, as well which run every 12 hours? (e2e-periodic)

![image](https://user-images.githubusercontent.com/3291433/128337203-40d15781-4b09-47aa-9eaa-d8eb2e44f50f.png)

[2021-08-05 15:09] creydr opened #2407 "IPv6 getting unexpected "connection reset by peer""
During debugging the e2e test "ingress traffic validation: Should be allowed by externalip services" we saw, that the test is failing in IPv6 mode, no SNAT and shared GW mode due to a `connection reset by peer` error:

[code]
Conntrack on `fc00:f853:ccd:e793::2` shows
[code]

And a tcpdump shows that the RST is send from the client:

[code]
Interesting too is that a lot of the packages are send (o

[2021-08-05 20:52] #2309 closed

[2021-08-20 17:36] abhat opened #2436 "Scrape the ovn-controller metric for rate of flow mod and group mod messages"
OVN team is planning to add support for flow_mod and group_mod statistics in ovn-controller as tracked by: https://bugzilla.redhat.com/show_bug.cgi?id=1996146

We need a way to scrape this data and export it as a metric in Prometheus.

[2021-08-20 17:42] abhat commented on #2436
Looks like there is a `ofproto_recv_openflow` counter which perhaps already captures this at a higher granularity. This is likely sufficient. @putnopvut @trozet @dcbw - thoughts?

[2021-08-23 19:21] andreaskaris opened #2439 "--gateway-nexthop cannot deal with quotes around value"
When deploying with:
[code]

I get `0823 19:17:55.252923    5684 ovnkube.go:131] failed to parse configured next-hop: '192.168.123.254'`
[code]

[2021-08-23 19:23] andreaskaris commented on #2439
https://github.com/ovn-org/ovn-kubernetes/blob/e54bf667d831af783c8f67aa690f9f691e74af86/go-controller/pkg/node/gateway_init.go#L127

[2021-08-24 01:36] lxin opened #2441 "KIND: no such host when lookup ovn-control-plane"
When I was deploying ovn-k8s by kind.sh, it showed that, ovn-worker and ovn-worker2 couldn't get the IP of 'ovn-control-plane' from DNS servers (DNS servers seem copied from hosts),  see the details below:

"""
# ./kind.sh -ep podman
WARNING: Running pip install with root privileges is generally not a good idea. Try `pip install --user` instead.
Requirement already satisfied: wheel in /root/.local

[2021-08-25 01:04] andreaskaris opened #2450 "Test e2e (shard-conformance, HA, snatGW, shared, 1br, ipv6) being cancelled after 2 hours"
Test e2e (shard-conformance, HA, snatGW, shared, 1br, ipv6) being cancelled after 2 hours

This test either needs to be adjusted or removed from the suite. It times out.

Somewhere in the middle, we can see plenty of IPv4 tests:
[code]

[2021-08-25 14:33] andreaskaris commented on #2450
Some more details:
[code]

[code]

[code]

[code]

[code]

[2021-08-25 15:16] andreaskaris commented on #2450
The test which takes over 5000 seconds:
[code]

And this is then stuck here:
[code]

[2021-08-30 11:56] tssurya opened #2458 "Update Pod Handler: Be smarter"
OVN-K's pod handler update gets triggered for any updates that happen to podSpec, we should NOT be triggering the whole addLogicalPort & addGatewayIPs logic unless there has been an update to the networking related fields. This causes a lot of noise and if by chance any of these no-op update fails, we re-add them to the retry queue and this becomes an infinite loop sometimes when we hit bugs.

We

[2021-08-31 20:32] rprakashg opened #2461 "ipv4/ipv6 dual stack support production ready?"
Given ipv4/ipv6 dual stack support is in beta in kubernetes, is anyone using this in production kubernetes clusters today?
Anyone tested this within VMWare or even clusters running on AWS/GCP/Azure ?

[2021-09-03 21:08] kedark3 commented on #2282
Hi @trozet I tried to run this through a simple kind cluster, just by deleting and recreating worker node, and as soon as I do that, the coredns pods loses connectivity, and it only regains connectivity when I delete the pod and recreate it. While other pods keep running, see below:

![image](https://user-images.githubusercontent.com/8180469/132065307-2109d217-6d9a-4842-b3c8-af88fcc9bf94.png)

And

[2021-09-08 11:01] igsilya opened #2476 "ovn-kubernetes can overwrite NB_Global.options set by ovn-northd or OVN utilities."
To set `NB_Global.options:e2e_timestamp` ovn-kubernetes reds the `options` as a whole, updates `e2e_timestamp` and writes `options` back as a whole.  If `options` will be changed in between by a separate process (northd, nbctl, etc.), ovn-kubernetes will overwrite them back to old values.

To avoid this issue, ovn-kubernetes should add verification of old values to the transaction or use mutation

[2021-09-12 04:17] lxin opened #2484 "in which pod 'ovn-sbctl' cmd can be used"
# kubectl get pods --all-namespaces
NAMESPACE            NAME                                        READY   STATUS    RESTARTS   AGE   IP           NODE
default              testpod-host                                1/1     Running   0          16h   10.89.0.7    ovn-worker3
kube-system          coredns-74ff55c5b-fzn6p                     0/1     Running   0          16h   10.244.3.3   ovn-work

[2021-09-12 04:44] lxin commented on #2484
# cat /var/log/ovn/ovsdb-server-sb.log

2021-09-11T11:07:14.795Z|00001|vlog|INFO|opened log file /var/log/ovn/ovsdb-server-sb.log
2021-09-11T11:07:14.799Z|00002|ovsdb_server|INFO|ovsdb-server (Open vSwitch) 2.15.0
2021-09-11T11:07:14.800Z|00003|reconnect|INFO|tcp:10.89.0.8:6644: connecting...
2021-09-11T11:07:14.800Z|00004|reconnect|INFO|tcp:10.89.0.8:6644: connected
2021-09-11T11:07:14.801Z|00005

[2021-09-12 14:40] trozet commented on #2484
You can issue the command in any db container. However only the leader will accept the commands, unless you use --no-leader-only with your command. For example ovn-sbctl --no-leader-only show

[2021-09-13 10:01] lxin commented on #2441
just addressed this problem, podman-plugins was missed on my env, which provide the dnsname plugins.

[2021-09-13 10:01] #2441 closed

[2021-09-13 20:56] girishmg opened #2487 "intermittent failures while running Gateway Operations Smart-NIC tests"
I am seeing this test fail intermittently downstream. I see this while building the upstream branch without any changes

[code]

@adrianchiris FYI

@dcbw @trozet have you guys seen this ?

[2021-09-13 22:51] trozet commented on #2487
Yeah I have seen it. I usually do CONTAINER_RUNNABLE=1 make check to get around it

[2021-09-13 22:57] girishmg commented on #2487
The issue occurs in this blob in gateway_init_linux_test.go

[code]

Init() -> g.initFunc() -> calls anonymous function in newSharedGateway() -> newNodePortWatcher() -> initSharedGatewayIPTables() -> handleGatewayIPTables() -> GetIPTablesHelper() ->  iptables.NewWithProtocol() -> exec.LookPath("iptables")

Not sure why the testutils.NewNS() doesn't have `iptables` in its PATH!

[2021-09-14 02:46] #2487 closed

[2021-09-17 11:09] Kyrtapz opened #2498 "Refactor annotators"
Currently, all of the annotators follow the same logic:
 - Create an annotator(`NewNodeAnnotator`/`NewNamespaceAnnotator`/`NewPodAnnotator`) with a respective API object passed as a parameter
 - `Set()`/`Delete()` annotations and store the changes locally
 - `Run()` the annotator to compare the new annotations to the ones from the API object and only send a PATCH request to the API if there is a c

[2021-09-17 11:10] Kyrtapz commented on #2498
/assign @Kyrtapz

[2021-09-21 04:48] girishmg opened #2503 "unit test flake: OVN master EgressIP Operations"
In here https://pipelines.actions.githubusercontent.com/rx2q6cyVnb1KdY24EzqfkXItIKb3SzT55t8LHdEU6zlqA0chrw/_apis/pipelines/1/runs/48405/signedlogcontent/5?urlExpires=2021-09-21T04%3A29%3A31.6441596Z&urlSigningMethod=HMACV1&urlSignature=aLQAUCIPatVArZ9mzfpmlWDltMyFyvI%2B9bwYRllwoIU%3D

[code]

[2021-09-21 14:13] #2439 closed

[2021-09-22 13:51] andreaskaris commented on #2407
IMO, the issue here is with the test itself and not with OVNKubernetes.  More particularly, it's with the external docker container / setup.

You can use dlv to troubleshoot this and you will see that the first docker exec will always fail, even though the actual endpoint is reachable without issues.

In order to see that, set a breakpoint at line 1930 in file e2e.go:
[code]

And run the test with

[2021-09-22 16:26] andreaskaris commented on #2407
Let me take this back. This can be reproduced even from without the docker container if the ip neighbor entry is deleted before trying the request. E.g. with:
[code]

[2021-09-22 18:34] andreaskaris commented on #2407
I took packet captures on eth0 for ovn-control-plane, ovn-worker and ovn-worker2

ovn-control-plane
[code]

ovn-worker
[code]

ovn-worker2
[code]

Broken scenario 1:
[code]

ovn-control-plane:
======================================================
[code]

ovn-worker
======================================================
[code]

ovn-worker2
======================================================
[co

[2021-09-22 23:01] andreaskaris commented on #2407
Working scenario 1:
==============================

[code]

In this case, all traffic ingresses from/to ovn-control-plane. The ip neighbor advertisements from ovn-worker and ovn-worker2 are being ignored. ovn-control-plane forwards everything via GENEVE to ovn-worker2 directly. ovn-worker2 returns the traffic, but the frames
pass via ovn-worker on the return path (see the mac addresses and ovn-wor

[2021-09-22 23:09] andreaskaris commented on #2407
A possible explanation (without looking at the code) may be this:

3 nodes A B C can each handle the incoming request

If node C shall handle the request, if frames make it into node A only they will be encapsulated and SNAT/DNATted via geneve. When they hit node C, node C talks to the NATted endpoint and all packets seem to come from the same source.

Alternatively, node A shall handle the reques

[2021-09-23 14:32] andreaskaris commented on #2407
The SVC is implemented (logically) as an OVN LB:
[code]

[2021-09-23 15:14] andreaskaris commented on #2407
And the "SNAT" is coming from the logical router ports on the respective gateway router GR_...:
[code]

I think it's actually the load-balancer implementation which forces the creation of 2 distinct connection, one from the client to the LB, and one from the LB to the server.
Looking at the man page, OVN's LB implementation does not provide a passthrough of the client IP address:
https://man7.org/

[2021-09-23 22:31] andreaskaris commented on #2407
## Redeploymend of my lab

I had to tear down and redeploy my lab. The IPv6 addresses flipped:
[code]

And the test changed to ::4:
[code]

So, below, keep that in mind.

## OVN flows

The OVN flows (trace) clearly show that each node will reply with its own MAC address when it receives the same ARP request.
[code]

## OVS flows

Further down the rabbit hole with OVS

### ovn-control-plane

[code]

[2021-09-23 22:55] andreaskaris commented on #2407
Ok so I simplified the test and I removed the local IP address so that the service would be on its own IP, only:
[code]

If anything, that makes the symptoms even worse:
[code]

[2021-09-23 23:27] andreaskaris commented on #2407
And it's possible to filter our way out of this:
[code]

[code]

[2021-09-23 23:39] andreaskaris commented on #2407
![ipv6ovn-fail](https://user-images.githubusercontent.com/3291433/134597453-1b92e39b-58df-4c3c-9a69-95c65a5655c2.png)

[2021-09-23 23:49] andreaskaris commented on #2407
IMO this is a design issue which might have gone unnoticed. There are 3 independent routers GR_ovn-control-plane, GR_ovn-worker, GR_ovn-worker2. A NS is broadcast on the local subnet and hits each GR. Each GR has the same loadbalancer configured on this subnet, with the exact same VIP. Each of these loadbalancers will reply to the NS with an NA that advertises its own MAC address. For every first

[2021-09-23 23:56] andreaskaris commented on #2407
Just for completeness, a tcpdump from a server's namespace which proves this (tcpdump taken with the new IP address layout and the modified test which forces the VIP to ep ::10):
[code]

[code]

[2021-09-24 11:33] tssurya opened #2512 "BFD sessions are not created correctly when adding static routes with the --bfd flag"
We have a bug in OVN: https://bugzilla.redhat.com/show_bug.cgi?id=2007549 due to which bfd sessions are not established correctly. Due to this if we have x app pods across y nodes served by an exgw pod, we'd expect y bfd sessions against that exgw pod but currently only 1 session from the node where the first app pod was spawned will be created.

Until the OVN bug is fixed and consumed, we'd need

[2021-09-24 11:34] tssurya commented on #2512
/assign @tssurya

[2021-09-24 14:53] andreaskaris commented on #2407
OVN has this option here:
[code]

ovnkubernetes does force this setting indeed:
[code]

OVN load-balancers actually do have the "skip_snat" option which is set to false in this test scenario, hence the SNAT:
[code]

Similar issues have already come up in ovn-kubernetes:
https://github.com/ovn-org/ovn-kubernetes/blob/7c16d382522016b83d418af9627860da493733bc/docs/design/external_traffic_policy.md

J

[2021-09-24 15:11] andreaskaris commented on #2407
The test scenario is this here: ClusterIP + ExternalIPs https://github.com/ovn-org/ovn-kubernetes/blob/master/go-controller/pkg/ovn/controller/services/load_balancer.go#L51

[2021-09-24 17:45] andreaskaris commented on #2407
I just blindly tried a couple of changes.

a) Forcing a single router per chassis with SNAT enabled --- as expected, this will yield the same issue:
[code]

[code]

[code]

[2021-09-24 18:09] andreaskaris commented on #2407
b) Always force externalTrafficLocal: true for GatewayModeShared (the "merge" will actually create only a single router):
[code]

(... test TBD/in progress ...)

================================================

By the way, this smells a lot like this here: https://groups.google.com/g/ovn-kubernetes/c/G8sR1mnpeLo/m/G-hAK87XBAAJ
[code]

[2021-09-24 22:09] andreaskaris commented on #2407
One mrore observation. I switched the deployment to gateway mode local it works perfectly fine.

I added another externalip for testing:
[code]

In gateway mode local, ovn-trace shows that each router only answers to neighbor advertisements to itself, not to the VIP:
[code]

That means also that the externalIP cannot be directly reached:
[code]

Unless the IP is attached to the node's breth0 inter

[2021-09-24 22:22] andreaskaris commented on #2407
So, from what I understand, the node must have an externalIP somewhere configured. In the case of OVN kubernetes, that would be breth0 (it must be reachable from a non-br-int bridge as an internal interface.

It is not kubernetes' responsibility to add such an IP. That's precisely what's happening in gateway mode local. In gateway mode "shared", however, the cluster automatically exposes the VIP,

[2021-09-24 23:39] andreaskaris commented on #2407
The code that binds the LBs to the gateway routers is this here:
[code]

Without lines 160-162, the feature completely breaks. But it's clear that this is also responsible for having multiple LBs on the same subnet.

[2021-09-24 23:55] andreaskaris commented on #2407
And just as a really ugly POC:
[code]

And that fixes the issue, as expected, and the unit test also passes:
[code]

[2021-09-27 11:25] tssurya opened #2514 "e2e test flakiness: e2e multiple external gateway validation"
Sample Failures:

https://github.com/ovn-org/ovn-kubernetes/pull/2510/checks?check_run_id=3718190674#step:11:229
https://github.com/ovn-org/ovn-kubernetes/pull/2513/checks?check_run_id=3704130543#step:11:806

Needs more investigation. Also fails when running locally on a KIND cluster apart from CI, so should be relatively easy to reproduce.

[code]

[2021-09-27 11:25] tssurya commented on #2514
/assign @tssurya

[2021-09-27 11:54] tssurya commented on #2514
On the contrary, locally on KIND cluster, `multiple external gateway validation` passes, its `e2e non-vxlan external gateway through a gateway pod Should validate TCP/UDP connectivity to an external gateway's loopback address via a pod with external gateway annotations enabled` that failed.

[code]

[code]

[2021-09-27 12:09] tssurya commented on #2514
Test is Flaky.

[code]

[2021-09-27 22:30] andreaskaris commented on #2407
With IPv4, the same ARP reply storm happens (imagine 500 nodes which each will send an ARP reply). However, the client is smarter and causes this to be stable as it seems to be sticking to the very first ARP reply that it receives:
[code]

There must be some kind of ARP rate limit for the IPv4 stack which is not in place for IPv6. Definitely the only thing that will update the ARP table are ARP re

[2021-09-28 00:17] andreaskaris commented on #2407
So, the reason why this passes the IPv4 test is that the default `locktime` setting for IPv4 is 100 (milliseconds) meaning that multiple ARP replies coming in within the same 100ms window will be ignored and only the first ARP reply will be taken into account. With IPv6, the default `locktime` is 0, meaning that the kernel will update the neighbor entry right away. Be it as it may, our implementat

[2021-09-28 00:18] andreaskaris commented on #2407
For reference, The flow for gateway mode local is the following (for comparison):

ip neighbor resolution happens via eth0, and thenLOCAL on breth0
TCP packets come in on eth0 and then go out via breth0 and hit NAT rules there
[code]

[code]

Logs for the NAT rules:
[code]

The packet is then forwarded to ovn-k8s-mp0:
[code]

That interface is directly attached to br-int and is mapped to:
[code]

[2021-09-29 14:26] #2406 closed

[2021-09-29 14:51] andreaskaris commented on #2407
The design issue was introduced with https://github.com/ovn-org/ovn-kubernetes/commit/facfeae5ae254c8780e52ec6496384e16232cad3

[2021-09-29 15:15] andreaskaris opened #2520 "e2e Fix broken multicast tests with kind"
E.g. https://github.com/ovn-org/ovn-kubernetes/pull/2467/checks?check_run_id=3504746518

That one failed on:
[code]

I've also seen this happen in other pull requests.

[2021-09-29 15:26] andreaskaris commented on #2520
To reproduce this with kind:
[code]

[2021-09-29 20:21] andreaskaris commented on #2520
I additionally deployed with (it's false by default but I have not yet checked if that would have an impact):
[code]

After settings breakpoints, increasing timeouts and lowering packet size (just to avoid possible mtu issues):
[code]

Running dlv:
[code]

At the breakpoint:
[code]

This should work according to ovn-trace:
[code]

[code]

But nothing passes the tunnel to control-plane:
[code]

And

[2021-09-29 22:42] andreaskaris commented on #2520
Result of a bisect:
[code]

[2021-09-29 22:49] andreaskaris commented on #2520
Seems that the same was found downstream: https://bugzilla.redhat.com/show_bug.cgi?id=2006325

And it would require a bump of: https://github.com/ovn-org/ovn-kubernetes/blob/112ee9dc7775a9463bb43d5c2f2cff3d7e56309a/dist/images/Dockerfile.fedora#L18

To: ovnver=21.09.0-19.el8fdp
https://github.com/openshift/ovn-kubernetes/pull/768/commits/6cdb48a5334393d82b411d5f34722f1ca82b14f5

[2021-09-30 03:22] #2520 closed

[2021-10-01 18:23] sebsoto opened #2530 "Windows Hybrid Overlay node binary wipes network interface static IP configuration"
Description of problem:
Running hybrid-overlay.exe on a Windows VM set up with a static IP results in the static IP being removed, and DHCP being used on the new vEthernet adapter.

Before running:
[code]

After:
[code]

Note that the IP has changed and DHCP is enabled.

The behavior I expect is that the new adapter maintains the DHCP settings as the one it replaces, as well as the IP, gateway, an

[2021-10-01 18:23] sebsoto commented on #2530
@JacobTanenbaum

[2021-10-07 20:21] andreaskaris opened #2552 "Possible test flake for: Should validate the egress IP functionality against remote hosts"
Flaky test for: `Should validate the egress IP functionality against remote hosts`

I ran into this while working on: https://github.com/ovn-org/ovn-kubernetes/pull/2540

[code]

[code]

[code]

I tested this 20 times in my env, with the same patch, and did not get the same result:
[code]

[code]

Hence, the test might have timed out, only once, in the test pipeline.

[2021-10-08 21:12] andreaskaris commented on #2552
There's the same here, too, in another test: https://pipelines.actions.githubusercontent.com/rx2q6cyVnb1KdY24EzqfkXItIKb3SzT55t8LHdEU6zlqA0chrw/_apis/pipelines/1/runs/50350/signedlogcontent/43?urlExpires=2021-10-08T20%3A56%3A34.5553956Z&urlSigningMethod=HMACV1&urlSignature=fnJUO%2BhzYIvTazj%2BvaUpfMhnQa9RP2%2B5G7Wf014Zgdc%3D

[2021-10-08 21:49] trozet commented on #2552
I see it here as well https://github.com/ovn-org/ovn-kubernetes/pull/2554/checks?check_run_id=3842284936

[2021-10-08 21:49] trozet commented on #2552
@alexanderConstantinescu @girishmg FYI

[2021-10-09 01:15] andreaskaris opened #2555 "PR builds flake fail on go-controller - 'make test' in test [It] when the namespace features *multiple* network policies with a single rule"
`[It] when the namespace features *multiple* network policies with a single rule` is flaky, both in the github action pipeline as in my local reproducer environment.

To reproduce:
[code]

Log output from a local run:
[code]

According to git blame, that part made it in with https://github.com/ovn-org/ovn-kubernetes/commit/738413791c6ec1e5dda97d94211ce14c78fa9a5f

[2021-10-09 03:33] andreaskaris commented on #2552
I modified the code a bit and had the test run 20 times in my lab + I added a tcpdump and ip neigh / ip arp to the test scenario.
[code]

In the failing scenarios, the SNAT is broken and the packets arrive without being NATed:
https://github.com/andreaskaris/ovn-kubernetes/runs/3844208209?check_suite_focus=true

I still cannot reproduce this in my own environment though, but at least the above get

[2021-10-09 21:41] andreaskaris commented on #2552
I could recreate the issue locally. It's very random, and it can only be reproduced by deleting and reinstalling the kind cluster (for whatever reason.

[code]

[code]

[code]

With that, this will eventually reproduce the issue and stall at the breakpoint. Simply kill the script, then.

We can then see that the policy is not being removed when the label is taken off:
[code]

[code]

I'll now look

[2021-10-10 07:35] tssurya opened #2556 "When restarting KIND clusters, we seem to be left with duplicate policies"
While testing PR https://github.com/ovn-org/ovn-kubernetes/pull/2424 found out that ovn_cluster_router policies get doubled when we restart/upgrade cluster. Should be related to the recent libovsdb PR.

Example: Everytime I restarted the cluster with a new image, there was a doubling of 1005 & 1003.

[code]

[2021-10-10 07:35] tssurya commented on #2556
/assign @tssurya

[2021-10-10 17:02] andreaskaris commented on #2552
@tssurya I think I found it and it may be ridiculously simple, unless this here is a red herring:
[code]

[code]

The model predicate's DeepEqual doesn't keep in mind that the order or endpoints may be inverted, that would also explain that this sometimes fails, sometimes works:
[code]

If you aren't on it, let me push a fix for it and see if it resolved the issue :-)

[2021-10-11 12:39] astoycos commented on #2555
@maiqueb So whenever ANY netpol is created that default deny rule is created for the namespace, and I added the name of the network policy there so we could determine exactly what policy made it... Seeing as this complicates testing I think we can change this to just be something more static like `default_deny_<namespace1>` Thankfully (at least the last time I looked) we never query ACLs by the na

[2021-10-11 16:21] #2555 closed, assigned to nobody

[2021-10-14 04:58] rahulgit1988 opened #2571 "Does OVN kubernetes usage iptables?"

[2021-10-14 18:42] trozet opened #2576 "Unit testing: Add more coverage for ovn-dbchecker"
As I was working on #2554 I noticed we have unit tests for the election timer check, but no other checks. It would be nice if someone can add testing for each of the other checks: ensureClusterRaftMembership, ensureLocalRaftServerID, as well as testing if the db would get reset. Can leverage the changes I'm making in to have the checks return an error.

[2021-10-16 23:26] andreaskaris commented on #2576
@trozet  @jluhrsen I'll take this one

[2021-10-18 19:46] andreaskaris opened #2584 "Make sure to compare downloaded kind binary to checksum"
Make sure to compare downloaded kind binary to checksum

One of my runs failed after 2 minutes because curl had pulled an invalid <HTML> page (perhaps a 404 or some 5xx message, very likely some rate limiting?) instead of the kind binary. We should make sure to compare the pulled version of kind to a hash.

[2021-10-18 20:08] andreaskaris commented on #2584
See https://pipelines.actions.githubusercontent.com/rx2q6cyVnb1KdY24EzqfkXItIKb3SzT55t8LHdEU6zlqA0chrw/_apis/pipelines/1/runs/51725/signedlogcontent/37?urlExpires=2021-10-18T20%3A09%3A30.2699729Z&urlSigningMethod=HMACV1&urlSignature=OoU5Mi%2FFJ1QI4snhq60J%2FwZGXVSbwjmIULwXp4e3%2Fww%3D which bit me a few times today already.

[2021-10-18 20:19] tssurya opened #2586 "Allow retesting a single CI job"
If there is a flake in one of the e2e CI combinations, we end up retesting all the jobs which is a waste of time and resources. Let's enable the repo to use the github actions properly and see if we can just retest a single job.

[2021-10-18 21:57] andreaskaris opened #2587 "Possible EgressFirewall test flake on EgressFirewall_DNS_Run_Runs_update_after_the_ttl_returned_from_the_DNS_server_expires"
Possible EgressIP test flake on EgressFirewall_DNS_Run_Runs_update_after_the_ttl_returned_from_the_DNS_server_expires

[code]

[2021-10-18 22:00] andreaskaris commented on #2587
Happened for me on PR build:
[failure.txt](https://github.com/ovn-org/ovn-kubernetes/files/7368764/failure.txt)

[2021-10-18 23:01] andreaskaris opened #2588 "e2e dual conversion - possible flake"
e2e dual conversion - possible flake
[e2efailure.txt](https://github.com/ovn-org/ovn-kubernetes/files/7369001/e2efailure.txt)

[2021-10-19 03:23] andreaskaris commented on #2587
I just hit this again on a noop build:
[pr-failure.txt](https://github.com/ovn-org/ovn-kubernetes/files/7369914/pr-failure.txt)

[2021-10-19 05:09] andreaskaris opened #2590 "Shard tests timing out since recently"
I hit this regularly in my PR https://github.com/ovn-org/ovn-kubernetes/pull/2582, but I also see this here in an unrelated (yet merged) PR:
https://github.com/ovn-org/ovn-kubernetes/runs/3885062356

From the above log:
[code]

I could also reproduce this locally. Under certain circumstances, one will see the following in kubelet logs:
[code]

And this leads to a timeout of shard tests.

It times

[2021-10-19 17:45] andreaskaris opened #2593 "test flake on: policies created after namespace logging level updates inherit updated logging level"
Happens in build PR.

See here: https://github.com/andreaskaris/ovn-kubernetes/runs/3941886763?check_suite_focus=true
[code]

[2021-10-19 17:51] jluhrsen commented on #2590
@andreaskaris , I was starting to look at what I think is this same problem last week. jira is here:
  https://issues.redhat.com/browse/SDN-2323

See my comment there where I noticed some job looked like it just hung for 45m before getting cancelled.

[2021-10-19 20:09] andreaskaris opened #2594 "test flake: Creating the nodeport service with externalTrafficPolicy=local"
I saw this here fail. The nodeport service did not come up in a controlplane run of a test after 30 seconds; this happened at test/e2e/e2e.go:2368
[code]

Log:
[code]

[2021-10-19 21:03] #2584 closed, assigned to nobody

[2021-10-26 18:57] tssurya opened #2605 "Ensure renaming a node is handled well"
In caches like node tracker, we don't really handle the nodeName that well. If the node name changes, the switchName and routerName will all change, but we also need to make sure caches that are key-ed by nodeName remove them properly.

[2021-10-27 14:56] trozet opened #2607 "CI help wanted: need to get logs even when tests timeout"
Right now if our "run tests" step exceeds the max runtime for a job, the entire job is timed out and we do not get to the step where we export logs. An example is:

https://github.com/ovn-org/ovn-kubernetes/runs/4015900044?check_suite_focus=true

In this particular log, it looks like pods are failing to start. Without the logs we cant debug this further. It looks like in github actions we can set

[2021-11-03 14:59] #2607 closed

[2021-11-08 23:41] paupal1 opened #2634 "Error when trying to initialize libovsdb NB client"
Trying to test up ovn-kubernetes locally to do some testing/experimentation. I ran into this and am unsure how to mitigate or continue. Would love any any pointers. db seems to be running on right ports 6641 & 6642.

[code]

[code]

[2021-11-09 16:35] #2498 closed

[2021-11-10 14:52] sebsoto commented on #2530
This issue is fixed in Windows Server 2022.
In previous versions of Windows Server it can be resolved by disabling deviceless NICs:
[code]

[2021-11-10 14:52] #2530 closed

[2021-11-10 15:57] trozet commented on #2587
I'm seeing the same thing. @JacobTanenbaum can you PTAL?

[2021-11-10 15:59] trozet commented on #2587
I see:

[code]
https://pipelines.actions.githubusercontent.com/rx2q6cyVnb1KdY24EzqfkXItIKb3SzT55t8LHdEU6zlqA0chrw/_apis/pipelines/1/runs/54402/signedlogcontent/2?urlExpires=2021-11-10T15%3A54%3A54.6030084Z&urlSigningMethod=HMACV1&urlSignature=xvE9ZF2uFRCxvCB%2BLf2Qh4vfx4k5odT0SN5yIeWrTUQ%3D

[2021-11-10 16:22] trozet opened #2641 "Run ovnk e2e tests on upgrade jobs"
We missed a bug where unidling was broken on upgrade:
https://github.com/ovn-org/ovn-kubernetes/pull/2638

I'm not sure if we would have caught this by simply running the e2e tests after upgrade or if it would have required configuring unidling before the upgrade, upgrading, then testing to see if it still worked. Either way we need some types of tests like this where we configure some functionali

[2021-11-11 12:21] andreaskaris commented on #2641
@trozet I am pretty sure that I misunderstand your request, because this here looks a bit too trivial? https://github.com/ovn-org/ovn-kubernetes/pull/2644/commits/b96b5f8fa427b9d01b70f93c1d221f4680d9d70e

[2021-11-11 12:39] andreaskaris commented on #2634
Hi @paupal1,

`Object type nbdb.NBGlobal contains field HvCfgTimestamp (int) ovs tag hv_cfg_timestamp: Column does not exist in schema.`
`Object type nbdb.LogicalRouterPort contains field Ipv6Prefix ([]string) ovs tag ipv6_prefix: Column does not exist in schema`
`Object type nbdb.LogicalRouterStaticRoute contains field BFD (*string) ovs tag bfd: Column does not exist in schema. Mapper Error`, etc

[2021-11-23 12:26] tssurya opened #2678 "CI: control-plane tests are timing out"
Examples:

https://github.com/ovn-org/ovn-kubernetes/runs/4278125594?check_suite_focus=true#step:10:6350
https://github.com/ovn-org/ovn-kubernetes/runs/4233431908?check_suite_focus=true#step:10:3904
https://github.com/ovn-org/ovn-kubernetes/runs/4235721029?check_suite_focus=true#step:10:1848

Someone needs to look into why this is happening, my initial thoughts were that the time wasn't enough, bu

[2021-11-23 13:01] tssurya opened #2679 "BFD tests are flaking"
https://github.com/ovn-org/ovn-kubernetes/runs/4296243129?check_suite_focus=true#step:10:8176
[code]

/assign @tssurya

[2021-11-23 13:03] tssurya commented on #2679
Running the same tests locally on my laptop seem to work
[code]
BFD sessions were established successfully:
[code]

Have we changed the docker version for CI kind clusters?

[2021-11-23 17:20] jluhrsen commented on #2678
This is something I'd like to take a shot at, but I would't be able to start taking a look at it for a week or so as we roll in to my next work sprint. if that's ok, let me know and I'll create the jira stuff to help me track it. Otherwise someone else can work on this if they have cycles now.

[2021-11-25 08:26] tssurya commented on #2679
So my local docker version is:
[code]

On the e2e CI, I can see it is:
[code]

The earlier version in CI was:
[code]
I think this could be because docker-ce was required for the BFD tests to pass, I have seen this break locally when I changed my env setup. Let me see if I can bump the docker version in CI to what's being used locally.

[2021-11-25 08:47] tssurya commented on #2678
@jluhrsen : that's totally fine, thanks for volunteering. It's not super urgent. It can wait till next week.
/assign @jluhrsen

[2021-11-25 11:53] tssurya commented on #2679
[code]
[code]
will fail in control-plane because the control-plane tests are running with disableSNATMultipleGWs=false.

[2021-11-30 14:52] SoftTissues opened #2685 "”kubeconfig.yaml" not found"
Hello guys，

I'm a tiro in ovn-kubernetes.When I try to start the start ovnkube utility on the master. The log show me that I am missing the "kubeconfig.yaml" file.I saw this issue once appeared here, but the connection under that issue is unavailable.
What should I do to get this "kubeconfig.yaml".

### log:
[code]

[2021-12-01 21:16] #2641 closed

[2021-12-03 23:06] tssurya opened #2693 "Investigate if we can have an e2e test for catching iptable rule staleness"
See https://github.com/ovn-org/ovn-kubernetes/pull/2651#pullrequestreview-821575529 for more details.

[2021-12-07 11:41] andreaskaris commented on #2587
Again: https://pipelines.actions.githubusercontent.com/rx2q6cyVnb1KdY24EzqfkXItIKb3SzT55t8LHdEU6zlqA0chrw/_apis/pipelines/1/runs/57184/signedlogcontent/6?urlExpires=2021-12-07T11%3A14%3A40.6037101Z&urlSigningMethod=HMACV1&urlSignature=GJEhci4eZ5tNTr4OQsigITkRmJ90cuZa87faZu0WJiE%3D

[2021-12-09 11:21] andreaskaris opened #2700 "When converting a service from single stack to dual stack, IPv6 DNAT rules are not created"
When converting a service from single stack to dual stack, IPv6 DNAT rules are not created (likely any other required logic isn't executed, either, to be verified).

As reported in https://bugzilla.redhat.com/show_bug.cgi?id=2028812

[code]

[2021-12-09 11:25] andreaskaris commented on #2700
/assign

[2021-12-09 11:43] andreaskaris commented on #2700
[code]

The update ignores the change to spec.ClusterIPs , which is why this fails:
[code]

[2021-12-09 11:49] andreaskaris commented on #2700
It's probably something as easy as:
[code]

I'll test this out and write the unit tests for it, too.

[2021-12-09 14:00] andreaskaris commented on #2700
Some further clarification: this seems to impact only the logic where the nodeport is exposed via iptables rules. The OVN part seems to work fine after an update:
[code]

[code]

From the node itself, getting in via local switching:
[code]

[2021-12-09 17:38] andreaskaris opened #2703 "Missing e2e tests for shared / dual-stack environments"
Missing e2e tests for shared gw / dual-stack environments; we currently only have local gw / dual-stack

[2021-12-13 19:59] andreaskaris commented on #2700
# How to test:

## Test setup

Deploy kind with:
[code]

Then, deploy a single stack service and then migrate it to requiredualstack:
[code]

Wait until the pod and service are up:
[code]

Then apply the following patch:
[code]

## Verification:

### Broken:
=======================

Display the service configuration:
[code]

Connect to the host that runs the pod for the next steps:
[code]

Check t

[2021-12-14 22:44] numansiddique opened #2711 "Deleting a node is not cleaning up the node logical switch"
If I run the command - "kubectl delete node ovn-worker" for example, then ovnkube-master should delete the ovn-worker logical switch and the logical router port connecting to the ovn_cluster_router.  But it is not happening as expected.

The below error is seen

---------
I1214 22:17:10.955265      59 model_client.go:315] Delete operations generated as: [{Op:delete Table:Logical_Switch Row:map[] R

[2021-12-15 15:38] astoycos opened #2713 "Move OVN_DB metrics to ovnkube-db-checker"
Follow up on the work described in #2697  in https://github.com/ovn-org/ovn-kubernetes/pull/2697#discussion_r769117735

Specifically remove the OVN_DB metrics from running on every node so that we can convert it to use libovsdb.

The work was already started in this commit -> https://github.com/astoycos/ovn-kubernetes/commit/904bcc3ce9f726379cd1fef0c623249d00b6426b

[2021-12-20 15:06] hareeshpc opened #2726 "CNI failure on pod creation"
On master branch,
For SRIOV VFs, CNI fails on pod creation with the following error
[code]

On debugging, it seems to be a regression caused by this PR.
https://github.com/ovn-org/ovn-kubernetes/pull/2675

[2021-12-20 17:33] #2726 closed

[2021-12-20 18:55] andreaskaris opened #2728 "Unit tests hog node ports until all ports are terminated, but namespace is already gone"
There is a minor issue in `Should be allowed to node local host-networked endpoints by nodeport services with externalTrafficPolicy=local` or perhaps even in the k8s e2e tests.

`WaitForNamespacesDeleted` will already return when the namespaces are deleted, but pods are still in terminating state at this point and hogging the node ports for a good 1 - 2 minutes more:
[code]

We can reproduce this

[2021-12-20 20:47] tssurya commented on #2586
ack, thanks for looking into this Andrew, wonder if we already have those settings up yet?

[2021-12-21 09:47] andreaskaris commented on #2728
Clearly, 30 seconds is not a long enough timeout so the namespace deletion actually throws an error which we do not catch, cascading into issues when this is retried:
[code]

[2021-12-21 12:29] andreaskaris commented on #2728
After my change:
[code]

[2021-12-24 01:51] #2728 closed

[2022-01-05 14:41] #2576 closed

[2022-01-14 18:15] trozet opened #2751 "Egress Firewall does not properly handle node addition"
See https://github.com/ovn-org/ovn-kubernetes/pull/2749#discussion_r785032790

[2022-01-17 17:56] jluhrsen commented on #2678
@tssurya, I wanted to see if there is something I can figure out here, but I just went through every failed 'ovn-ci' for the past 7 days and did not see any that timed out. Wondering if this might not be happening any more?

[2022-01-21 10:11] tssurya opened #2761 "Update KIND to use v1.23.1"
I tried to do this, but it doesn't work out of the box. We should start using 1.23 kube.
/assign @tssurya

[2022-01-21 10:12] tssurya commented on #2761
Since we don't vendor kube directly, we should also make sure things work with the new version and hope we aren't breaking anything.

[2022-01-21 18:04] tssurya commented on #2761
/unassign @tssurya
anyone interested can pick this up.

[2022-01-21 22:48] #2700 closed

[2022-01-27 15:04] DTMad opened #2777 "Webhook / Admission Controller handling"
Hey,

we have a setup where we define an EgressIP for a specific namespace.
We then schedule a pod with just 1 container (no initContainer) in that namespace.
When the pod then gets applied before it actually gets scheduled a mutation Webhook adds an initContainer which needs to do a curl request. However, this request then fails since it seems the initContainer applied by the Webhook does not get

[2022-01-29 02:41] dougsland opened #2780 "install-ovn-k8s.sh: shellcheck - remove warnings"
[code]

[2022-01-29 02:41] dougsland commented on #2780
/good-first-issue

[2022-01-29 02:46] dougsland commented on #2780
Probably good idea to integrate with github actions as well:
[code]

[2022-01-31 11:38] #2025 closed

[2022-01-31 11:38] #1994 closed

[2022-01-31 11:38] #1907 closed

[2022-01-31 11:38] #1801 closed

[2022-01-31 11:39] #1574 closed

[2022-01-31 11:39] #1584 closed

[2022-01-31 11:39] #1510 closed

[2022-01-31 11:39] #1707 closed

[2022-01-31 11:39] #1807 closed

[2022-01-31 13:59] dougsland opened #2781 "make fedora-dev should replace docker with podman"
Fedora doesn't provide docker anymore.

[code]

Suggestion patch:
[code]

[2022-01-31 13:59] dougsland commented on #2781
/good-first-issue

[2022-01-31 14:03] dougsland commented on #2781
Also, I would suggest take a look if more targets have the need to add such line as well.

[2022-01-31 15:06] dougsland commented on #2761
I am wondering if the project should have a common file as `variables` to be loaded across the tree.  Like: `if the env variable is not defined, use the global common variable values`

Here some places which K8S_VERSION is defined.
https://github.com/ovn-org/ovn-kubernetes/blob/master/.github/workflows/test.yml#L12
https://github.com/ovn-org/ovn-kubernetes/blob/master/.github/workflows/test_period

[2022-01-31 15:08] dougsland commented on #2761
/good-first-issue

[2022-02-01 12:31] tssurya commented on #2761
ok so I am starting to work on a PR for this since no one picked up and it seems like folks are already starting to pile on PRs that depend on 1.23

[2022-02-03 22:16] randomparity opened #2793 "OVN kubernetes KIND setup not working on Ubuntu 20.04.3"
Attempting to follow the instructions in docs/kind.md on an Ubuntu 20.04.3 host.  Downloading and building ovn-kubernetes fails immediately.

$ go get github.com/ovn-org/ovn-kubernetes; cd GOPATH/src/github.com/ovn-org/ovn-kubernetes
package github.com/ovn-org/ovn-kubernetes: no Go files in /home/ubuntu/go/src/github.com/ovn-org/ovn-kubernetes
-bash: cd: GOPATH/src/github.com/ovn-org/ovn-kubernete

[2022-02-04 11:22] tssurya commented on #1316
As part of update to kube v1.23.1, the following tests are failing:

[code]

Flaky ones:
[code]

[2022-02-05 12:53] tssurya opened #2798 "[Feature:Networking-DNS] should provider Internet connection for containers using DNS fails on IPV6 CI lane."
[sig-network] should provider Internet connection for containers using DNS  [Feature:Networking-DNS] K8s upstream e2e test fails only on IPV6/DualStack: Observed after update to K8sv.1.23.1.

2022-02-04T20:46:35.9284357Z [91m[1m[Fail] [0m[90m[sig-network] Networking [0m[91m[1m[It] should provider Internet connection for containers using DNS [Feature:Networking-DNS] [0m
2022-02-04T20:46:35.

[2022-02-05 12:55] tssurya commented on #2798
[code]

[2022-02-08 14:23] tssurya opened #2807 "KIND script unable to find the path for github.com/ovn-org/ovn-kubernetes/go-controller/go.sum"
Good task for beginners:

How to reproduce?
run kind.sh script (always reproducable), you can see a grep warning:
+ make
hack/build-go.sh cmd/ovnkube cmd/ovn-k8s-cni-overlay cmd/ovn-kube-util hybrid-overlay/cmd/hybrid-overlay-node cmd/ovndbchecker cmd/ovnkube-trace
grep: github.com/ovn-org/ovn-kubernetes/go-controller/go.sum: No such file or directory
+ for bin in "$@"
++ basename cmd/ovnkube
+ bi

[2022-03-04 10:59] martinkennelly opened #2846 "TC 'Gateway Operations DPU DPU Operations' may segfault rarely"
Unable to repro locally but seen on test run: https://github.com/ovn-org/ovn-kubernetes/runs/5412510371?check_suite_focus=true
Opening an issue to track this until I understand how its caused:

------------------------------
Gateway Operations DPU DPU Operations
  sets up a shared interface gateway DPU
  /home/runner/work/ovn-kubernetes/ovn-kubernetes/go-controller/pkg/node/gateway_init_linux_test

[2022-03-07 09:38] tssurya commented on #2846
/assign @dcbw who has been looking into this and opened https://github.com/vishvananda/netlink/pull/741

[2022-03-09 13:29] codecap opened #2853 "All nodes send arp responses for external ip"
According to the [Documentation](https://github.com/ovn-org/ovn-kubernetes/blob/master/docs/external-ip-and-loadbalancer-ingress.md) OVNKubernetes wont send answers to ARP requests toVIPs.

But this is what we can observe in our environment right now.

We have a small OKD 4.9 Cluster with 8 Nodes:
[code]

OKD Version
[code]

OVNVersion
[code]

Node Network: X.Y.Z.0/24
[code]

After we create a Ser

[2022-03-09 13:44] codecap opened #2854 "failed to commit load balancer changes for map"
When creating a Service Type Load Balancer, ovnkube-master fails to configure Load Balancer for it
[code]
In the log we see an error like  this
[code]
If we uncoment the line for externalIPs in the service and try again, it starts working.

I compared the /usr/bin/ovn-nbctl command, the difference is in the *vips* part, it addionally quoted then like
[code]

OKD Version

[code]

OVNKubernetes Vers

[2022-03-22 08:39] tssurya opened #2868 "Test Failing: Should be allowed by nodeport services after upgrade to DualStack"
1. https://github.com/ovn-org/ovn-kubernetes/runs/5634890808?check_suite_focus=true#step:15:324
2. https://github.com/ovn-org/ovn-kubernetes/runs/5634867661?check_suite_focus=true#step:15:98
[code]

[2022-03-22 08:41] tssurya commented on #2868
@andreaskaris : Since you added this test can you please take a look on why this test if failing?

[2022-03-29 13:39] martinkennelly commented on #2846
Seen again here: https://github.com/ovn-org/ovn-kubernetes/runs/5724737227?check_suite_focus=true
Waiting for new netlink version to be pulled to close this.

[2022-03-31 01:33] zshi-redhat opened #2884 "Enable traffic for host to service to node secondary IP on another host"
[PR#2874](https://github.com/ovn-org/ovn-kubernetes/pull/2877) enables traffic for:
host to service to secondary node IP on the same host.

This issue asks for enabling a similar traffic:
host to service to secondary node IP on different host.

[2022-03-31 15:35] andreaskaris opened #2885 "E2E dual conversion fails on "Run DualStack Tests""
https://github.com/ovn-org/ovn-kubernetes/runs/5750681051?check_suite_focus=true
[code]

[2022-04-04 13:18] JacobTanenbaum opened #2892 "unify basic ACL building logic"
We could have a new `buildACLForPolicyType` that would derive direction, (some) external ids and (some) options from the policy type, and then call this buildACL with that info. `buildACLForPolicyType` could also be used from `gressPolicy` buildACL. This buildACL would no longer have a policy type argument.

So an attempt to unify basic ACL building logic based on policy type:

`gressPolicy.buildA

[2022-04-07 13:19] shiresky opened #2898 "Invalid schema issue"
I tried to perform your procedure: https://github.com/ovn-org/ovn-kubernetes/blob/master/docs/INSTALL.SSL.md as follows:

[code]
Durng the last step execution I receive an error related with invalid schema:
[code]
So I switched to codegen directive provided in your Makefile but it also results with an error about some missing files. Any idea what files are expected?
[code]

[2022-04-07 15:58] andreaskaris opened #2899 "Clean up exclude / include list for test matrix, document better"
Required jobs constantly get disabled when someone changes something.
Clean up exclude / include list for test matrix, document better what should be running, so that we won't disabled required tests in the future.

[2022-04-07 22:22] aravindhp opened #2901 "OVN kube-master does not clear NetworkUnavailableCondition on NoHostSubnet nodes"
OVN kube-master controller does not clear the NetworkUnavailableCondition on NoHostSubnet nodes due to which such Nodes are skipped by the scheduler when scheduling Pods.

I suspect what is happening is on [NoHostSubnet nodes](https://github.com/ovn-org/ovn-kubernetes/blob/master/go-controller/pkg/ovn/ovn.go#L1113), [oc.addNode()](https://github.com/ovn-org/ovn-kubernetes/blob/9b52526ffd67cd3739b1

[2022-04-07 22:24] aravindhp commented on #2901
/cc @JacobTanenbaum

[2022-04-07 22:25] aravindhp commented on #2901
/cc @dcbw

[2022-04-08 17:19] andreaskaris commented on #2868
Just digging into the root cause, there's a good chance that this is load related:

[2022-04-08 17:33] aravindhp commented on #2901
Fixed by https://github.com/ovn-org/ovn-kubernetes/pull/2870

[2022-04-08 17:33] #2901 closed

[2022-04-12 09:48] andreaskaris opened #2911 "Wrong MAC binding for IPv6 UDP tests in OVN"
In kind environments, UDPv6 return traffic is sometimes sent to the broadcast link layer instead of to the IP neighbor solicitation resolved link layer address. This happened while testing service upgrade and downgrade from single stack to dualstack and back to singlestack.

See the last packet in the output here, column 4
is the destination MAC address:
[code]

Here is the packet capture on breth

[2022-04-12 10:53] andreaskaris opened #2913 "First packet to hostport service is often unanswered in kind environments"
When the overlay network has not yet learned the MAC addresses of the host that it's talking to, the following happens often, but not all of the time.

1) Host 172.18.0.5 has so far only talked to ovn-control-plane (172.18.0.2):
[code]

2) Host 172.18.0.5 now tries to dial 172.18.0.3 via udp:
[code]

Here is the packet capture from 172.18.0.5:
[code]

The ARP exchange happens with the host's Linux

[2022-04-12 11:17] andreaskaris commented on #2913
I suppose that in many tests, we do not see this either because:
* we retry for UDP
* we run http tests before we run UDP tests

[2022-04-12 11:24] andreaskaris commented on #2911
This might just be a variation of  #2913 as this occurs under the same circumstances. Could be due to https://lists.linuxfoundation.org/pipermail/ovs-dev/2019-September/362611.html

https://man7.org/linux/man-pages/man5/ovn-sb.5.html
[code]

[2022-04-13 09:32] andreaskaris opened #2917 "TestClusterNode tests flake"
[code]

Hit here:
* https://pipelines.actions.githubusercontent.com/serviceHosts/420fda10-250e-4b5e-ad0c-d969a2d4a803/_apis/pipelines/1/runs/70171/signedlogcontent/4?urlExpires=2022-04-13T09%3A26%3A38.0682219Z&urlSigningMethod=HMACV1&urlSignature=pe4Pp90pdrm2s5fWj%2BE4BcgrZqA%2F%2BLK9Gthwf3PCiaQ%3D
* https://pipelines.actions.githubusercontent.com/serviceHosts/420fda10-250e-4b5e-ad0c-d969a2d4a803/

[2022-04-13 11:51] andreaskaris opened #2919 "issues with the retest action"
Several scenarios / issues found.

1) https://github.com/ovn-org/ovn-kubernetes/runs/6004633399?check_suite_focus=true

In that case, the get request fails altogether and returns no runs ...
[code]

Investigate and if no solution, throw an error message that tells users to amend and repush their commit.

2) https://github.com/ovn-org/ovn-kubernetes/pull/2895
https://github.com/ovn-org/ovn-kubernet

[2022-04-13 17:22] trozet opened #2922 "Testing: Need to add coverage/review node update code"
We are missing coverage in our unit tests to ensure when node annotations are updated that the correct action is taken via libovsdb. Recently an issue was exposed by adding a new test case where when updating the nexthop for a node, it creates a duplicate default route in the OVN GR:
https://github.com/ovn-org/ovn-kubernetes/pull/2921

Someone should examine the potential updates to a node annotat

[2022-04-14 13:44] trozet opened #2925 "Fix conntrack deletion for endpoints"
It was noted that conntrack flush may not be done on the right nodes for endpoint deletion:
https://github.com/ovn-org/ovn-kubernetes/pull/2829/files#r849814867

Someone needs to investigate this.

[2022-04-14 15:41] trozet opened #2926 "Multicast flaking in CI"
https://github.com/ovn-org/ovn-kubernetes/pull/2921#issuecomment-1098356648

https://github.com/ovn-org/ovn-kubernetes/pull/2829#issuecomment-1098362414

This started approximately on April 12th. Need someone to dig into why.

[2022-04-14 17:32] trozet commented on #2913
@andreaskaris this behavior doesn't make much sense to me. Why would OVN drop the first packet? Are we sure its being dropped? Or is it just the expected reply is never recieved?

[2022-04-14 17:33] trozet commented on #2913
@dceara are mac bindings in OVN only learned from ARP packets or can they be learned from any IP packet as well?

[2022-04-15 15:16] dceara commented on #2913
@trozet mac bindings are learned from ARP packets.  But if OVN doesn't have an ARP entry (mac binding) for a next-hop it will buffer the packet and send an ARP request.  When the ARP reply is received, the mac binding is created and the buffered packet forwarded.  So we shouldn't be dropping anything.  There's probably a bug somewhere.

[2022-04-18 14:20] halfcrazy opened #2931 "Could ovn-kubernetes works with external ipam plugin?"
Take a look at the following code. ovn-kubernetes does not write a custom ipam conf.
https://github.com/ovn-org/ovn-kubernetes/blob/9e06fb66f89fa7e656df1bbc30e6b8cdb9d201c1/go-controller/pkg/config/cni.go#L18-L29

And search the reference of netconf, there seems not any ipam delegate call.
https://github.com/ovn-org/ovn-kubernetes/blob/9e06fb66f89fa7e656df1bbc30e6b8cdb9d201c1/go-controller/pkg/cni

[2022-04-19 07:06] tssurya opened #2933 "Cleanup gateway code: Update service flows only when needed"
Currently we are blindly deleting and creating service flows no matter what the actual update to the service is. This can be made more granular and accurate by first calculating which flows need to be the updated and then check if its different from current existing flows and recreate accordingly.

[2022-04-19 07:07] tssurya commented on #2933
/assign @tssurya

[2022-04-20 07:11] tssurya opened #2938 "Add additional corner case unit tests for node addition/retry"
We found https://github.com/ovn-org/ovn-kubernetes/pull/2937 which could have been avoided or caught earlier if we had tests where we added a node without host subnet. We should also have tests covering the failure case scenarios in the addOrUpdateNode codepath.

[2022-04-20 14:11] trozet opened #2939 "E2E for (windows) hybrid overlay"
We currently have almost 0 coverage for hybrid overlay. The request here is to add e2e tests that cover this feature. This can be done by simulating a windows/hybrid overlay node using an external docker container attached to the kind network (similar to what we do for external gateways). Then a fake node would need to be added via the kapi with the nohostsubnets label. The external docker contain

[2022-04-21 18:35] tssurya opened #2942 "Node/Pod retry causing unnecessary noise"
[code]

[2022-04-21 18:35] tssurya commented on #2942
/assign @tssurya

[2022-04-21 18:39] tssurya commented on #2942
[code]
probably should be run only on startup

[2022-04-21 18:40] tssurya commented on #2942
Before we used to run call `addRetryPods` only on nodeAdd, now its become a part of nodeUpdate as well... we need to fix this to cut down unnecessary retries of pods.

[2022-04-22 21:04] #2942 closed

[2022-04-25 14:56] #2926 closed

[2022-04-27 14:30] girishmg opened #2953 "better handling of TLS cert rotation in ovnkube-node metrics server"
Instead of loading the TLS key/cert on every connection to ovnkube-node metrics server, we should load TLS key/cert only if the cert has changed due to rotation. Something like this https://github.com/k8snetworkplumbingwg/network-resources-injector/blob/master/cmd/webhook/main.go#L190

[2022-04-27 16:46] trozet opened #2956 "E2E flake: ingress to host-networked pods traffic validation Validating ingress traffic to Host Networked pods with externalTrafficPolicy=local"
https://github.com/ovn-org/ovn-kubernetes/pull/2876#issuecomment-1111224572

@tssurya FYI

[2022-05-03 15:13] amoy-xuhao opened #2964 "Add pod failed due to addLogicalPort error"
ovnkube-master logs:
I0503 05:28:39.009294       1 ovn.go:460] [b7e15390-d6ce-4561-a40d-158b9cc788c6/openshift-multus/network-metrics-daemon-tgvcc] retry pod setup
I0503 05:28:39.009546       1 kube.go:67] Setting annotations map[k8s.ovn.org/pod-networks:{"default":{"ip_addresses":["10.128.0.3/23"],"mac_address":"0a:58:0a:80:00:03","gateway_ips":["10.128.0.1"],"ip_address":"10.128.0.3/23","gateway

[2022-05-04 14:50] trozet opened #2967 "Convert node OVS configuration from ovs-vsctl calls to libovsdb"
Although we converted OVN OVSDB to use libovsdb, our CNI node code still configures OVS via ovs-vsctl commands. This has shown some significant performance hits on the node side, and we should convert all of this to also use libovsdb.

[2022-05-06 09:45] tssurya commented on #2964
Hi @amoy-xuhao  thanks for opening the issue!
Could you please paste the OCP version you were using when you hit this error?

[2022-05-06 09:47] tssurya commented on #2868
@andreaskaris I think this is fixed right? Please close this if so.

[2022-05-06 09:48] tssurya commented on #2956
I think this is related to https://github.com/ovn-org/ovn-kubernetes/issues/2913 from looking at first glance on the failure...

[2022-05-06 09:50] tssurya opened #2969 "ETP=local, LGW flake"
The return rule from MGMT chain should always be `prepended` to the default SNAT rule.

However sometimes this is not the case:
[code]

[2022-05-06 09:50] tssurya commented on #2969
/assign @tssurya

[2022-05-07 01:30] amoy-xuhao commented on #2964
@tssurya Thank you for your attention
The OCP version is 4.9.0

[2022-05-09 20:47] tssurya opened #2973 "Don't retry deletion if objects are not existing"
@flavio-fernandes caught this in our CI:

[code]

no need to retry deletion if pod's annotation isn't there. In this particular case, pod was created ; but before it was scheduled it got deleted, so it never had any LSP or annotation to begin with, deleteLogicalPort need not be strict with it:  https://github.com/ovn-org/ovn-kubernetes/blob/6a541ef1edd633b58e5e5eaddc012b5a8be240bc/go-controller/pk

[2022-05-12 02:43] amoy-xuhao commented on #2964
In the ensurePod function, a lock should be required; because when the ovnkube-master controller starts, the RetryPods goroutine starts, and at the same time, WatchPods will also execute the ensurePod function

[2022-05-12 12:33] tssurya commented on #2964
This is just a red-herring if a monitor drops silently we will force a reconnect: https://bugzilla.redhat.com/show_bug.cgi?id=1998614#c15

[2022-05-13 02:24] duanjiong opened #2985 "ensurePod has concurrency in watchNodes and watchPods"
ensurePod could be called in WatchNodes and WatchPods. The following shows the relationship between their calls:
[code]
Once skipRetryObj is executed before unSkipRetryObj, ensurePod will be executed twice at the same time, which will cause lsp to be added twice.

The pods should be serialized, can we delete the list pods operation in watchNodes?
[code]

[2022-05-13 02:25] duanjiong commented on #2985
/cc @dcbw  @abhat

[2022-05-13 02:25] amoy-xuhao commented on #2964
The problem is not that the monitor drops silently, but that the ovnkube-master controller has added two ips to the pod, causing the execution of the ovn command to fail

[2022-05-13 02:26] amoy-xuhao commented on #2964
@tssurya

I0503 05:28:39.009546 1 kube.go:67] Setting annotations map[k8s.ovn.org/pod-networks:{"default":{"ip_addresses":["10.128.0.3/23"],"mac_address":"0a:58:0a:80:00:03","gateway_ips":["10.128.0.1"],"ip_address":"10.128.0.3/23","gateway_ip":"10.128.0.1"}}] on pod openshift-multus/network-metrics-daemon-tgvcc
I0503 05:28:39.009605 1 kube.go:67] Setting annotations map[k8s.ovn.org/pod-networks:{

[2022-05-13 08:28] tssurya commented on #2964
yes but did you check the comment I linked on the bugzilla which points to another bugzilla as a consequence of that: https://bugzilla.redhat.com/show_bug.cgi?id=2002372#c1 which is what you see in this case?

Bottom line is, the code upstream has diverged by a LOT from OCP 4.9, are you seeing the same problem on a master branch?

[2022-05-13 08:29] tssurya commented on #2964
@amoy-xuhao : also note that you don't have to open and close PRs like you are doing currently to fix an issue, and instead if you have an update you can simply force push to the same branch and that will update a PR.

[2022-05-13 08:49] amoy-xuhao commented on #2964
master branch has the problem too

[2022-05-13 08:51] amoy-xuhao commented on #2964
The logic of the master branch here has not changed

[2022-05-13 08:58] amoy-xuhao commented on #2964
The reason for the problem is that when the ovnkube-master leader starts, watchNodes will obtain all pods on the corresponding node and execute the ensurePod function; at the same time, watchPods will also operate the corresponding pod and execute the ensurePod function, there is a concurrency problem here

[2022-05-13 09:32] tssurya commented on #2964
do you have a cluster live where this is happening on master? The multus pod logs you are showing are not on master, they are from 4.9.

[2022-05-13 10:47] amoy-xuhao commented on #2964
emmm...
I don‘t have the cluster with master branch；And the bug is hard to recurrent

[2022-05-13 10:51] amoy-xuhao commented on #2964
But the logic of concurrency handling ensurePod in master branch is the same as 4.9

[2022-05-13 16:41] andreaskaris opened #2988 "Flake: [Fail] OVN master EgressIP Operations On node UPDATE [It] using EgressNode retry should re-assign EgressIPs and perform proper OVN transactions when pod is created after node egress label switch"
Flake:  [Fail] OVN master EgressIP Operations On node UPDATE [It] using EgressNode retry should re-assign EgressIPs and perform proper OVN transactions when pod is created after node egress label switch

https://github.com/ovn-org/ovn-kubernetes/runs/6425275234?check_suite_focus=true

[2022-05-18 20:28] dcbw commented on #2117
@mattfenwick yes, ovnkube doesn't support named ports because it's a terrible scalability problem. But it appears that ovnkube mishandles named ports in some ways (even though they're unsupported), which we'll fix. Thanks for the report!

[2022-05-31 21:24] dougsland commented on #2685
@SoftTissues this report is still valid? How have you setup your env ?
/cc @flavio-fernandes

[2022-06-02 13:57] #1558 closed

[2022-06-07 23:08] dougsland opened #3025 "Request for comments: Include devmaster tool in contrib dir"
There is a tool created initially by @jcaamano (based on vagrant) called `devmaster` which some members of team have being using to quickly setup environment for testing ovn-kubernetes. (solution based on Vagrant)

I see this tool could be included under `contrib` or even a `hack` dir to have more users exploring it.

Ref:
https://github.com/jcaamano/devmaster
https://github.com/flavio-fernandes/d

[2022-06-07 23:09] dougsland commented on #3025
/cc @flavio-fernandes

[2022-06-08 14:31] tssurya opened #3028 "EgressIP Test "should not do anyting for user defined status updates" is broken"
spoke to @kyrtapz  and @flavio-fernandes already, this is regarding: https://github.com/ovn-org/ovn-kubernetes/pull/3008#issuecomment-1149537762
We think this never worked properly OR we regressed :)

[2022-06-09 17:14] nate-duke opened #3031 "segfault when deleting NetworkPolicy"
I saw the following while trying to debug the following "unexpectedly found multiple equivalent ACLs" error.

Add a generic networkpolicy:

[code]
[code]
[code]

Which then fails to apply, retries, and when the networkpolicy is deleted, the ovnkube-master pod segfaults:

[code]

[code]
Please let me know if any further information is required.

[2022-06-10 11:50] martinkennelly commented on #3031
Can you please raise a bugzilla report for this?

I see this is on `okd`. I tried to repro with latest z of `OCP` (its downstream of OKD) 4.10 and could not repro. Please create a BZ.

[2022-06-10 18:54] nate-duke commented on #3031
created https://bugzilla.redhat.com/show_bug.cgi?id=2095852
I have a must-gather but nowhere really to put it. If i have some time next week i'll look around a little bit more but I just don't have a work-related place to put it.
Happy to dice it up if you'll tell me what you need or get something more focused if that will help.

[2022-06-14 17:38] tssurya commented on #2988
I got another flake on this test: https://github.com/ovn-org/ovn-kubernetes/runs/6885568095?check_suite_focus=true#step:6:24503

[2022-06-14 17:39] tssurya commented on #2988
[code]

[2022-06-14 20:15] trozet commented on #3028
@alexanderConstantinescu FYI

[2022-06-16 10:36] #2938 closed

[2022-06-24 06:14] tssurya commented on #2988
again failed in https://github.com/ovn-org/ovn-kubernetes/pull/3034

[2022-07-12 15:45] tssurya opened #3067 "Convert `checkAndDeleteStaleConntrackEntriesForNamespace` to channel logic"
See https://github.com/ovn-org/ovn-kubernetes/pull/3040#discussion_r919079822 for more details.

[2022-07-13 02:35] Pardhakeswar opened #3068 "Move OVS metrics code to use libovsdb for collecting metrics"
Currently we are using ovs-appctl and ovs-vswitchd calls to update OVS metrics, plan is to move to libovsdb

[2022-07-13 02:37] Pardhakeswar commented on #3068
/assign @Pardhakeswar

[2022-07-15 12:51] chobostar opened #3070 "No new leader election occurs after failing to renew lease"
k8s 1.21

After current leader failed to update lock and stopped with `exit 1`:
[code]

other ovn-masters are still unable to get a lock:
[code]
on both containers.

after 7 minutes old leader started again and continued processing:
[code]

It doesn't look like expected behavior. I wonder if someone could clarify possible reasons - why other available instances are unable to become leader?

Thanks

[2022-07-15 20:15] numansiddique opened #3072 "kind : Not able to create a setup when NET_CIDR_IPV4 is set to IP/16/19"
kind.sh fails if

#export NET_CIDR_IPV4="10.244.0.0/16/19"
#./kind.sh

+ kind create cluster --name ovn --kubeconfig /root/ovn.conf --image kindest/node:v1.24.0 --config=/home/nusiddiq/go/src/github.com/ovn-org/ovn-kubernetes/contrib/kind-ovn.yaml --retain
enabling experimental podman provider
ERROR: failed to create cluster: invalid pod subnet failed to parse cidr value:"10.244.0.0/16/19" with er

[2022-07-19 19:57] dceara opened #3078 "e2e-cp: Conntrack deletion test for ECMP routes flakes in upstream OVN."
One such example can be found [here.](https://github.com/ovn-org/ovn/runs/7360880517?check_suite_focus=true#step:10:1016)

The problem is the e2e test simply compares strings but if the mac addresses it looks for start with a 0, the ct dump will not display those.  For example, from a ct dump in a test run:
labels=0x242ac12000500000000
labels=0x242ac12000600000000
labels=0x242ac12000600000000
labe

[2022-07-20 02:44] #3078 closed

[2022-07-20 20:50] tssurya opened #3080 "Race condition: We are not locking retry entry object in iterateRetryResources"
[code]

https://github.com/ovn-org/ovn-kubernetes/runs/7413431979?check_suite_focus=true#step:6:22836

[2022-07-21 13:27] #3080 closed

[2022-07-21 15:51] tssurya opened #3083 "Re-evaluate for the delete libovsdbops whether setting ErrNotFound to true is needed or not"
Example:

[code]
Here if the pg doesn't exist I guess its ok,? we don't have to return the error, we could warn if needed.

[2022-07-22 18:15] andreaskaris opened #3087 "Flake: error deleting subnet 10.1.1.0/24 for node "node1": network 10.1.1.0/24 does not belong to any known range"
[code]
https://github.com/ovn-org/ovn-kubernetes/runs/7472977076?check_suite_focus=true

[2022-07-25 16:32] npinaeva opened #3091 "shard-conformance ipv6 netpol test failures"
examples:
https://github.com/ovn-org/ovn-kubernetes/runs/7496689716?check_suite_focus=true
https://github.com/ovn-org/ovn-kubernetes/runs/7496690176?check_suite_focus=true
https://github.com/ovn-org/ovn-kubernetes/runs/7502367458?check_suite_focus=true

https://github.com/ovn-org/ovn-kubernetes/runs/7496714919?check_suite_focus=true

https://github.com/ovn-org/ovn-kubernetes/runs/7496556500?check_

[2022-07-26 12:19] npinaeva opened #3094 "unit test panic: test timed out after 10m0s"
Unit tests are failing with timeout, looks like problems with retry.
I was able to reproduce similar failure locally (not consistently), so github Ci shouldn't be the problem here

https://github.com/ovn-org/ovn-kubernetes/runs/7516814507?check_suite_focus=true
OVN master EgressIP Operations IPv6 on pod UPDATE
  egressIP pod retry should remove OVN pod egress setup when EgressIP stops matching pod

[2022-07-26 12:27] npinaeva commented on #3094
Thu, 21 Jul 2022 18:33:43 GMT - 5 days ago was already present
https://github.com/ovn-org/ovn-kubernetes/runs/7455709534?check_suite_focus=true
OVN master EgressIP Operations IPv6 on pod UPDATE
  egressIP pod retry should remove OVN pod egress setup when EgressIP stops matching pod label

Thu, 21 Jul 2022 20:26:09 GMT
https://github.com/ovn-org/ovn-kubernetes/runs/7457361010?check_suite_focus=true

[2022-08-11 21:59] trozet opened #3115 "Port binding failure seen with control plane tests"
Noticed in #3071

https://github.com/ovn-org/ovn-kubernetes/runs/7790008993?check_suite_focus=true

Log download here (including DBs):
https://github.com/ovn-org/ovn-kubernetes/suites/7772737495/artifacts/327196514

This port never binds:

[code]

Looking in nbdb:
ovnnb_db.db:{"eid":"a7423f95-01d6-48f2-9793-d6bf42616879","data":[null,{"Address_Set":{"754c1cdf-03a8-4fe0-b540-5a1087960269":{"address

[2022-08-11 22:07] trozet opened #3116 "Endpoint slices commit causing failures in OpenShift"
Tried pulling in a few commits downstream, and most of the jobs consistently fail:
https://github.com/openshift/ovn-kubernetes/pull/1237

The two main commits there were @npinaeva sync map implementation and @Pardhakeswar endpoint slices change. I then opened 2 more PRs, one without sync map:
https://github.com/openshift/ovn-kubernetes/pull/1245

^ fails most jobs

one without endpoint slices:
htt

[2022-08-15 11:21] dceara commented on #3115
@trozet I'm not really sure what happened here.

The port binding doesn't exist in the SB.  I tried checking ovn-northd logs around the time the port was added but we have none.  It's hard to tell what went wrong without the logs.  Is it possible that a previous test had restarted ovnkube-master pods and that the current test didn't collect the most recent logs?

[2022-08-16 08:50] npinaeva commented on #3094
Fixed by https://github.com/ovn-org/ovn-kubernetes/pull/3097

[2022-08-16 08:50] #3094 closed

[2022-08-16 09:32] ricky-rav commented on #3116
I see that you've included my follow-up PR on endpoint slices, thanks @trozet!

We now have:
- https://github.com/openshift/ovn-kubernetes/pull/1246 (reverting both endpointslice PRs)
- https://github.com/openshift/ovn-kubernetes/pull/1237 (including both endpointslice PRs)

Comparing failures in those two PRs, I see that both PRs now fail two required jobs, with one overlap:
- 1246 fails `ci/prow

[2022-08-16 12:41] ricky-rav commented on #3116
All required jobs succeeded this time on 1237.

[2022-08-16 12:55] ricky-rav commented on #3116
Same for 1246. @trozet I think we're ready to merge the endpointslice commits.

[2022-08-16 13:50] trozet commented on #3116
yeah looks like your fix resovled the problem. Thanks!

[2022-08-17 18:54] jrvaldes opened #3119 "AWS EC2 instance metadata endpoint not available for kubelet after hybrid-overlay is running on Windows Server 2022"
The AWS EC2 [instance metadata endpoint](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-data-retrieval.html) becomes unavailable after `hybrid-overlay` is running on Windows Server 2022 preventing the node address to be collected the from the cloud provider, in this case AWS, as shown in the following message from `kubelet` logs:

[code]

After a `kubelet` restart, the service fa

[2022-08-18 13:43] jrvaldes commented on #3119
This issue with the AWS EC2 [instance metadata endpoint](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-data-retrieval.html) not being available after hybrid-overlay running is only present on Windows Server 2022.

With Windows Server 2019, the EC2 instance metadata endpoint is reachable with hybrid-overlay running as a Windows server
[code]

- Network routes after hybrid-overlay

[2022-08-18 14:36] trozet commented on #3116
OpenShift is seeing a regression with outage timers for OpenShift routes (leverages services) over 1m20 seconds during upgrade. Reverting the endpoint slices has fixed the issue:
https://github.com/openshift/ovn-kubernetes/pull/1248

https://issues.redhat.com/browse/TRT-468

Problem:
[code]

Due to this regression we may need to revert in upstream until we figure out the fix.

[2022-08-24 08:34] martinkennelly opened #3130 "OVN-Kube node launched with KinD is crashing"
[code]

Coming from here: pkg/node/gateway_shared_intf.go:1290
It expects a stdout but got what is shown above.
When I apply the command manually to set rp_filter, I get the expected string and not "/proc/sys/net/ipv4/conf/ovn-k8s-mp0/rp_filter = 2"

[2022-08-24 12:18] martinkennelly commented on #3130
[root@ovn-worker2 ~]# sysctl -w net.ipv4.conf.ovn-k8s-mp0.rp_filter=2
/proc/sys/net/ipv4/conf/ovn-k8s-mp0/rp_filter = 2
[root@ovn-worker2 ~]# uname -a
Linux ovn-worker2 5.18.6-200.fc36.x86_64 #1 SMP PREEMPT_DYNAMIC Wed Jun 22 13:46:18 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

f36

[2022-08-24 12:27] martinkennelly commented on #3130
ovn-k updated to f36 recently and the issue seems to have disappeared when I deleted the f36 image that was 8 months old on my system and downloaded the latest version.

[2022-08-24 12:27] #3130 closed

[2022-08-26 19:59] #3116 closed

[2022-09-05 07:20] wangshuai199398 opened #3140 "Hello, does OVN-Kubernetes support DPDK interfaces?"

[2022-09-06 11:22] sheldon-wangsk commented on #3140
I also wonder if OVN-K8S has any plans to support OVS-DPDK?

[2022-09-07 09:27] npinaeva commented on #3091
Also can cause
[code]
because retest can take up to 30 min `[1m• Failure [1829.523 seconds]`
check logs for `"msg":"FAILED`, 29 failures can cause timeout: https://github.com/ovn-org/ovn-kubernetes/runs/8211570187?check_suite_focus=true

[2022-09-08 10:23] npinaeva opened #3150 "e2e (control-plane, HA, shared, ipv4, noSnatGW, 1br): timed out"
https://github.com/ovn-org/ovn-kubernetes/runs/8228933899?check_suite_focus=true

Pods can't get created after test that changes node MTU. After that time lsp never claimed, ovnkube-master seem to be fine
ovn-controller logs don't have any `Claiming lport` logs after that.

ovnkube-node pod on ovn-worker was restarted with node not ready at 2022-09-07T13:40:26 (that is a part of https://github.com

[2022-09-08 10:25] npinaeva commented on #3115
one more example https://github.com/ovn-org/ovn-kubernetes/runs/8228932612?check_suite_focus=true

[2022-09-08 10:31] npinaeva commented on #3150
another failure https://github.com/ovn-org/ovn-kubernetes/runs/8237606594?check_suite_focus=true

[2022-09-09 15:17] tssurya opened #3154 "Race in unit test: Egress Service Operations"
[code]

[2022-09-09 15:24] tssurya commented on #3154
[code]

[2022-09-10 14:05] tssurya opened #3157 "unit test flake: Informer Event Handler Tests: adds existing pod and processes an update event"
https://github.com/ovn-org/ovn-kubernetes/runs/8284519433?check_suite_focus=true#step:6:3802

[code]

[2022-09-11 13:59] tssurya opened #3158 "Implement Admin Cluster Network Policy"
Tracks trying to implement https://raw.githubusercontent.com/kubernetes-sigs/network-policy-api/master/config/crd/bases/policy.networking.k8s.io_adminnetworkpolicies.yaml in OVNK