[2019-01-18 16:53] #575 closed

[2019-01-18 18:38] pecameron commented on #531
@girishmg I ran into this in PR 559. I found that setting up /opt/cni/bin/ovn-k8s-cni-overlay after the "ovnkube --node" pidfile is created solves the problem. I wonder if this may help with what you are seeing.

Also, when ovn is removed make sure /opt/cni/bin/ovn-k8s-cni-overlay and /etc/cni/net.d/10-ovn-kubernetes.conf are deleted.

[2019-01-19 16:45] cn-mayank commented on #576
Hi @aserdean ,
I recreated the setup with your branch. This time the pods were able to ping each other from start but internet access has still some trouble.

Ability to access internet from within container keeps toggling. This makes it unusable to safely run application inside it.
For e.g. I create pod1 and ping google's server which it is able to reach 3/4 times
[code]

However after some time,

[2019-01-23 16:40] girishmg opened #583 "External Logical Switch for L3 gateways assume that underlay is untagged"
All the external logical switches with "unknown" ports assumes that the underlay is untagged. This may not be the case. The underlay network could be tagged and therefore we need a way to specify a vlan, maybe --gateway-vlan. In the absence of this argument, we could assume untagged underlay (and this will be default).

[2019-01-24 15:00] lanoxx opened #584 "How does kubectl authenticate with cluster?"
I am wondering how the authentication with the cluster is supposed to work. Right now, when I setup a cluster, then out-of-the-box I can only use `kubectl` on my Windows node to control the cluster. Using `kubectl` on the master or Linux node does not work because a `~/.kube/config` file is missing.

When I checked the different Ansible tasks I found three occasions where a `kube config` may be cr

[2019-01-24 20:44] lanoxx commented on #498
@shettyg I seems that the results of `systemd-resolve --status` can not be output in a machine readable format, but systemd keeps a file at `/run/systemd/resolve/resolv.conf`which could be easily parsed.
Would it be possible to read `/run/systemd/resolve/resolv.conf` before the gateway is initialized and then restore the DNS servers in there after creating the bridge?

[2019-01-29 07:52] dotanalon opened #588 "contributing and developing"
Hey,
we examining the use of ovn + ovs in our k8s use case,
currently I cant find the architecture documentation regarding this project, we have several things that we dont fully understand like:
* vxlan or geneve endpoints for underlay networks
* the gateway mechanism
   for example I have 1 k8s controller and one node, on the master this is the ovnkube execution:  /usr/bin/ovnkube --cluster-subn

[2019-01-29 09:51] dotanalon opened #589 "no geneve endpoint created"
I have 3 nodes installation, using kubeadm.
master and 2 nodes.
no geneve tunnels created between them.
[code]
this is the ovnkube command I executed:
master:
[code]

nodes:
[code]

[2019-01-29 10:30] cn-mayank commented on #576
Hi,
Any idea what can cause toggling of internet access as above ? what can I do next to debug the issue ?

[2019-01-29 11:24] aserdean commented on #576
Thanks for the report @cn-mayank . I tried it out and reproduced the issue. I'm still unsure what is the root cause of it right now.

It might be a problem with the way we handle `ICMP` packets in our conntrack code or it might be caused by the Microsoft `ping` implementation which does not change the `ICMP identification` field. Can you try out the gnu ping instead of the regular ping that is ins

[2019-01-29 12:15] lanoxx opened #590 "Using RBAC with OVN"
When RBAC is enabled the OVN tool fail to work correctly, presumable because they cannot authenticate with the apiserver anymore.

I tried binding each node to the system:node cluster role, but it seems that is not enough. Is there any documentation available on using RBAC with OVN-Kubernetes?

Also, I think if the generated SSL certificates would include an `O=` organization property in addition

[2019-01-29 13:02] lanoxx commented on #584
I missed that on the master and the linux node the `.kube/config` files are being created in the root user account and not for the user `ubuntu`, which I used to login with.

As for the windows node, I realized that it uses the insecure port to access the cluster with completely bypasses any authentication or authorization:

Source: https://kubernetes.io/docs/reference/access-authn-authz/rbac/#pri

[2019-01-29 13:02] #584 closed

[2019-01-29 13:45] dotanalon commented on #588
Thanks,
currently I have issues with the tunneling...
any way to check why nodes not listed in the chassis topology?

[code]
while there is master and 2 nodes configured
Thanks,

[2019-01-29 13:54] dotanalon opened #591 "components distribution"
from the documentation is not fully clear on which k8s role which ovn or ovs component need to execute:
for example in non HA env which components will run on a k8s node? ovs+ovnkube only or ovn controller also?
Thanks,

[2019-01-29 15:06] dotanalon commented on #589
I managed to solve this by running ovn-controller on each node, now I can see all chassis:
[code]
but now I encountered another issue its look like there is some mismatch whit the endpoints... (look at the geneve interface on node2)

master node:
[code]
node1:
[code]
node2:
[code]

[2019-01-29 15:11] dotanalon commented on #589
Solved, I had typo in /etc/hosts

[2019-01-29 15:11] #589 closed

[2019-01-29 16:05] aserdean commented on #591
For every worker/minion you need the following: `ovsdb-server`, `ovs-vswitchd`, `ovn-controller`, `ovnkube`.

You will need `ovn-northd` which will require two additional ovsdb-servers for the NB/SB database. We usually deploy it where the rest of the main Kubernetes components are (i.e. kube-apiserver).

You can use https://github.com/openvswitch/ovn-kubernetes/tree/master/vagrant or https://gith

[2019-01-29 16:10] aserdean commented on #588
I guess you figured it out:
https://github.com/openvswitch/ovn-kubernetes/issues/589

Do you mind if I close this issue?

[2019-01-29 19:11] #591 closed

[2019-01-29 19:11] #588 closed

[2019-01-29 19:12] dotanalon opened #592 "dpdk support"
is ovs dpdk supported?

[2019-01-29 21:46] shettyg commented on #592
Not right now. OVS/OVN supports DPDK. But, the CNI from this repo, does not support it.

[2019-01-29 21:46] #592 closed

[2019-01-29 21:47] shettyg commented on #590
The vagrant directory in the repo (setup-master.sh) shows how to use RBAC. e.g: From here: https://github.com/openvswitch/ovn-kubernetes/blob/master/vagrant/provisioning/setup-master.sh#L165

[2019-01-30 04:01] wawa0210 opened #595 "Cannot running deployment coredns"
I have installed kubernetes via the ansible playbook in contrib.

After installed,i found the coredns is not ok

[code]

the pod logs seems that

[code]

in the mirror linux ,exec these commands and shows that
[code]
The cluster virtual ip configuration is as follows:
[code]

Can you give me some debugging hints?

[2019-01-30 10:09] alinbalutoiu commented on #595
Can you check from the linux minion node the ``ovn-kubernetes-node`` service? It should say what is wrong with the CNI.

[2019-01-31 08:22] lanoxx opened #599 "Windows: Error 'docker' command not found"
I am quite often seeing this error when the playbook runs. The error goes away after I reboot the affected machine, but it is anying never the less. I think it would be nice to implement a check whether the docker command is available and reboot the machine if its not. I am taking a wild guess here, but could it be that docker is not yet on the `PATH` for the powershell instance that is currently

[2019-01-31 08:51] lanoxx opened #600 "Windows: Error in 'Run setup_ovs_hns' script: Cannot Stop"
I am sometimes getting the following error for Windows nodes when I run the playbook. The error usually goes away if I just rerun the playbook for a second time.

    TASK [windows/kubernetes : OVS HNS network setup | Run setup_ovs_hns script] *************************************************************************************************************************************
    fatal: [ip-172-33-

[2019-01-31 15:41] lanoxx commented on #590
Thanks for the pointer, it was a good reference. I managed to activate RBAC with OVN, in addition to the service role binding, I added the Node Authorization module and had to make the corresponding changes to the `node.pem` certificate (e.g. update username to `system:node:<nodeName>` and add `system:nodes` group) and also had to add the `system:masters` group to the `admin.pem` certificate.

[2019-01-31 15:41] #590 closed

[2019-02-01 02:14] pliurh opened #601 "The version of kubectl in CentOS Image is too low."
In CentOS image, the installed kubectl version is v1.5, which reports following error when try to talk with apiserver of v1.12.

"Error from server (InternalError): an error on the server ("service unavailable") has prevented the request from succeeding".

And it causes the ovn-node script failure in

"info: Waiting for ready_to_start_node  to come up, waiting 5s ...".

[2019-02-01 02:32] pliurh opened #602 "onv-kubernetes should use kubeconfig file generated from its own service account."
In ovnkube.sh, KUBECONFIG is hard coded to '/etc/origin/node/node.kubeconfig', which only exists in okd 3.x. And using it in a pod is more or less violating the RBAC of K8S.

So instead of using that, I propose to generated  the kubeconfig file from ovn-kubernetes's own secrets in '/var/run/secrets/kubernetes.io/serviceaccount'.

[2019-02-01 03:20] wawa0210 commented on #595
Yesterday, i clean the machine and try again ,it's works ok . I have a suggestion about that ansible .Why not deploy ovn as a daemonset by ansible . it's will be more simpleness and more convenient

[2019-02-06 17:51] #601 closed

[2019-02-07 12:20] aserdean commented on #576
@cn-mayank any updates on the above?

[2019-02-07 14:29] lanoxx opened #606 "Ansible: Using the FQDN instead of the hostname"
Currently the ansible scripts are using the `ansible_hostname` to as node names everywhere. I tried to enable the `--cloud-provider=aws` option on the api server and kubelets and that requires that node names have the `private_dns` FQDN as node names. In fact, when I activate the AWS cloud provider option in the api server then the node names are automatically changed to the FQDN and the OVN overl

[2019-02-07 18:25] danwinship opened #607 "no way to pass MTU to ovnkube.sh"
When launching via ovnkube.sh, there is no way to override the MTU.

Perhaps having `${OVNKUBE_OPTS}` would be a good fix

cc @pecameron

[2019-02-07 19:28] cn-mayank commented on #576
Hi @aserdean ,
Sorry I could not try out your suggestion yet. I am completely occupied in another project this week but I will definitely get back to you next week. Regards.

[2019-02-08 09:08] aserdean commented on #576
@cn-mayank no worries, I was just curious.

Hopefully next week I can find time to investigate the ICMP issue properly and let you know.

[2019-02-08 11:24] lanoxx commented on #606
Here is an upstream issue in kubernetes discussing problems of enabling the `--cloud-provider=aws` option in Kubernetes: https://github.com/kubernetes/kubernetes/issues/54482

[2019-02-11 15:33] lanoxx opened #609 "Bug: Wrong log level"
Just noticed this while going through the log files, this should probably have log level error not info:

https://github.com/openvswitch/ovn-kubernetes/blob/e8fb3e7fb0768f6b69421667c06d93eb6af92ab3/go-controller/pkg/cni/helper_windows.go#L78

[2019-02-11 17:55] alinbalutoiu commented on #606
Hi @lanoxx, I don't think there is a reason why the hostname is used instead of the FQDN, @aserdean can confirm on that as well. However it requires a bit more testing.

Can you run the following on the Windows node:
[code]
That should update the hostname in the southbound DB. On Linux it seems to be set automatically, not sure why it's not getting set on Windows as well, checking that out.

[2019-02-12 05:40] girishmg opened #610 "ovnkube.log and ovnkube-master.log shouldn’t be in /var/log/openvswitch"
The log files for ovnkube-node and ovnkube-master daemons are logged under
/var/log/openvswitch. However, when logrotate rotates the log files under /var/log/openvswitch folder daily, the ovnkube daemon cannot log anymore to the new log files.

[code]
After Feb 7th, there is nothing being captured.

[code]

We should just log those files under /var/log?

[2019-02-12 12:03] lanoxx commented on #606
@alinbalutoiu Thanks for the reply. I am still struggling to understand how the hostname is related to various places in both Kubernetes and also OVN.

So far, I have tried adapting the ansible scripts, such that the Kubelets uses the FQDN as hostname. This requires, that OVN Kube also uses the FQDN name, since per the documentation they need to be the same. It also requires other changes such as

[2019-02-12 20:42] shettyg commented on #610
Good catch. One option is for ovnkube to catch the signal and re-open the log file.

[2019-02-12 23:52] girishmg commented on #610
@shettyg right we don't have a control AF_UNIX socket. I agree that it is better to gather all the log files under  /var/log/ovn-kubernetes

[2019-02-13 12:01] lanoxx commented on #512
This is starting to become more of a problem, now that I am trying to enable the `--cloud-provider=aws` option in the Windows `kubelet`. This option need to reach the metadata IP, which is not reachable until I manually add the route back. I need to repeat that after each reboot.

@aserdean Did you have a change to take a look at this, or do you have some idea what the problem is?

[2019-02-13 13:47] lanoxx commented on #79
Ouch, I just spend a couple of ours trying to debug my broken services that I had setup for ingress, until I just found this issue. Is there any plan to fix this soon or is this a larger issue. What is the recommended way to setup ingress with OVN-Kubernetes?

[2019-02-13 15:23] lanoxx opened #611 "Node Port issue on Linux Minion"
I have problems accessing the node port of a service running on my linux minion (ip-172-33-69-225):

    root@ip-172-33-69-225:/home/ubuntu# kubectl get svc --all-namespaces
    NAMESPACE     NAME                   TYPE        CLUSTER-IP    EXTERNAL-IP   PORT(S)                  AGE
    default       kubernetes             ClusterIP   10.96.0.1     <none>        443/TCP                  45h
    de

[2019-02-13 17:32] girishmg commented on #611
What is the output of `ovn-nbctl lb-list`?
Are the Core DNS PODs up and running?
What is the git commit ID of the ovn-k8s in your deployment?

[2019-02-13 17:39] girishmg commented on #602
@shettyg @dcbw This issue can be closed since PR #605 takes care of it.

[2019-02-13 17:44] girishmg opened #612 "ovn-k8s-cni-overlay should be renamed to ovn-k8s-cni"
Everything that ovn-k8s-cni-overlay CNI Network Plugin does has nothing to do with the overlay aspects. It

- plugs one end of the VETH pair into the POD and adds other end on to br-int
- tags the port on br-int with `iface-id=<logical_port_name_goes_here>`

Naming the CNI plugin ovn-k8s-cni makes sense since it could as well be used to achieve the underlay mode as well.

[2019-02-13 17:58] shettyg commented on #611
You start with:

On master:

1. ovn-nbctl list load-balancer
2. Look for the record for the node in question (It should be something like GR_$nodename)
3. See if the  NodePort entry that you were looking for exists.

On Node:

1. Dump the flows of the physical OVS bridge (ovs-ofctl dump-flows $bridgename). You should see an entry for the nodeport in question
2. Make sure that ovn-controller is run

[2019-02-13 18:03] shettyg commented on #79
So, I know that ingress works with ovn-kubernetes because the guys at openshift and vmware have previously confirmed it.

I have never set it up. So, I don't really understand why service type load-balancer is important for ingress to work.  My understanding is that

1. Your ingress POD will run with host network.
2. Packet arrives to that host IP + port
3. Ingress POD will NAT it to a Service IP.

[2019-02-13 18:05] shettyg commented on #612
It is just a name. If it is too much work to change it everywhere, you can simply ignore the naming.

[2019-02-13 18:05] #602 closed

[2019-02-13 18:33] danwinship opened #613 "master must deal with pods being created before their node is ready"
The master is assuming that no non-hostNetwork pods will be scheduled on a node until after ovnkube on that node has fully registered itself. But this isn't quite true; a pod that tolerates `KubeletNotReady` can be *scheduled* to the node while ovnkube is still starting up, it just won't be able to get past `ContainerCreating` until ovnkube is ready. But when this happens, the ovnkube master tries

[2019-02-14 02:51] oilbeater commented on #613
Maybe ovn-kubernetes should requeue failed addPod event

[2019-02-14 11:31] aserdean commented on #512
Ouch! Are you adding a persistent route?

The issue (as mentioned before), is that, when we create the hns network, unfortunately, we have to copy all of the old adapter properties on top of the new interface.

It's basically this issue: https://github.com/Microsoft/SDN/issues/84, but we have to keep in mind this happens also for:
`Get-NetAdapterAdvancedProperty` , `Get-NetRoute`, `Get-NetIPInterf

[2019-02-14 16:18] dcbw commented on #613
I think this is actually a dupe of https://github.com/openvswitch/ovn-kubernetes/issues/531 ?

[2019-02-14 18:03] kirkse opened #615 "Ansible playbooks to deploy ovn-kubernetes error at Running kubectl version"
Hi there,
I tried to deploy ovn-kubernetes by using the ansible playbook in the contrib folder. The script stuck at prepare_master.yml task name "Kubernetes Master | Waiting for kube-apiserver to start".  The shell command kubectl version tried 30 times then the ansible stop due the fatal failure of checking the api server.
run "kubectl version" from bash get error: the connection to the server x.

[2019-02-14 19:38] danwinship commented on #613
indeed

[2019-02-14 19:38] #613 closed

[2019-02-15 08:07] lanoxx commented on #79
@shettyg There are several ways to setup ingress. With a service of type load balancer Kubernetes will automatically deply an AWS Classic Load Balancer that forwards traffic to a service port. On the service port you could then have an ingress controller listening, such as *traefik*. Once that is setup, you can create `Ingress` resources in Kubernetes that will cause the ingress controller to rout

[2019-02-15 10:39] squeed opened #617 "Clean up orphaned nodes / handle missed deletions"
If the master process is not running when a node is deleted, it will miss the event. There will then be orphaned resources, e.g. router ports.

This can be fixed in two ways - either by adding ovn-kube as a finalizer that blocks node deletion until the network resources are cleaned up, or by having a separate reconciliation loop that looks for orphaned northbound rows.

We've been idly chatting fo

[2019-02-15 11:14] lanoxx commented on #611
**TL;DR:** I came to realize that the node port is only accessible from outside the respective machine. The node ports on my linux node actually work when accessed outside the machine. But on the Windows node only one of two node ports is accessible.

@girishmg Yes, core DNS pods are up and running.

The output of `ovn-nbctl lb-list` is:

    UUID                                    LB

[2019-02-16 11:13] lanoxx commented on #615
Did you check the kube-apiserver logs?

[2019-02-16 19:27] ylhyh opened #619 "Cannot execute make under Linux OS"
Becuase of all the sh files under the folder "go-controller\hack" are stored in dos format.
Execute make will occurs below error:
`-bash: hack/build-go.sh: /bin/bash^M: bad interpreter: No such file or directory`

Files should use unix line-ending

[2019-02-17 18:36] ylhyh opened #620 "Cannot init node with "Error setting OVS external ID...""
I have follwoing the guide [HA.md](https://github.com/openvswitch/ovn-kubernetes/blob/master/docs/ha.md) to created an OVN cluster.
Then execute
`ovnkube --init-master ...` to initlizized master with no error.

When I executing node initialization use ovnkube with the parameters below:
`sudo ovnkube --k8s-kubeconfig /etc/kubernetes/admin.conf \
--loglevel 4 \
--logfile "/var/log/openvswitch/ovnkub

[2019-02-17 20:39] girishmg commented on #620
Setting up the ovn-nb key in Open_vSwitch's external_ids is literally one of the first things we do when bringing up onvkube in node mode. Can you check if ovsdb-server process is up and running on that node?

[2019-02-18 00:50] ylhyh commented on #620
Thank you very mush @girishmg.
Yes, I forget to start openvswtich.service on the nodes.

After I started the openvswitch.service and execute ovnkube --init-node again, all the kubernetes nodes get Ready.

Should I execute ovnkube --init-node on the Kubernetes MASTER nodes? NODE in ovn is meaning NETWORK NODE, not Kubernetes NODE, right?

[2019-02-18 05:13] girishmg commented on #620
`ovnkube node` means the entity that needs to run on every kubernetes node. It creates OVN L3 gateways and that provide Internet/External network access to pods. Also, it provides the K8s service NodePort feature .

[2019-02-18 11:21] lanoxx commented on #512
No, the persistent route already exists, but it is not being restored after a reboot. If you look at  the two pictures I posted in the issue description, you can see that the metadata service (e.g. 169.254.169.254) is already visible under persistent routes both before and after the setup process.

After some more debugging I realized that, just as you explained too, the problem is that the existi

[2019-02-18 18:50] ylhyh commented on #620
Thans again @girishmg.

I'm confusing between the two guide:
[](https://github.com/openvswitch/ovn-kubernetes/blob/master/README.md)
[](https://github.com/openvswitch/ovn-kubernetes/blob/master/docs/ha.md)

For HA OVN central database, should i follow HA guide to start nb_db/sb_db by the following scripts?
[code]

Or use /usr/share/openvswitch/scripts/ovn-ctl start_northd to start them?

I have me

[2019-02-19 02:23] ylhyh opened #621 "Confused with the two guide"
I'm confused with the two guide:
[How to use Open Virtual Networking with Kubernetes](https://github.com/openvswitch/ovn-kubernetes/blob/master/README.md)
[OVN central database High-availability](https://github.com/openvswitch/ovn-kubernetes/blob/master/docs/ha.md)

For HA OVN central database, should i follow HA guide to start nb_db/sb_db by the following scripts?
[code]

Or use /usr/share/openvs

[2019-02-19 02:24] #620 closed

[2019-02-19 23:39] girishmg opened #624 "OVN DB ports 6641/6642 are accessible from all the user's PODs in K8s cluster"
We currently have a security issue where-in from within the user's PODs one can access OVN NB and SB DBs. We either need to do one or both of the following:

- add an iptable rule on the node that hosts OVN DBs to prevent access from cluster subnet CIDR

or/and

-  add an iptable rule on the node that hosts OVN DBs to be accessible only from the interface that has NODE IP configured.

[code]

[2019-02-20 00:32] girishmg commented on #617
@squeed I agree that the reconciliation loop will be better. This loop will also ensure that the OVN DBs are in sync with the Source of Truth in K8s (aka etcd cluster) and perhaps add any missing OVN logical resources or remove any stale OVN logical resources.

[2019-02-20 08:52] ylhyh opened #625 "Failed to create a single common distributed router for the cluster | failed: signal: alarm clock"
I have deployed HA OVN central database(172.16.126.205,172.16.126.206,172.16.126.207) by following the guid [HA.md](https://github.com/openvswitch/ovn-kubernetes/blob/master/docs/ha.md).

When I running ovnkube on the Kubernetes master node, it occurs the following error:
[code]

systemd file of ovn-kubernetes
[code]
File content of ovn_k8s.conf
[code]

Can anyone tell me how to diagnosis this err

[2019-02-20 09:32] ylhyh commented on #625
it occurs the error below if I run ovnkube in frontend:

[code]

[2019-02-20 11:53] ylhyh opened #626 "Questing about central database HA"
Can I deploy HA central database instances to other machines instead of Kubernetes Master Nodes?

[2019-02-20 17:03] girishmg commented on #626
Not right now. However, I am going to submit a PR soon that will allow you to do what you are asking. See this document for more information:
https://docs.google.com/document/d/1khkgTNvjSEKgOSrzJOTtApL_mai-f3-pW1NHXOv5Dak/edit?usp=sharing

[2019-02-20 17:17] shettyg commented on #619
We continuosly build under linux. So, something else is going on at your end. May be a fresh clone?

[2019-02-20 17:17] #619 closed

[2019-02-20 17:19] shettyg commented on #621
You should start ovn-northd the way it asks to be started in HA guide.

[2019-02-20 17:19] #621 closed

[2019-02-20 17:19] girishmg commented on #624
Perhaps, we should have our own `iptables` chain called OVN-KUBERNETES within which we not only open up ports 6641 an ports 6642 on the correct host interface, but also block access from the K8s POD network subnet(s).

[2019-02-20 17:21] shettyg commented on #625
It likely means that the cluster is not healthy.

[2019-02-20 17:27] shettyg commented on #79
It is still do not understand how it works. What is a service port? An example? Is it an IP:port? Is traefik running in a pod or host?  So the first step is for traffic to reach traefik. I would like to understand that first. And wondering, how is it that OVN prevents it.

I think, there is usually 2 pods running in 2 nodes (with specific node selector added when deploying pod). Not sure how the H

[2019-02-20 17:29] shettyg commented on #617
We do that for specific resources like pods, services etc. i.e we look at pods in k8s and then look at logical ports in OVN and delete any that did not exist. Same thing will have to be done for nodes.

[2019-02-20 17:32] ylhyh commented on #626
Thanks @girishmg , that would be great if it can be achived.
Actually I have tried to use external DB but meet errors: #625 .
And it still get same error even I moved the central database to Kubernetes Master nodes .

[2019-02-20 17:51] girishmg commented on #625
@ylhyh can you also make sure if your OVN NB and SB endpoints are correct? I see they are using 6643 and 6644? They are RAFT cluster ports. You should be using 6641 for OVN NB and 6642 for OVN SB.

[2019-02-20 18:07] ylhyh commented on #625
@shettyg

I have used the external central database. @girishmg tell me that external central database is not support for now. So I build another central database cluster on 3 Kubernetes Master nodes:172.16.126.202, 172.16.126.203, 172.16.126.204.

But it still throw the exceptions:
[code]

What does the error mean?

The cluster status shows below:
[code]

[2019-02-20 18:12] shettyg commented on #625
As @girishmg pointed out, looks like you are using wrong port numbers.

The doc at https://github.com/openvswitch/ovn-kubernetes/blob/master/docs/ha.md does not have 6643 written anywhere

[2019-02-20 18:13] ylhyh commented on #625
@girishmg , how to change the listening port? I have used the way that mentioned in HA.md to create the cluster, it's automatically bind to 6643 and 6644

[2019-02-20 18:37] girishmg commented on #625
Try this out

- on the Leader of the RAFT cluster for NB
   `ovn-nbctl set-connection ptcp:6641`
- on the leader of the RAFT cluster for SB
    `ovn-sbctl set-connection ptctp:6642`

How do you find who is the leader? For that use this..
[code]

[2019-02-20 19:00] shettyg commented on #625
@ylhyh I think you are confusing port numbers. The 6643 and 6644 are used as peer ports for clustered database for RAFT protocol to work. You should still use 6641 and 6642 to access OVN databases.

[2019-02-20 19:54] ylhyh commented on #625
@girishmg
After execute "ovn-nbctl/ovn-sbctl set-connection ...", there are 2 ovsdb-server processes are being listen on 6641 and 6642 ports:
[code]

And ovnkube can success  connect to central database, but a new error occured of "Failed to add logical port to router, ...  router UUID not found".
Am I missing steps? And why ask people to manually execute ovn-nbctl/ovn-nbstl to set port number ins

[2019-02-21 02:09] girishmg commented on #611
I think this behavior is expected. That is, you cannot access a service using <k8s_node_ip:node_port> from the k8s node itself. On every K8s node we create a management port that provides access to all the PODs from the node. We then add the following routes.

[code]

192.168.2.2 is the management port (on br-int) and 192.168.2.0/24 is the overlay subnet.
10.96.0.0/12 is the cluster service subnet

[2019-02-21 11:32] ylhyh commented on #625
After many times reset/reconfigure, the Linux Minion node works. But there are still two issues blocked me:
1. coredns pod in kube-system stucking CrashLoopBackUp by the error blow:
`E0221 11:21:22.384157       1 reflector.go:205] github.com/coredns/coredns/plugin/kubernetes/controller.go:311: Failed to list *v1.Service: Get https://10.96.0.1:443/api/v1/services?limit=500&resourceVersion=0: dial t

[2019-02-21 11:44] ylhyh commented on #626
@girishmg, one more question: What is the role of the "--ha" option of ovnkube?
`--ha                              HA option to reconstruct OVN database after failover`
It's required when connect to a HA central database?

[2019-02-21 17:48] ylhyh commented on #625
I think the database connection is due to openvswitch 2.7.0 does not support the connection mehtod of HA central database. So I created a VIP point to leader node, Finally, very regrettable, it says:
[code]

[2019-02-21 17:58] shettyg commented on #625
If your goal is windows installation, have you considered looking at the ansible files that create Windows node and installation? That should help you follow step by step instructions.

If the goal is Linux installation, consider looking at the setup-master.sh and setup-minion.sh files in vagrant/provisioning directory.

[2019-02-21 18:11] shettyg commented on #626
@ylhyh Ignore --ha option. It means something else.

[2019-02-25 15:28] lanoxx commented on #611
@girishmg Thanks for these explanations. I understand now why the port is not available from the host itself. But what I still do not understand is why the Dashboard service port is not accessible on the Windows machine. As I understand services, a service port should be reachable on any node no matter where the service is actually running. If the service does not run on the node itself, incoming

[2019-02-25 15:56] lanoxx commented on #79
@shettyg My understanding is that a `LoadBalancer` service is basically just a service of type `NodePort` (e.g its an IP:port opened on the host), with the additional benefit that a load balancer is created through the cloud provider API and the load balancer configuration is wired to target traffic to the correct nodes. Since NodePort services appear to be supported I am not sure why `LoadBalance

[2019-02-26 08:45] lanoxx commented on #79
@shettyg

Here is some more example, if I deploy my *traefik ingress controller* then I get the following service (`kubectl get svc --all-namespaces`):

    NAMESPACE     NAME                   TYPE           CLUSTER-IP    EXTERNAL-IP                                                                          PORT(S)                                     AGE
    kube-system   traefik-external       Loa

[2019-02-26 14:10] lanoxx commented on #79
@shettyg
I am not too familiar with the OVN code base, but while searching through the code, I found there are several place where logic is guarded explicitly against `kapi.ServiceTypeNodePort`, such as:

https://github.com/openvswitch/ovn-kubernetes/blob/master/go-controller/pkg/ovn/service.go#L58
https://github.com/openvswitch/ovn-kubernetes/blob/master/go-controller/pkg/cluster/gateway_shared_i

[2019-02-26 19:08] girishmg opened #629 "Alternate way to generate ovn-k8s yaml files from the template yaml files"
We need a robust way to generate ovn-k8s yaml files from the Jinja2 template files.

The `daemonset.sh` assumes Ansible and doesn't not take any arguments to override the Ansible assumption. One cannot pass -- net_cidr, svc_cidr, image path for daemonsets, and so on. For example:

[code]

ends up generating following OVN-K8s ConfigMap

[code]

I am thinking of  adding a `subcommand` to ovnkube bin

[2019-02-26 21:52] #485 closed

[2019-02-26 22:02] shettyg commented on #79
That is because, I simply did not understand what "LoadBalancer" service is - in spite of trying to read about it multiple times.

With service type nodeport, we add an LB entry in OVN database for every OVN gateway (which could mean every node). Looks like for ServiceTypeLoadBalancer, we should only do it for specific nodes?

[2019-02-26 22:55] shettyg commented on #79
Reading, your comment, it looks like I misunderstood. Looks like what you are saying is that, it is the same as NodePort. You can simply expand the checks in code for ServiceTypeNodePort and see whether it solves your issue. If it does, we can look at adding it to code officially.

[2019-02-27 00:52] girishmg commented on #558
Reopening this issue since we had to revert [4afcce4](https://github.com/openvswitch/ovn-kubernetes/commit/4afcce4417c6fd0459c3e7976eeb1121a91f8627). The new PR #631 will fix this issue.

[2019-02-27 01:41] girishmg commented on #611
Your understanding above is correct. That said, I am not sure why on the Windows machine you are not able to see the ports on Windows machine. I haven't setup a K8s cluster with Windows as one of the nodes, so I don't know.

[2019-02-27 14:47] girishmg commented on #79
@lanoxx I think we already handle what you are looking for. We handle ExternalIPs for a service in handleExternalIPs(). This method adds a LoadBalancer entry (mapping External IP to NodePort IPs) on the first L3 gateway router (the one with IP address 100.64.1.2).

[2019-02-27 14:54] girishmg commented on #79
Does running following command on your setup return anything?
`ovn-nbctl find logical_router options:lb_force_snat_ip=100.64.1.2`

If it does return an entry, then on that L3 gateway router we should have created a load balance entry mapping ExternalIP to NodePort IPs.

Also, AFAIK OVS doesn't support adding DNS names for physical IP. In your case External-IP is af00174b939a011e9ba19022b2e3974d-20

[2019-02-27 16:07] #558 closed

[2019-02-27 16:40] girishmg opened #632 "Allow PODs on K8s nodes to access host IP when using Shared Gateway Interface"
We have a significant drawback while deploying K8s cluster using OVN-K8s CNI in Shared gateway interface mode. In this mode,

1. one cannot deploy a POD on the K8s Master node. The PODs requiring K8s API Server access  ends up in CrashLoopBackOff as it cannot reach K8s API Server through the kubernetes Service IP (10.96.0.1:443). This happens because 10.96.0.1 is translated to the K8s Master host

[2019-02-28 17:28] girishmg commented on #610
Fixed in c1e1ca6aac2554117e4bd4613ffd6d5b1940e62e, so closing

[2019-02-28 17:28] #610 closed

[2019-03-01 10:16] ylhyh commented on #625
I am new on OVN, after a few days of study, the Kubernetes cluster with OVN network work normally except the Window minion and NodePort mode.

I have 3 master nodes services for  Kubernetes master and OVN central database. I have also created systemd service file and starter scripts to auto-start central database cluster and determine the leader node.

I will open new thread for any other question

[2019-03-01 10:16] #625 closed

[2019-03-01 14:57] ylhyh opened #635 "100% cpu usage by ovn-controller service"
I'm facing the same issue with #70 , see a part ot Sourthbound db content:

[code]
I have setting up 3 master nodes and 8 minion nodes in the Kubernetes cluster, all the minion nodes are keep claiming to own the k8s-node001 port:
[code]

I have executed [ovn-sbctl lsp-unbind "k8s-node001"] to unbind the port and then bind k8s-node001 to the correct Chassis, but the incorrect node will keeping snat

[2019-03-01 17:27] #583 closed

[2019-03-01 17:42] girishmg commented on #635
@ylhyh Looks like on every K8s minion node an OVS Internal port is being bound to logical port k8s-node001.

Run ` ovs-vsctl --columns name find interface external_ids:iface-id=k8s-node001` on every node to get more information on the offending OVS port.

How did you build your minions? Did you take a snapshot and clone the first minion node or some such?

[2019-03-02 03:05] ylhyh commented on #635
@girishmg Your are right, I can find the interface named k8s-node001 on every minion node:
[code]
This may be because I have opened "Send Key input to All Sessions" on Xshell and type "ovnkube --init-node = node001 ..." to get executed on every minion node. Then I killed the process and executed ovnkube with the correct node name.

I can see the port "k8s-node001" on every minion node by execute "

[2019-03-02 04:24] ylhyh commented on #635
@girishmg, I have deleted the port binding from br-int bridge on the minion nodes except node001, the issue seems has been fixed:

`ovs-vsctl del-port br-int k8s-node001`

[2019-03-02 04:58] #635 closed

[2019-03-02 05:29] girishmg commented on #635
@ylhyh Glad to know, that was the issue.

[2019-03-02 19:40] ylhyh opened #636 "NodePort service is not accessible"
I have create a NodePort service  "nginx-test" listening on port 80, see the service list:
[code]

Kubernetes cluster rough info:
[code]
I can access it through the cluster id -> http://10.105.116.76:80:
[code]

But cannot access it through any physical ip of minion node (from outside the respective machine):
[code]
The pod of service "nginx-test" is scheduled on node002 which ip address is 172.16

[2019-03-03 16:24] ylhyh commented on #636
[code]

[2019-03-04 10:48] adelina-t opened #637 "[Ansible] Master /etc/hosts doesn't always include all minion nodes."
These lines in the playbook:

https://github.com/openvswitch/ovn-kubernetes/blob/master/contrib/ovn-kubernetes-cluster.yml#L91-L95

Don't necessarily work as intended all the time. In some cases, the /etc/hosts file on the master node will contain only one of the linux / windows minions.

There is an issue open in the ansible repo about this behaviour of the lineinfile module: https://github.com/a

[2019-03-04 10:50] adelina-t commented on #637
@alinbalutoiu @aserdean

[2019-03-04 17:42] girishmg commented on #636
@ylhyh From the output you have show, I see several issues.

It appears that you have configured both type of gateways in your cluster. You must choose only one.

1. --init-gateways --init-localnet
2. --init-gatewasy (with no option we fallback to shared gateway interface, in your case it is eth0)

If the intent is (2), then delete br-localnet on all of the nodes. In this mode, we don't use kube-p

[2019-03-04 20:11] alinbalutoiu commented on #637
Thanks for reporting the issue. I've sent a PR which will run the task serially one at a time to avoid the concurrency issues. Would be great if you could try that out.

[2019-03-04 23:28] ylhyh commented on #636
Initially I have configured --init-gateways on every node (include master), but the pods which scheduled on master node cannot access to k8s api server on the same machine, so I have added localnet flag to init gateway on master nodes .

The default gateway on ovn_cluster_router is ext_node001, not master's local gateway' why it is blocks NodePort service?
Should I remove --init-gateways flag from

[2019-03-05 00:50] girishmg commented on #632
@shettyg @dcbw can you guys please comment on the proposal above? This is more serious than I initially thought since there is an another situation where in the shared gateway interface creates an issue.

[2019-03-05 01:42] ylhyh commented on #636
@girishmg, I have deleted the br-localnet interfaces from switches ext_master1/ext_master2/ext_master3:
[code]

See the Northbound db content after delete the localnet interfaces:
[code]

The default route is pointing to 100.64.1.2/rtoj-GR_master1 on GR_master1 router:
[code]
Because GR_master1 initialized by localnet, so I changed the default route to 100.64.1.4/rtoj-GR_node001 by following comma

[2019-03-05 02:32] girishmg commented on #636
In you `kubectl get svc` output above, I am surprised that your NodePort is 80. it should generally be in the range of 30000 to 32767.

Also, your `ovn-nbctl lb-list` doesn't show any LB rules for the node port. I was expecting one LB rule for every K8s node at port 80 to be forwarded to the nginx pod.

[2019-03-05 03:13] ylhyh commented on #636
@girishmg I have changed the NodePort range from 30000-32767 to 80-32767in apiserver configuration:
[code]

So the 80 in output of "ovn-nbctl lb-list" is the node port.

[2019-03-05 11:53] ylhyh commented on #636
@girishmg, the issue has been resolved by manually adding load balancer record to the gateway router. It seems that it is not the matter of localnet gateway on master node.

After double check @lanoxx's post at https://github.com/openvswitch/ovn-kubernetes/issues/611#issuecomment-464005576, I am awared of that there is no VIP get created for the physical IP of minion node. See details below.

I ha

[2019-03-05 17:31] girishmg commented on #636
@ylhyh the above comment I made early on captures what you saw.

Can you check if the ovnkube daemons are running on each of the node? These daemons are the ones that add OpenFlow rules to OVS bridge on the K8s node. Can you check the logs of the onvkube on the K8s nodes for any errors.

The callback gateway_shared_intf.go`addService() should have added the required OpenFlow rules.

[2019-03-05 19:18] shettyg commented on #632
Have you tried this? (Should work, but the loopback needed to go back to switch only works in certain ciscumstances and I don't remember them all).

1. Does this assume that kube-apiserver is also listening in k8s-Master? Is that a valid assumption?

2. Will not the above effect pods in nodes? i.e when they have destination IP as MasterIP, the nexthop is k8s-Master. So does the packet jump to mast

[2019-03-06 01:18] girishmg commented on #632
Yes, I have tried this and it works. This approach fixes both the issues we
have in our logical topology today. However, there is one additional step
(please read towards the end).

The packet's destination IP is not modified (there is no DNAT). It will
still be the advertised K8s API server address. We are just forwarding the
packets to the management port as the next hop.

Yes. All the pods on t

[2019-03-06 02:32] ylhyh commented on #636
@girishmg , The ovnkube daemons on every node are runing without error.

I have tried to Create / Edit / Delete a NodePort services:

**Create**
After a NodePort service created on k8s, the OpenFlow rules will get created immediately with correct Node Port:
`cookie=0x0, duration=3.108s, table=0, n_packets=0, n_bytes=0, priority=100,tcp,in_port=eth0,tp_dst=30111 actions=output:"k8s-patch-breth"`

*

[2019-03-06 15:49] shettyg commented on #632
@girishmg

Sounds good to me.

[2019-03-06 22:51] girishmg commented on #636
Right. However, the Load Balancer rules aren't added until you create at least one Pod that match the service you created above.

We haven't implemented this yet. So, you will need to delete the NodePort service and create a new one if you modify the NodePort service.

I think something very basic is incorrect on your setup. It just works fine for me and others I know.

Can you delete all the serv

[2019-03-07 01:52] ylhyh commented on #636
@girishmg

I have a yaml file named "deploy-nginx-test.yaml" which declared the nginx-test deployment and service:
[code]

According your suggestion, I have ran the following steps:
1.  Stop ovn-kubernetes on every node (k8s masters and k8s minions, the same below when I mention "every node") by:
`systemctl stop ovn-kubernetes`
_ovn-kubernetes is the service name I have created with systemd_
2.  C

[2019-03-07 03:01] ylhyh commented on #636
@girishmg Can you also share HOW/WHEN ovnkube create load balancer rule?

[2019-03-07 04:05] ylhyh commented on #636
@girishmg , When I add/delete other kong pods, I can see a transaction error in ovn-kubernetes log on master1:
[code]

[2019-03-07 14:04] lanoxx commented on #79
@shettyg

This did work to some degree and partially solved my problem. I searched through the code for all occurences of `ServiceTypeNodePort` and expanded that with a logical `OR` for `ServiceTypeLoadBalancer`. Now I have `NodePort`s exposed for services for type `LoadBalancer` and I can access them on my Linux minion. The NodePorts also appear on the Windows machine when I run `ovs-ofctl dump-f

[2019-03-07 18:07] shettyg commented on #79
Can you access the pod from linux minion's nodeport?

[2019-03-08 10:08] lanoxx commented on #79
Yes. The pod that I am trying to access is a `traeffic-ingress-controller`. It runs on the Linux minion and I can access it via the Linux minion's NodePort.

Here is an example. The LoadBalancer service exposes a traefik reverse proxy which runs on port `80` via NodePort `30466`:

    NAMESPACE     NAME                   TYPE           CLUSTER-IP    EXTERNAL-IP

[2019-03-08 17:26] shettyg commented on #79
Is this a problem just for LoadBalancer or does regular NodePort not work from Windows either?

[2019-03-11 08:23] lanoxx commented on #79
I have a `NodePort` service exposed on the Windows node which also does not work. It is visible in the output of `ovs-ofctl dump-flows` but it does not return an traffic. Also see issue: https://github.com/openvswitch/ovn-kubernetes/issues/611

[2019-03-13 11:06] ylhyh opened #641 "Windows minion node: Error attaching the endpoint to the container, error: A Compute System with the specified identifier does not exist"
I have configured a kubernetes cluster use OVN, when I schedule a depoyment on Windows minion node, the pod stucking in ContainerCreating status, see the logs below:

**ovnlube.log**
[code]

**kubelet.log**
[code]

**Docker inspect output of the pause pod:**
[code]

**Environment**
- Kubernetes: 1.13.3
- Docker: 18.09.1
- OpenvSwitch on Linux node: 2.10.1
- OpenvSwitch on Windows node: 2.7
- ovn-k

[2019-03-13 12:41] ylhyh commented on #641
Here is the [debug log](https://gist.github.com/ylhyh/521f2c252b73b47613a15873f873c4b7) of ovnkube

[2019-03-13 14:50] #531 closed

[2019-03-13 17:40] alinbalutoiu commented on #641
What version of Windows are you running? You can get that by running ``wmic os get version,buildnumber`` of ``winver``.

[2019-03-14 00:58] ylhyh commented on #641
Hi @alinbalutoiu,

PS C:\Users\Administrator> wmic os get version
Version
10.0.14393

winver:
Version 1607, Build Number 14393.2759

[2019-03-14 01:03] girishmg opened #644 "set-connection, set-ssl, inactivity_probe must be done outside of ovnkube"
Currently, we have this code in pkg/config/config.go

[code]
The issue with the above code is that it assumes the OVN DB is available locally through UNIX path to set the connection to ptcp:6641 or pssl:6641. However, this may not be the case. The OVN DBs may not be locally present and they might be running on nodes external to K8s Cluster or on different K8s nodes altogether.

So, we need to make

[2019-03-14 17:56] alinbalutoiu commented on #641
Unfortunately that version is not supported any longer. You can check out the ansible playbooks where you can also find the list of supported Windows versions https://github.com/openvswitch/ovn-kubernetes/tree/master/contrib#how-to-use
However, the support in Kubernetes 1.14 will be limited to ``Windows Server 1809/Windows Server 2019 - Supported for Windows Server containers Builds 17763.* with D

[2019-03-17 20:36] ylhyh commented on #641
@alinbalutoiu , Thanks for the information.

I have followed the steps in [Ansible playbooks](https://github.com/openvswitch/ovn-kubernetes/tree/master/contrib/roles/windows/kubernetes/tasks) to setup OVN on a Windows Server 1709 VM. but a new issue is blocked me:

The virtual interface "vEthernet (Ethernet)" always show an error: could not add network device vEthernet (Ethernet) to ofproto (Inval

[2019-03-17 20:56] alinbalutoiu commented on #641
Can you try another OVS release? Please try with the installer from here: https://github.com/openvswitch/ovn-kubernetes/blob/master/contrib/ovn-kubernetes-cluster.yml#L90

[2019-03-17 23:13] ylhyh commented on #641
@alinbalutoiu, For Windows node, I have use the same installer as the Ansible playbooks used.

I have downloaded msi package from:
https://cloudbase.it/downloads/openvswitch-hyperv-installer-beta.msi

[2019-03-18 13:32] lanoxx commented on #611
I have reexecuted the ansible scripts on my cluster today and rebooted the nodes and now all NodePorts are accessible, both from Windows and Linux and I can also access a Linux Pod's Node Port on Windows and vice versa.

Either there was a temporary glitch on my setup, or some recent commits have resolved the issue.

[2019-03-18 13:32] #611 closed

[2019-03-18 15:49] ylhyh commented on #641
@alinbalutoiu , What does the "Invalid argument" mean?  Should I correct something?

[2019-03-18 16:43] aserdean commented on #641
@ylhyh , it means that the port couldn't be added by the datapath.

Can you include the output of:
`ovs-dpctl show`
`pnputil -e`
?

[2019-03-19 01:56] girishmg opened #647 "src-ip based routes take precedence and breaks NodePort"
Say, the cluster network cidr is 192.168.0.0/16 and that we have three node
k8s cluster. All the nodes are assigned with /24 prefixlen subnet. Following
static routes will be added to the OVN Cluster Router

[code]

Following, logical flows will be added by ovn-northd for ovn_cluster_router

[code]

In the above output, logical flows 1, 2, 3, and 5 reflect the corresponding
static routes from the

[2019-03-19 03:37] ylhyh commented on #641
@aserdean Thanks for follow up.

The output of "pnputil -e" seems to have a problem, I can see there are 2 drivers come form "Cloudbase Solutions Srl", it maybe because I had installed "openvswitch-hyperv-2.7.0-certified" on the VM.
[code]
So I deleted all OVS drivers by "pnputil /delete-driver ..." and uninstalled the "openvswitch-hyperv-installer-beta", and executed "netcfg -d" ... to clear all

[2019-03-19 10:44] aserdean commented on #641
We don't delete the driver information upon uninstall, because the user might want to reuse it. I should probably add an extra step in the uninstall dialog to ask the user if he wants it removed rather than asking the user to remove it manually. Thanks for figuring out that you had to remove it via pnputil :).

`File exists` means that the port is already added. A bit of context here `"vEthernet (

[2019-03-19 11:32] ylhyh commented on #641
@aserdean, Thank you very much.

As your reminder, I changed "pif" to a regular port, now it work like a charm.
```ovs-vsctl.exe --no-wait add-port "vEthernet (pif)" "pif" -- set Interface "pif" type=internal```
to
```ovs-vsctl.exe --no-wait add-port "vEthernet (pif)" "pif"```

I can ping HNS gateway ip now and got correct response.

It's my mistake to set physical interface as internal. Because I

[2019-03-19 12:30] ylhyh commented on #641
@aserdean

Can you also give some advice on this issue?

See the pods list below:

- node009 is a Windows minion node (Windows Server core 1709)
- other nodes are Linux minion node
- I have ran 3 instances for deployment"rtx-service" on node009, the service image is based on nanoserver with a ping loop:
[code]
[code]
The problem is:
- On node009, I can ping 10.112.11.3, 10.112.11.4, 10.112.11.5
-

[2019-03-19 16:01] shettyg commented on #647
with the move to /16 subnet for join logical switch the issue has become more
promininent

Can you explain this a little more. I remember thinking about this and then coming to the conclusion that it will work fine (can't remember why. May be because 100.64.0.2 is a OVN IP and it will always have higher priority). Does this work when 100.64.0.0 is a /24 subnet? If so, why?

[2019-03-19 16:32] girishmg commented on #647
@shettyg from ovn-nb(5) manpage we have

[code]

For a given set of static routes the longest-prefix match has precedence and then for the same given prefix length dst-ip has precedence. Now with 100.64.0.0/24 and all the K8s node subnet having /24,  the prefix length is same and  since dst-ip is preferred over src-ip the reply packets from the POD with destination IP set to forced-SNAT LB IP, we

[2019-03-19 17:11] girishmg opened #648 "Provide framework to enable high availability of OVN DBs"
We need a way to  run OVN DBs in highly available manner. Any solution that we are going to come up with should ensure that OVN DBs can be run either natively in the K8s cluster or outside of the K8s cluster.

For more information, please see the community commented document here:
https://docs.google.com/document/d/1khkgTNvjSEKgOSrzJOTtApL_mai-f3-pW1NHXOv5Dak/edit?usp=sharing

The idea here is to

[2019-03-19 17:29] shettyg commented on #647
okay.

[2019-03-19 18:52] girishmg commented on #644
@dcbw @shettyg any thoughts on this?

The whole ServerAuth OvnDBAuth struct can be removed. We cannot possible call `set-connection` or `set-ssl` since we cannot make an assumption that the OVN DBs are local to `ovnkube-master`.

[2019-03-20 16:59] #647 closed

[2019-03-20 23:02] girishmg opened #651 "Cleanup OVS resources on the K8s node on ovnkube-node daemonset deletion"
Following OVS resources

-- br-int
-- OVS management internal port
-- the patch ports

must be all cleaned up upon deletion of ovnkube-node daemonset.

[2019-03-21 23:55] girishmg opened #653 "handling of external IPs must be made configurable"
We should make handling of external IPs configurable. If a deployment chooses to implement kubernetes service with external IP set using a Hardware or Software based load balancer, then the deployer will take care of mapping external IP to set of Node ports on the load balancer. We don't want ovnkube-master to configure OVN LB rules for external IPs for type=LoadBalancer.

[2019-03-22 16:33] #632 closed

[2019-03-22 16:38] #454 closed

[2019-03-25 03:14] ylhyh commented on #641
Close this thread, will open new thread for pod not accessible issue

[2019-03-25 03:14] #641 closed

[2019-03-25 12:06] ylhyh opened #655 "How to configure DNS server on Windows pod?"
I'm facing a DNS issue on Windows pod, DNS servers on Windows pod are setting to [ fec0:0:0:ffff::1%1, fec0:0:0:ffff::3%1, and fec0:0:0:ffff::3%1 ] by default:
[code]
it doesn't work with the default DNS server when lookup a domain:
[code]

If I specify the DNS server, nslookup work properly:
[code]

CNI configuration is generates by ovnkube.exe, the "dns" section is empty:
[code]

I have tried to

[2019-03-27 02:36] ylhyh commented on #655
Now I have a workground to bypass this problem by set DNS Server and Search List during the pod startup:
[code]

Still waiting for the right way...

[2019-03-27 05:58] ylhyh opened #657 "Part of pods on Windows minion node are not accessible"
I have configured a k8s cluster based on this GREAT project. There are 3 master nodes, 8 Linux minion nodes and 1 Windows minion nodes in the cluster. See the OS/Component version below:
**Linux Node**
- OS: CentOS 7.6.1810
- OVS: 2.10.1
- K8s: v1.13.3
- Docker: 18.09.1 ce
- Pod CIDR: 10.112.0.0/24 ~ 10.112.10.0/24
**Windows Node**
- OS: Windows Server Core 1709 (10.0.16299.125)
- OVS: 2.9.4
- K8s

[2019-03-27 23:49] girishmg commented on #653
@shettyg What I meant during the call was that we need to handle External IPs only for NodePort and ClusterIP service. In the case of type LoadBalancer, the expectation is that the deployer works with GCP, AWS, or other cloud provider or uses any of the software/hardware based LB to implement that service.

OVN-k8s should not, at this point, claim to support LoadBalancer as it cannot.

[2019-03-28 03:27] shettyg commented on #653
Fair.

[2019-03-28 15:23] aserdean commented on #655
This used to work at some point:
https://github.com/openvswitch/ovn-kubernetes/pull/346

I'm guessing this is related to: https://github.com/openvswitch/ovn-kubernetes/pull/633 and you need to pass values to `ovnkube`: https://github.com/openvswitch/ovn-kubernetes/blob/25d33b9ee3330b0e6b21cf764ec19c19d5d16702/contrib/roles/windows/kubernetes/tasks/run_minion_init.yml#L25 if that operation is suppo

[2019-03-28 15:26] aserdean commented on #637
Closed via: https://github.com/openvswitch/ovn-kubernetes/pull/638

[2019-03-28 15:26] #637 closed

[2019-03-28 16:02] #494 closed

[2019-03-28 18:06] girishmg commented on #653
fixed by #660

[2019-03-28 18:06] #653 closed

[2019-04-02 21:57] #648 closed

[2019-04-03 10:57] lanoxx commented on #539
I think this can be closed.

[2019-04-03 11:30] #539 closed

[2019-04-03 13:50] lanoxx commented on #429
I started seeing this exact same issue today, but on Windows instead of Linux.

My OVS tools show version 2.9.4. The issue appeared after a reboot of the node. Before the reboot the interface k8s-*** was correctly established.

Pods were already running on the node and could ping local overlay IPs. But traffic was not being sent through the overlay network to other overlay IPs. I was trying to deb

[2019-04-03 13:53] lanoxx commented on #429
To be more precise I used the Ansible scripts of ovn-kubernetes which use the above mentioned installer.

Is there already a newer version available for Windows?

[2019-04-03 14:17] lanoxx commented on #429
I was able to solve this, it happend because the HnsNetwork somehow got deleted. Recreating it solved the problem. It might be a good idea to have a check in ovnkube to check if the HnsNetwork exists and give a more descriptive error message.

[2019-04-03 14:18] aserdean commented on #429
`ovs-dpctl show` also please include the windows OS version.

[2019-04-03 14:27] lanoxx commented on #429
The node is running Windows Server 2019 (desktop edition), `winver` shows Version 1809 (OS Build 17763.107).

`ovs-dpctl show`:

    system@ovs-system:
        lookups: hit:7670 missed:1675 lost:0
        flows: 37
        port 1: vEthernet (Ethernet 3) (internal)
        port 2: Ethernet 3
        port 3: genev_sys_6081 (geneve: packet_type=ptap)
        port 4: k8s-edgeapplian (internal)

[2019-04-03 14:28] aserdean commented on #429
Odd https://github.com/openvswitch/ovn-kubernetes/blob/9f4b960c43074f12806c466ce2da0c0f942babe3/go-controller/pkg/cni/helper_windows.go#L52 should have popped up.

Since you are running 1809 please make sure you have this KB applied: https://support.microsoft.com/en-us/help/4482887/windows-10-update-kb4482887 .
If you do not external HNS networks are not persistent across reboots.

I will send out

[2019-04-03 15:18] lanoxx commented on #429
After installing the updates, the version is now *17763.404*. I reran the Ansible scripts and now the k8s-*** interface is in state "Media disconnected" and ovn-kubernetes-node is failing with the same error.

When I run `ovs-vsctl list interface k8s-***` it lists the following error":

[2019-04-03 15:22] aserdean commented on #429
I'm guessing it couldn't re-add the interface because of a dangling adapter.
Can you paste the output of: `Get-NetAdapter -IncludeHidden` and also `ovs-dpctl show`

[2019-04-03 15:27] lanoxx commented on #429
`Get-NetAdapter -IncludeHidden`:

    Name                      InterfaceDescription                    ifIndex Status       MacAddress             LinkSpeed
    ----                      --------------------                    ------- ------       ----------             ---------
    Local Area Connection* 1  WAN Miniport (SSTP)                          18 Disconnected

[2019-04-03 15:32] aserdean commented on #429
😞 can you remove it via device manager and rerun the ansible scripts?

[2019-04-03 15:45] lanoxx commented on #429
Deleting the interface and rerunning the Ansible scripts brought the interface back in a connected state. Afterwards I rebooted the node and now I am happy to see that the k8s-*** interface survived the reboot. Thanks a lot for the help.

Now I can go back to debugging my connectivity issues to find out why I cannot ping other overlay IPs from this node.

[2019-04-03 16:07] aserdean commented on #429
Anytime!

If you need help feel free to ping me via IRC #openvswitch on irc.freenode.net.

[2019-04-03 18:34] aserdean commented on #657
I'm guessing the ovn-controller is full of errors that it can not apply some logical flows.

You need to match the same OVS version. The 2.10 Windows version can be found here: https://cloudbase.it/downloads/openvswitch-hyperv-installer-beta-2.10.msi

[2019-04-03 19:02] cathy-zhou opened #667 "NodePort does not work properly for gateway-localnet"
Assuming a kuberenetes cluster with ovn CNI, and a nodePort service is created:
# kubectl get svc
  ...
 web          NodePort    10.102.35.46    <none>        80:30838/TCP   90s

Accessing the nodePod service only succeeds if one tries to access the service through <node1_IP>:30838 from node1 locally. Trying to access <node1_IP>:30838 from outside of node1 fails.

Further investigation reveals th

[2019-04-04 02:17] ylhyh commented on #657
@aserdean Many thanks for the guidence and new msi package.

I think your guess is correct, there are so many "Syntax error" error
 in [ovn-controller.log](https://gist.github.com/ylhyh/c99ceb9db18687990d11591cf42ad1f3/raw/1250e2be4ec566d1db8b91407e4c6b73fee08611/old-ovn-controller.log)
[code]

But the new package shows "Invalid argument" error after I create the ovs bridge and then enable the net

[2019-04-04 14:47] shettyg commented on #667
Is kube-proxy running?

[2019-04-04 14:48] shettyg commented on #657
Yeah. You need same OVS/OVN versions on all nodes.

[2019-04-04 14:58] aserdean commented on #657
@ylhyh I back ported a few fixes to the 2.10 installer. A new installer is available that should fix your issue.

[2019-04-04 16:32] cathy-zhou commented on #667
Yes, it is running. I believe it is kube-proxy that added a ip table rule of equivalent of:

   iptables -t nat -I PREROUTING -p tcp --dport 30838 -j DNAT --to-destination 192.168.4.3:5000

where 192.168.4.3:5000 is the service POD IP and port. But that does not work.

[2019-04-04 16:38] girishmg commented on #667
@shettyg we want the external traffic to NodePort to go through the L3 gateway and not through the K8s Management port. This causes issue in the return path.

[2019-04-04 16:43] shettyg commented on #667
@girishmg

I see. I thought you had submitted a patch to avoid using gateway localnet?

[2019-04-04 18:06] girishmg commented on #667
@shettyg  My fixes have been with the shared-interface-gateway mode. We still support br-localnet (this should really be br-local). However, this is broken for Nodeport. We will need a fix where-in for every NodePort service we will add an iptable rule like @cathy-zhou suggests.

Also, it is good to fix this. With that fix we will not need kube-proxy to run for all the 3 modes of gateway we suppor

[2019-04-04 18:31] shettyg commented on #667
Fair.

[2019-04-05 18:53] ylhyh commented on #657
Thanks @aserdean and @shettyg, looking forward to the new installer for ver 2.10.

 I will also to create new environment to verify 2.9.4  on  Windows and Linux  both.

[2019-04-09 05:52] cn-mayank commented on #576
Issue did not reproduce in last attempt. Thanks!

[2019-04-09 05:52] #576 closed

[2019-04-09 08:01] mkomu opened #675 "vagrant and DNS"
Hi,

I am having trouble again with the DNS module with the latest version of the Ansible version:

vagrant up k8s-master
vagrant ssh k8s-master
vagrant@k8smaster:~$ kubectl get pods -o wide -A
NAMESPACE        NAME                                READY   STATUS             RESTARTS   AGE   IP           NODE        NOMINATED NODE   READINESS GATES
kube-system      coredns-fb8b8dccf-9sm5l

[2019-04-09 10:06] mkomu commented on #675
Apparently -init-gateways and -gateway-local options are now enabled by default in vagrant/provisioning/setup-master.sh script, so this is not the problem anymore.

[2019-04-09 11:44] mkomu commented on #675
It appears that ovnkube-node fails to run with 2 gigs of memory:

vagrant@k8smaster:~$ kubectl -n ovn-kubernetes describe pod/ovnkube-node-vm7g7
[...]
Events:
  Type     Reason            Age                      From               Message
  ----     ------            ----                     ----               -------
  Warning  FailedScheduling  3m21s (x150 over 3h44m)  default-scheduler  0/1 no

[2019-04-09 12:26] ylhyh commented on #657
I uninstalled 2.10 from Linux node and then installled 2.9.4, Windows pod is work well.
But there are some problems in ovs 2.9.4 with ovnkube:
1. If a minion node runs ovnkube without --init-gateways flag, the pods which runing on the node can not access to out of pod network.
2. If a pod runs on node1, it is only accessible from node1, it can not be accessed from other node.

Any misconfiguration

[2019-04-09 18:04] shettyg commented on #675
You mean kubelet? If so, the latest vagrant should let you join automatically.

In general, daemonsets with community image is right now broken. Looks like we went out of sync. I have asked a dev to update it to the latest and then I will try again.

[2019-04-09 21:55] #644 closed

[2019-04-10 03:37] ylhyh opened #678 "Failed while waiting on patch port \"patch-breth0_node001-to-br-int\" to be created by ovn-controller and while getting ofport"
Is newtest ovn-kubernetes not compatible with ovs 2.9.4?

ovn-kubernetes waiting for ovn-controller to create port "patch-breth0_node001-to-br-int", but ovn-controller not do that?

[code]

Version
- ovnkube: [Commit 9b6e967](https://github.com/openvswitch/ovn-kubernetes/commit/9b6e967381f6cc98ec8d8ea1d2ccf2aef04136d4)
- ovs: 2.9.4

[2019-04-10 04:33] ylhyh commented on #678
Manual create the patch port can solve this issue:
[code]

For master node which enabled --gateway-local, also need to create patch port between br-local and br-int
[code]
Why it not been created automatic?

[2019-04-10 06:47] ylhyh commented on #678
Is the "output" in dump-flows has max length limit? The full port name is "patch-breth0_node001-to-br-int", but it displays "patch-breth0_no":
[code]

[2019-04-10 14:16] shettyg commented on #678
It should be created automatically. I wonder why ovn-controller did not create it. Does /var/log/openvswitch/ovn-controller.log has any hints during that time?

[2019-04-11 00:51] ylhyh commented on #678
@shettyg , the issue appears in ovs 2.9.4, I have checked ovn-controller.log and didn't find any error. Then I changed ovs to ver2.10.1, these patch ports have been created automatically.

[2019-04-11 08:46] ylhyh opened #680 "Can Windows node work as a gateway?"
[code]

[2019-04-11 11:20] ylhyh commented on #657
- This problem was caused by mismatched MTU configuration, physical net adapter's MTU is 1500, if I set ovnkube's MTU as 1500, will cause this issue.
Everything works well after change ovnkube's MTU to 1400.

.

- This issue should not caused by installer of ovs 2.10.1, it should caused by ovs-vswitchd.exe in ovs 2.10.1.  I have a temporary solution to bypass this issue:
-- Step1: Install ovs 2.10

[2019-04-12 10:18] mkomu commented on #675
Joining was not handled automatically. It was only working when I did it manually.

About the DNS issue, some logs from the coredns:

2019-04-10T10:28:58.133Z [ERROR] plugin/errors: 2
2712880051517785174.537626345269378054. HINFO: read udp
192.168.0.3:42005->10.0.2.3:53: i/o timeout
E0410 10:29:17.117971       1 reflector.go:134]
github.com/coredns/coredns/plugin/kubernetes/controller.go:322: Fail

[2019-04-12 12:15] ylhyh commented on #655
Hi @aserdean,

1. I have forked this repo then merged the [commit](https://github.com/openvswitch/ovn-kubernetes/commit/dbcae2db5a8df30a122c4795972fb21b030c2cdf) that made by @moshe010.
2. Build ovnkube from forked repo
3. Use modified 10-ovn-kubernetes.conf:
[code]

The DNS issue in Windows pod hs been resolved:
[code]

I think the PR #633 should be merged.

@dcbw @moshe010

[2019-04-14 08:42] ylhyh commented on #655
Windows pod work properly since PR #633 merged.

[2019-04-14 08:42] #655 closed

[2019-04-18 14:15] lanoxx opened #683 "Connectivity problems with overlay network on windows"
I have a connectivity problem with one of my windows nodes and the error messages are not helping me to diagnose the problem.

The following steps are currently working:

* The `ovn-kubernetes-nodes` service is running.
* The `ovn-controller` service is running.
* The `ovsdb-server` and `ovs-vswitchd` service are also running.
* The `kubelet` service is running as well.

Kubectl shows the the node

[2019-04-18 14:18] shettyg commented on #683
How about ovn-controller.log? Does it show anything bad?

[2019-04-18 14:27] lanoxx commented on #683
No, not any errors, just a few informational messages.

[2019-04-18 14:32] aserdean commented on #683
What about `ovs-vswitchd.log`?

[2019-04-18 14:36] shettyg commented on #683
FYI, just a terminology correction: "br-int" is the integration bridge. k8s-** is the "node mgmt interface".

Few things to check.

0. Why aren;t the pods being started? What is the error message for that? Both in `kubectl describe`
and ovnkube log for the node where pod is being deployed.  Also ovnkube log for the master node - is it creating annotations with IP/MAC information for that pod?

1.

[2019-04-22 21:28] girishmg opened #685 "vagrant: race condition between management port's IP address and POD's IP address"
I saw that on K8s Master node (with subnet, say 192.168.0.0/24), there is a race between allocating IP address to k8s-`master_hostname` management port (statically defined to be 192.168.0.2, the 2nd IP address) and the IP address of the first POD that lands on the master (which also will be allocated 192.168.0.2 IP address).

In my case, the CoreDNS pods came up first before the management port go

[2019-04-22 22:56] girishmg commented on #685
This occurs only with Vagrant. This is occurring because we are writing 99loopback.conf to /etc/cni/net.d directory and this marks the node as 'Ready' and the PODs get scheduled even before the management port comes up

[2019-04-23 08:26] lanoxx commented on #683
@shettyg @aserdean

Thanks for clarification of the terminology.

 0. `kubectl describe pod`:

        Failed create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "335d8c32b145445527d398559e1e6b0085adf22a2ef186110a2842731b214980" network for pod "...": NetworkPlugin cni failed to set up pod "..." network: CNI request failed with status 400: 'Nil response to CNI r

[2019-04-23 15:57] #685 closed

[2019-04-23 21:46] shettyg opened #689 "Moving ovn-kubernetes repo to ovn-org"
Hello All,
  The openvswitch project has decided to move all OVN projects to a new github organisation called "ovn-org". Sometime next week, you will likely see this repo at "github.com/ovn-org/ovn-kubernetes".  Nothing else about the project should ideally change.

If you have any concerns, please do post here.

[2019-04-24 14:25] mkomu opened #691 "ansible and undefined variable"
Hi,

my inventory looks as follows:

 [kube-master]
10.2.0.9

 [kube-minions-linux]
10.2.0.12
#node3

I get the following error when running the playbook:

~/ovn-kubernetes/contrib$ ansible-playbook ovn-kubernetes-cluster.yml
[...]

TASK [get my public IP] ********************************************************
ok: [10.2.0.12]

TASK [set internal IP] **********************************************

[2019-04-24 14:27] shettyg commented on #683
The above error messages hint at the problem with CNI plugin on Windows side.

The flows you show is very less - which indicates that the node may have not joined OVN NB. I expect hundreds of flows for the above command.

You could re-look at ovn-controller.log to see whether it connecting to SB DB at all. I would also look at `ovn-sbctl list chassis` to see whether the chassis is registered.

[2019-04-24 15:06] lanoxx commented on #683
According to the `ovn-controller.log` on the node it should be connected:

    2019-04-24T10:38:56.006Z|00053|jsonrpc|WARN|tcp:172.34.44.26:6642: receive error: Unknown error
    2019-04-24T10:38:56.017Z|00054|reconnect|WARN|tcp:172.34.44.26:6642: connection dropped (Unknown error)
    2019-04-24T10:38:57.017Z|00055|reconnect|INFO|tcp:172.34.44.26:6642: connecting...
    2019-04-24T10:38:58.027Z|0

[2019-04-24 15:13] alinbalutoiu commented on #691
Hello @mkomu, could you please share the output of ``ansible -m setup kube-minions-linux`` and ``ansible --version``? Thanks!

[2019-04-24 15:29] lanoxx commented on #683
@shettyg can I reach you some time on #openvswitch?

[2019-04-24 15:54] shettyg commented on #683
@Ianoxx

I am there now.

[2019-04-24 15:56] aserdean commented on #683
I joined as well if you need me.

[2019-04-24 16:02] shettyg commented on #683
FYI, only registered users can post in #openvswitch IRC channel.

[2019-04-24 16:03] lanoxx commented on #683
I am connected via the matrix chat client. I guess you are not seeing my messages?

[2019-04-24 16:06] shettyg commented on #683
No. Not seeing your messages.

[2019-04-24 16:07] aserdean commented on #683
@lanoxx you need to register your handle https://freenode.net/kb/answer/registration

[2019-04-24 16:07] lanoxx commented on #683
I will try to join with a different client.

[2019-04-24 16:28] mkomu commented on #691
ubuntu@cube-ovn-ansible-build-host-003:~$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.1 LTS
Release:	16.04
Codename:	xenial
ubuntu@cube-ovn-ansible-build-host-003:~$ ansible --version
ansible 2.7.10
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ubuntu/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modu

[2019-04-24 16:31] alinbalutoiu commented on #691
You should run the ``ansible -m setup kube-minions-linux`` from inside the contrib folder, it is not picking up the right hosts file.

[2019-04-24 20:06] mkomu commented on #691
Sorry, here it goes:

ubuntu@cube-ovn-ansible-build-host-003:~/ovn-kubernetes/contrib$ ansible -m setup kube-minions-linux
10.2.0.12 | SUCCESS => {
    "ansible_facts": {
        "ansible_08dc46b53100f55": {
            "active": true,
            "device": "08dc46b53100f55",
            "features": {
                "busy_poll": "off [fixed]",
                "fcoe_mtu": "off [fixed]",

[2019-04-26 09:27] lanoxx commented on #683
I made some progress on this, I can now ping the linux node's management interface (e.g. 10.245.0.2) from the windows node (10.245.10.2) and vice-versa.

However, there is still a problem with the CNI plugin.

In the `ovs-vswitchd.log` I still see the invalid argument error printed every two seconds:

    2019-04-26T09:19:51.053Z|01266|dpif|WARN|system@ovs-system: failed to query port : Invalid ar

[2019-04-26 13:05] lanoxx commented on #683
@alinbalutoiu Can you help with this?

[2019-04-26 16:46] #667 closed

[2019-04-27 10:04] lanoxx commented on #683
Here is some more information from the broken windows node:

`kubelet.log`: https://gist.github.com/lanoxx/d8939e507c33041aa0a40100b7073334
`ovn-kubernetes-node.log`: https://gist.github.com/lanoxx/f01a35594c1ff38def8b4f1f8f08d589

[2019-04-27 10:11] lanoxx commented on #683
And here the pod specification: https://gist.github.com/lanoxx/5e3540c1698dbb7e48101113b4c93090

[2019-05-01 11:54] alinbalutoiu commented on #691
Have you changed anything in the yaml files? In the error you are getting is complaining about  ``'/home/ubuntu/ovn-kubernetes/contrib/roles/linux/kubernetes/tasks/set_ip_facts.yml': line 22`` which uses ``ansible_default_ipv4.alias`` but in your output I can see:
[code]

Does it still happen if you run the playbook again?

[2019-05-02 09:46] mkomu commented on #691
If I run it again, it says:

`fatal: [10.2.0.12]: FAILED! => {"changed": false, "msg": "The service kubelet is not running. Current status is auto-restart"}`

I have made only the following changes:

`
ubuntu@cube-ovn-ansible-build-host-003:~/ovn-kubernetes$ git diff
diff --git a/contrib/ansible.cfg b/contrib/ansible.cfg
index f8fc6cd..1f28b19 100644
--- a/contrib/ansible.cfg
+++ b/contrib/ansible

[2019-05-02 11:24] cn-mayank opened #696 "Windows container not starting with CNI request failed with status 400: 'Nil response to CNI request'"
I have 3 aws ec2 instances; 1 for master and 1 for linux and windows minion each.

Steps to reproduce:
- Run the ansible playbook in contrib section
- Create the auto-generated sample pods from the master.
- The windows based pod will be stuck in ContainerCreating and the upon describing the pod it will show following

[code]

[2019-05-02 12:35] alinbalutoiu commented on #696
Hello, could you also share the log for ``ovn-kubernetes``? It should be in ``C:/kubernetes/ovn-kubernetes-node.log`` by default.

[2019-05-02 13:19] alinbalutoiu commented on #691
Any chance you could try with a clean environment and run the ``ansible -m setup kube-minions-linux`` before running the deploy playbook? Check if you have any ``ansible_default_ipv4`` in that output before you run the deploy playbook.

[2019-05-02 14:01] mkomu commented on #691
This is now a clean set up:

ubuntu@cube-ovn-ansible-build-host-003:~/ovn-kubernetes/contrib$ ansible -m setup kube-minions-linux
10.2.0.12 | SUCCESS => {
    "ansible_facts": {
        "ansible_all_ipv4_addresses": [
            "10.2.0.12"
        ],
        "ansible_all_ipv6_addresses": [
            "fe80::f816:3eff:fea7:7e1f"
        ],
        "ansible_apparmor": {
            "status": "ena

[2019-05-02 14:59] cn-mayank commented on #696
Hi @alinbalutoiu ,
I tried one more thing. I used an older AMI of 1809 and this error disappeared. Seems the latest windows release is breaking something(my hunch is that it could be cni version as the contrib section is 0.2.0 whereas latest is 0.7.0+).
I had even tried with cni version 0.5.1 but that produced the same error.

I destroyed the cluster to attempt with an older AMI. I will reproduce

[2019-05-02 15:55] alinbalutoiu commented on #691
Do you still get the same error with this environment? Upload the playbook output to something like https://gist.github.com/ which it's easier to read. Thanks!

[2019-05-03 07:12] lanoxx commented on #683
Output of `wmic qfe list`:

    Caption                                     CSName         Description      FixComments  HotFixID   InstallDate  InstalledBy                  InstalledOn  Name  ServicePackInEffect  Status
    http://support.microsoft.com/?kbid=4486553  EDGEAPPLIANCE  Update                        KB4486553               EDGEAPPLIANCE\Administrator  4/3/2019
    http://support.micro

[2019-05-03 10:05] cn-mayank commented on #696
Hi @alinbalutoiu ,
Kindly find the logs [here](https://gist.github.com/cn-mayank/2c01b7b52af9bd726c2fc8e909d32f66).

Also just a heads up, i had asked about this behaviour on slack channel before creating issue here. @aserdean said I might be hitting issue related to https://github.com/openvswitch/ovn-kubernetes/pull/579
Thanks!

[2019-05-03 11:54] mkomu commented on #691
Different error now:

fatal: [10.2.0.9]: FAILED! => {"msg": "'dict object' has no attribute 'kube-minions-windows'"}

I had the kube-minions-windows title in comments. After enabling and re-running playbook, I get:

TASK [linux/validation : Linux validate service | Fail if the service is not running] ***
fatal: [10.2.0.12]: FAILED! => {"changed": false, "msg": "The service kubelet is not running.

[2019-05-03 12:24] alinbalutoiu commented on #691
That means the playbook finished but it failed some sanity checks at the end. Can you share the output of the ``kubelet`` service from the linux minion node? Thanks!

[2019-05-03 12:48] mkomu commented on #691
Hi,

I am not 100 % sure about the exact time when ansible was finished, but /var/log/syslog shows something like this at 10.2.0.9:

May  3 11:50:02 localhost kubelet[20465]: E0503 11:50:02.745469   20465 streamwa
tcher.go:109] Unable to decode an event from the watch stream: http2: server sen
t GOAWAY and closed the connection; LastStreamID=2789, ErrCode=NO_ERROR, debug="
"
May  3 11:50:02 localh

[2019-05-03 13:17] alinbalutoiu commented on #696
Thanks for the logs, it looks a bit weird. Any chance you can fetch some more details from the new ami image? I don't have access to AWS to check it, but it would be useful if you could check the installed updates (``Get-HotFix`` from powershell) as well as the list of HNSEndpoints when it is failing to create the containers (``Get-HnsEndpoint``).

[2019-05-03 13:18] alinbalutoiu commented on #691
Do you have any firewall enabled between the nodes? You need to make sure that ports listed here are allowed through the firewall https://github.com/ovn-org/ovn-kubernetes/tree/master/contrib#ports-that-have-to-be-opened-on-public-clouds-when-using-the-playbooks

[2019-05-03 13:30] cn-mayank commented on #696
[code]

[code]

[2019-05-06 09:08] mkomu commented on #691
No firewall between the hosts.

[2019-05-06 11:47] cn-mayank commented on #696
Btw the ansible scripts in contrib are using k8s 1.12 and docker version 18.03.1-ee-3. Is that the latest version that can be supported ?

[2019-05-06 11:56] aserdean commented on #696
@cn-mayank thanks for the bug report, it looks like you are hitting the same issue that @lanoxx is hitting:
https://github.com/ovn-org/ovn-kubernetes/issues/683#issuecomment-486991774.

I am currently investigating the root cause.

It should work with newer versions, although we haven't tested it yet.
We also need to bump to Ubuntu 18.04 from 16.04 and deprecate 14.04.

[2019-05-09 07:32] mkomu commented on #691
ubuntu@cube-ovn-ansible-master-003:~$ sudo iptables -L -n
Chain INPUT (policy ACCEPT)
target     prot opt source               destination

Chain FORWARD (policy DROP)
target     prot opt source               destination
DOCKER-ISOLATION  all  --  0.0.0.0/0            0.0.0.0/0
ACCEPT     all  --  0.0.0.0/0            0.0.0.0/0            ctstate RELATED,ESTABLISHED
DOCKER     all  --  0.0.0.0/0

[2019-05-09 09:09] squeed commented on #689
We have to update the go import paths too... Want me to file a PR that does that?

[2019-05-09 13:20] lanoxx commented on #683
Please ignore my last message, that was only a temporary problem that resolved itself.

[2019-05-09 13:55] shettyg commented on #689
Thanks. That will be helpful.

[2019-05-09 16:45] alinbalutoiu commented on #691
Are you running those in a cloud? Can you try to see if you can reach the master from a minion with telnet?

[2019-05-10 15:49] alijahnas opened #698 "ovn-daemonset: Address assignment conflict between ovn-master and ovn-node"
Let's take: net_cidr=10.128.0.0/16
When launching ovn-daemonset templates from ovn-kubernetes/dist/templates/
ovn-node component creates and assigns the address 10.128.0.2/24 to a local link named k8s-nodename.
But ovn-master also assigns addresses to pods and starts with 10.128.0.2

So you get both a local link and a pod who have the same address and it creates a conflict within the worker nodes.

[2019-05-10 16:18] shettyg commented on #698
@girishmg You had faced something similar correct? And I thought, you had fixed it?

[2019-05-10 21:23] mkomu commented on #691
Yes, OpenStack based clioud. Telnet is running on the master, just ssh.

[2019-05-13 08:17] alijahnas commented on #698
The thing is I am trying to get ovn-kubernetes as a network backend to OpenStack Magnum.
I tested and adapted it to minikube then a cluster with kubespray. But when I adapted ovn-k8s with a OpenStack Magnum k8s cluster, I had the above problem.

The code is ready to go upstream to Magnum, I just have to get beyond this issue that makes addresses overlap and connectivity between master and minion n

[2019-05-13 09:51] alijahnas commented on #698
By deleting the pod with 10.128.0.2 address, everything comes together and works fine, but in order to get it to OpenStack Magnum, I think I need something that prevents from allocating the 10.128.0.2 address

[2019-05-13 18:47] girishmg commented on #698
@shettyg I think there is still a race between the LogicalPort creation for the management port and the LogiicalPort creation for the first pod on that node. I have seen this before, but I kind of forgot about it.

I was thinking of fixing it this way. For every ovn-node's subnet we need to keep aside the 2nd address for the management port (that is set Logical_Switch's exclude_ips to the manageme

[2019-05-13 19:27] dcbw commented on #698
@girishmg I'm working on moving management port creation into the master right now, which would fix this too.

[2019-05-13 19:43] dcbw commented on #698
@girishmg also if we do the "dynamically allocate join switch ports" thing now that OVN 2.11 is out, that already adds some exclude_ips to the switch and we can just piggy-back on that.

[2019-05-13 20:11] girishmg commented on #698
@dcbw seeing your comments now.

If I remember it correctly, that exclude_ips was for the Join switch, right? The fix we need is to use exclude_ip for each of the Logical Switch.

It should fix it if you are creating the logical_switch and the logical_switch_port for the K8s management port in the same transaction, correct?

[2019-05-14 07:39] alijahnas commented on #698
@dcbw @girishmg
When this issue is fixed, is it possible to have updated ovn-daemonset containers so that the integration to OpenStack Magnum gets easier? Thanks!

[2019-05-14 11:22] mkomu commented on #691
ubuntu@cube-ovn-ansible-slave-003:~$ sudo nmap -sS 10.2.0.9

Starting Nmap 7.01 ( https://nmap.org ) at 2019-05-13 10:53 UTC
Nmap scan report for 10.2.0.9
Host is up (0.0013s latency).
Not shown: 997 closed ports
PORT     STATE SERVICE
22/tcp   open  ssh
443/tcp  open  https
8080/tcp open  http-proxy

[2019-05-14 15:52] alinbalutoiu commented on #691
@mkomu have you updated the security groups in OpenStack to allow the required ports? Not only in iptables on the VMs.

Try to run ``telnet 10.2.0.9 443`` from the minion node to see if it works.

[2019-05-15 15:05] mkomu commented on #691
Yes it works:

ubuntu@cube-ovn-ansible-slave-003:~$ telnet 10.2.0.9 443
Trying 10.2.0.9...
Connected to 10.2.0.9.

[2019-05-15 16:14] alinbalutoiu commented on #691
Does port 8080 also works? Is the kubelet failing with the same error as you previously mentioned?

[2019-05-15 16:28] mkomu commented on #691
ubuntu@cube-ovn-ansible-slave-003:~$ telnet 10.2.0.9 8080
Trying 10.2.0.9...
Connected to 10.2.0.9.

The error is still:

TASK [linux/validation : Linux validate service | Fail if the service is not running] **********************************************************************************************************************
fatal: [10.2.0.12]: FAILED! => {"changed": false, "msg": "The service kub

[2019-05-17 02:56] zfy3000163 commented on #636
I created a service, in addition to the flow rules, why are there iptables rules?
yaml:
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: "2019-05-15T11:27:46Z"
  name: my-nginx
  namespace: default
  resourceVersion: "4506484"
  selfLink: /api/v1/namespaces/default/services/my-nginx
  uid: 7663ee3f-7704-11e9-ae79-32e210bf1ca6
spec:
  clusterIP: 10.99.90.61
  ports:
  - port: 80
    prot

[2019-05-17 17:00] shettyg commented on #636
Is your kube-proxy running? If so, that may be adding them.  ovn-kubernetes will only add openflow flows if you use br-localnet for N/S traffic.

[2019-05-17 17:14] girishmg commented on #636
Like @shettyg said, we don't need kube-proxy for any of the gateway modes we support. So, I would remove kube-proxy like below

[code]

[2019-05-20 05:34] zfy3000163 commented on #636
kubernetes edit svc yaml,why ovn openflow tables not modified?
`# kubectl edit svc/my1-nginx
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: "2019-05-20T01:42:10Z"
  name: my1-nginx
  namespace: default
  resourceVersion: "5080013"
  selfLink: /api/v1/namespaces/default/services/my1-nginx
  uid: 7bb745ea-7aa0-11e9-b21d-32e210bf1ca6
spec:
  clusterIP: 10.100.179.155
  ports:
  - port: 8

[2019-05-20 16:02] girishmg commented on #698
@alijahnas can you please try the master and let us know if it fixes the issue you are facing. Thanks.

[2019-05-21 05:42] zfy3000163 commented on #636
@girishmg  If I stop the kube-proxy process, can I not use NodePort?

[2019-05-21 15:42] mkomu opened #705 "dns and overlay networking issue in ovn"
Hi,

I couldn't make the ansible installation to work so I tried manual installation as instructed in github. I deviated from the instructions as follows:

* Used Ubuntu 18.04
* Kubernetes version 1.14
* Master is tainted (to minimize the number of VMs in OpenStack)
* Installed ovs+vport-geneve modules by compiling them because 18.04 has some extra security features
* Using 172.16.0.0/12 as the se

[2019-05-21 15:57] shettyg commented on #705
@mkomu

What version of OVS are you using?

Also, can you use the latest code in ovn-kubernetes repo?

switch cube-ovn-master-c-002: 192.168.0.1

The above warning is a concern and has likely been fixed this week in ovn-kubernetes repo.

Also, have you see the following 2 scripts yet in the vagrant directory?
provisioning/setup-master.sh
provisioning/setup-minion.sh

What you are trying to do is p

[2019-05-21 16:02] shettyg commented on #705
I have not bothered to look at DNS issue that you are facing yet. First debug is just overlay issue.

[2019-05-22 09:05] squeed commented on #689
OK, PR #704 filed and merged. Do we need to change Travis? Anything else?

[2019-05-22 12:26] mkomu commented on #705
So, I was using ovs/ovn binaries. I apt-get removed them, did a git pull and installed everything from source. The result is the same:

[code]

[2019-05-22 12:38] mkomu commented on #705
Suspicious logs below.

**Master:**

/var/log/openvswitch/ovn-controller.log:
[code]

/var/log/openvswitch/ovn-northd.log:
[code]

/var/log/openvswitch/ovs-vswitchd.log:
[code]

**Slave:**

/var/log/openvswitch/ovsdb-server.log:
[code]

/var/log/openvswitch/ovs-vswitchd.log:
[code]

[2019-05-22 13:10] mkomu commented on #705
Hmm, I restarted openswitch in the slave (which was a bad idea since the VM got stuck with no remote access) and then I had to reboot the slave... and ping is working fine now between pods.

Now the remaining issue is with coredns which now broken by the source-based installation?

[2019-05-22 15:54] mkomu commented on #705
I tested the networking a bit further.

ping 8.8.8.8 works only in the slave's pod, but not in the master's pod

Accessing of API server works only from the slave's  pod but not from the master's pod:
[code]

Btw, is the port number wrong in the OVN instructions for apiserver (k8s-apiserver="http://${CENTRAL_IP}:8080"). I think it should be 6443 but k8s does not work if I change it...

[2019-05-22 16:00] shettyg commented on #705
If you start k9s-apiserver with http, it is 8080. If https, it is 6443.

Did you start ovnkube on master with `gateway-local` option? That should let pods in master access API server.

[2019-05-22 16:19] mkomu commented on #705
Running with https. Changed this ovnkube start up script both in master and slave, but still the same result. I don't know if I should restart something else besides ovnkube when changing these things...

yes (and only in the master)

Any further tips where to look into? To get the following working:

* Internet access with pods running on the master
* coredns with ovn

[2019-05-22 16:21] girishmg commented on #705
Also try these things:
1. delete the coreDNS pods by doing this
kubectl scale --replicas=0 -n kube-system deployment/coredns
2. add the coreDNS pods back
kubectl scale --replicas=2 -n kube-system deployment/coredns

The above steps results in deletion and addition of logical ports for that PODs.

On the slave and master, please run the following commands and share the output.

1. ovs-vsctl show
2.

[2019-05-23 07:42] mkomu commented on #705
I tried scaling down and then out again the coredns. One pod is in ImagePullBackOff state and one is running for a while but then goes into a crash loop:
[code]

The logs are indicating disconnectivity to external networks and to the API server:
[code]
I can dig @8.8.8.8 just fine at the host level on the master.

**Master:**

[code]
** Slave:**

[code]

[2019-05-23 08:03] mkomu commented on #705
For the record:
[code]

[2019-05-23 14:46] mkomu commented on #705
When I ping 8.8.8.8 at the master's pod and tcpdump at the host, I believe the route is something like this:

pod src-addr (192.168.0.5)  -> 192.168.0.1 (pod gw) -> SNAT (new src:169.254.33.2) -> ... -> 8.8.8.8

Apparently 169.254.33.2 is associated with openvswitch or hidden in a namespace because I cannot see it with ifconfig at the host?

Anyway, I pinged the address and it responds:
[code]

I

[2019-05-23 16:11] winsopc commented on #316
The issue still exist with latest code base. I will submit a fix for reviewing this week.

[2019-05-25 11:03] lanoxx commented on #696
Are there any news on this issue? Anything we can do to help with this issue?

[2019-05-28 16:20] girishmg commented on #698
Following commit fixes the issue, so closing this issue.
----8<-----
commit 1e284aeb1d0af34d95bcf9f18f5b0dd7443bf316
Author: Girish Moodalbail <gmoodalbail@nvidia.com>
Date:   Mon May 13 13:06:05 2019 -0700

    race between LogicalPort creation of management port and first pod
----8<--------

[2019-05-28 16:20] #698 closed

[2019-05-28 16:25] girishmg commented on #705
@mkomu Are you running kube-proxy daemonset? If so, can you please delete it

$ kubectl delete ds -n kube-system kube-proxy

With ovn-k8s we don't need kube-proxy anymore. All the required Openflow rules and iptable rules (only for local network gateway mode) will be added by ovnkube running on the nodes.

[2019-05-28 19:24] rwlove opened #709 "README does not install ovn-kubernetes"
I have followed the instructions in the [ovn-kubernetes README](https://github.com/ovn-org/ovn-kubernetes) but I have either made a mistake or the README is out of date.

I followed the OVS install instructions and from what I can tell it is installed correctly.

I followed the ovn-kubernetes README. The master seems to be initialized as there are no obvious errors in the logs and nohup.out is emp

[2019-05-28 19:47] shettyg commented on #709
It is likely that rbac is preventing ovnkube from accessing kube API server resources.

kubectl create -f vagrant/ovnkube-rbac.yaml

And then try starting node service again.

You can also just follow the scripts in vagrant/provisioning/setup-master.sh and  vagrant/provisioning/setup-minion.sh to get things to work.

[2019-05-28 21:07] rwlove commented on #709
Thanks, shettyg.

I am now creating the ovnkube-rbac, on the master, before running ovnkube, but I still get errors:

E0528 13:59:29.663650   47598 reflector.go:205] github.com/ovn-org/ovn-kubernetes/go-controller/vendor/k8s.io/client-go/informers/factory.go:86: Failed to list *v1.Namespace: namespaces is forbidden: User "system:node:ae11-13-wp" cannot list resource "namespaces" in API group "" at

[2019-05-28 21:17] shettyg commented on #709
@rwlove

The vagrant uses kubeadm too. And the minion there uses tokens and no -k8s-kubeconfig  See here:

https://github.com/ovn-org/ovn-kubernetes/blob/master/vagrant/provisioning/setup-minion.sh#L169

[2019-05-28 21:51] rwlove commented on #709
@shettyg

Got it. No need for the k8s-kubeconfig. I've removed it. Thank you.

I looked through the setup-minion.sh and I don't see anything that would help with my above error messages. It seems that ovnkube is trying to query the API Server with user "system:node:ae11-13-wp". The ovnkube-rbac.yaml is configuring the user 'ovnkube'.

[2019-05-28 22:13] shettyg commented on #709
I am not well versed with kubernetes rbac. Not quite sure how the ovnkube user is becoming "system:node:ae11-13-wp".

@dcbw @girishmg Any ideas?

[2019-05-28 22:35] rwlove commented on #709
I noticed that ./go-controller/vendor/k8s.io/client-go/util/certificate/csr/csr.go:54 is the only place that "system:node:" + string(nodeName) is set in function RequestNodeCertificate, but I don't see anything calling that code other than csr_test.go:64. I'm unsure where to go from there; maybe my grep'ing was wrong.

Also, since RequestNodeCertificate is dealing with certs I added the following

[2019-05-29 14:43] shettyg commented on #709
@rwlove

It still does not work, correct?

I updated the README to use daemonsets instead of doing this manually. The current README became README_MANUAL.md.  You can probably try daemonsets?

[2019-05-29 14:46] shettyg commented on #709
About doing this manually, can you look at setup-master.sh to see that you are using kubeadm the same way too? It is probably something to do with kubernetes setup itself.

[2019-05-29 15:49] rwlove commented on #709
OK, I'll revisit my kubeadm commands.

A few data points- I am using the same kubeadm initialization, via Ansible, for Calico (IPIP), Calico (BGP peering with switches) and Cilium. My assumption was that my base-k8s install was sound. I'm just swapping out the network solution. Below is my kubeadm configuration file.

    apiVersion: kubeadm.k8s.io/v1beta1
    bootstrapTokens:
    - groups:

[2019-05-29 18:51] #316 closed

[2019-05-29 20:53] rwlove commented on #709
I've spent the day working on setup-master.sh. I am not running Vagrant, so I am just executing it as a script run by root, on the master node. Here are the problems I encountered and my workarounds. I feel that I'm at the same state I was with my Anisble scripts, just with less error handling (setup-master.sh doesn't do any error handling).

1) ifconfig commands fail on Ubuntu 18.04. For example,

[2019-05-29 20:58] shettyg commented on #709
What version of kubernetes?

[2019-05-29 21:22] shettyg commented on #709
On the master node, ovnkube running there tries to access the same kube-apiserver resources too. And you don't see this error in ovnkube in master? It is just in nodes?

The vagrant uses ubuntu 16.04 and installs kubernetes version v1.14.2.  I tried it just now on my MAC laptop with the following diff applied and it worked fine.

[code]

[2019-05-29 21:23] shettyg commented on #709
Is it possible that your token is expired? It expires in 24 hrs or so.

[2019-05-29 21:29] shettyg commented on #709
This does happen sometimes. A repeat after a few minutes generally gets it to work.

That likely happened because of the failed keyserver. Otherwise, I see 17.05.0-ce when I just ran the vagrant.

[2019-05-29 21:34] shettyg commented on #709
I am just making wild guesses here. Your token looked short and likely used just for bootstrapping? The token that I get is of the form:

[code]

[2019-05-29 22:10] rwlove commented on #709
Since the kube-apiserver logs show that there is an 'invalid bearer token' I added the following to my kubeadm command:

    TOKEN=abcdef.0123456789abcdef

    -k8s-token="$TOKEN" \

Which results in the following nohup.out output:

    E0529 15:00:11.860485   61319 reflector.go:205] github.com/ovn-org/ovn-kubernetes/go-controller/vendor/k8s.io/client-go/informers/factory.go:86: Failed to list *v1

[2019-05-29 22:13] girishmg commented on #709
Shouldn't the k8s-apiserver below use `https` for both ovnkube master and node invocations.

[2019-05-29 23:21] rwlove commented on #709
@shettyg

I think I missed a few of your messages today. I'll try with daemonsets as soon as possible. I won't be able to work on this tomorrow, but I should have some time on Friday and certainly on Monday.

[2019-05-30 17:54] girishmg opened #715 "Move the egress network policy rules to datapath’s ingress pipeline"
Today, all the network policy rules are converted to OVN ACL rules with direction set to ‘to-lport’. As a result, the ACL processing occurs on the egress pipeline for the datapath in the ls_out_acl table.  However, for the egress network policy rules we have an opportunity to apply them on the datapath’s ingress pipeline itself. This can be done by using the ‘from-lport’ direction for rules of tha

[2019-05-30 18:03] shettyg commented on #715
@girishmg Look at f47d7e0cfc0e41933b5b9b8b538de7eb131c873a on why we did it this way.

[2019-05-30 18:43] girishmg commented on #715
@shettyg great. That makes sense, closing the issue.

[2019-05-30 18:43] #715 closed

[2019-05-31 16:09] rwlove commented on #709
@shettyg

I don't think the yaml files referenced in the updated README were checked in.

    rwlove@ae11-11-wp:/tmp$ git clone https://github.com/ovn-org/ovn-kubernetes.git ovn-kubernetes-temp
    Cloning into 'ovn-kubernetes-temp'...
    remote: Enumerating objects: 63, done.
    remote: Counting objects: 100% (63/63), done.
    remote: Compressing objects: 100% (50/50), done.
    remote: Total

[2019-05-31 16:11] shettyg commented on #709
@rwlove

You missed this part of README?

[code]

[2019-05-31 16:11] rwlove commented on #709
Yeah. I'm a dummy. I deleted the comment. I'll follow the instructions.

[2019-05-31 18:00] rwlove commented on #709
ovn-kubernetes is now working in my environment using daemonsets.

Thank you very much for your assistance, @shettyg!

[2019-05-31 18:11] shettyg commented on #709
@rwlove

You can delete kube-proxy as it is not needed.

[2019-05-31 19:06] rwlove commented on #709
Getting a bit off topic, but I have a few questions:

1) Previously I specified the gateway interface and the external gateway. Is there something I should be doing here? Everything seems to be working, so maybe this is fine.

    -init-gateways -gateway-interface=enp24s0f0 -gateway-nexthop="$NEXTHOP" \

2) VxLAN - can I configure this via ovn-kubernetes, or do I need to do some hacking?

3) Is th

[2019-05-31 19:29] shettyg commented on #709
The daemonsets uses a gateway mode, where we no longer take up physical interface. Instead we create a standalone OVS bridge and let iptables bridge external traffic to OVN/OVS.  Not super efficient, but good enough to get started and more flexible.

Ideal situation is to use OVS outside daemonsets and OVN inside daemonsets. But daemonsets currently do not have option to specify physical gateways.

[2019-05-31 19:35] girishmg commented on #709
@shettyg we have a way to do it using daemonsets. See https://github.com/ovn-org/ovn-kubernetes/commit/3acdfa593657593498bfa3c5ec931057f5ecb394

[2019-05-31 19:44] shettyg commented on #709
@girishmg

Thanks. If you have time, can you please update README to include the additional information?

[2019-05-31 22:08] girishmg commented on #709
@shettyg  will do

[2019-05-31 22:38] girishmg opened #718 "create address_sets only when required"
when we create a network policy for ingress (or egress) that contains only ipBlock fields and nothing else, for example like below:
[code]

we end up creating 3 address_sets (since 3 ingress rules) and they don't have any IP addresses

[code]
So, we should avoid creating the above 3 address_set.

[2019-06-10 18:05] lanoxx opened #722 "Service IPs are not working"
Since a few days I am experiencing the following error in my cluster. I can ping the overlay both of the management interface and also of my pods. This works from a node itself and also across nodes:

    ping 10.245.0.1 OK
    ping 10.245.0.2 OK
    ping 10.245.0.3 OK
    ping 10.245.1.1 OK
    ping 10.245.1.2 OK
    ping 10.245.1.3 OK

However, none of my service IPs are working. Not even the de

[2019-06-10 18:09] shettyg commented on #722
What version of  running OVS? (`ovs-appctl version`). What is the kernel module version? `cat /sys/module/openvswitch/version`?

[2019-06-10 18:51] lanoxx commented on #722
Hi @shettyg, thanks for the quick response. Here are details you requested:

    $ ovs-appctl version
    ovs-vswitchd (Open vSwitch) 2.9.2

There is no version file:

    $ cat /sys/module/openvswitch/version
    cat: /sys/module/openvswitch/version: No such file or directory

But instead a srcversion file:

    $ cat /sys/module/openvswitch/srcversion
    180E9D17CBC499DBBCDC66E

[2019-06-10 19:26] shettyg commented on #722
It is likely that you are using a kernel module of openvswitch that does not support NAT (needed for service load-balancing)

[2019-06-10 19:31] shettyg commented on #722
o/p of `modinfo openvswitch` ? And `lsmod  | grep openvswitch` ?

[2019-06-10 19:41] lanoxx commented on #722
`modinfo openvswitch`:

    filename:       /lib/modules/4.4.0-1084-aws/kernel/net/openvswitch/openvswitch.ko
    license:        GPL
    description:    Open vSwitch switching datapath
    srcversion:     180E9D17CBC499DBBCDC66E
    depends:        nf_conntrack,libcrc32c,nf_defrag_ipv6
    retpoline:      Y
    intree:         Y
    vermagic:       4.4.0-1084-aws SMP mod_unload modversions

`lsmo

[2019-06-10 19:53] lanoxx commented on #722
I find it hard to understand why this is suddenly failing. My cluster has been working mostly fine for the last half year with basically the same setup. I am installing the cluster into a set of vanilla Ubuntu 16.04 instances on AWS using the same Ansible scripts that have worked fine just a few weeks ago.

Are you aware of any Ubuntu 16.04.x security patches that might have caused this?

[2019-06-10 20:08] shettyg commented on #722
`dmesg | grep -i "open vswitch" `?

Also look at /var/log/openvswitch/ovs-vswitchd.log to see any errors around NAT.

[2019-06-10 20:12] shettyg commented on #722
Were you installing openvswitch dkms kernel module package before? Or was it always upstream openvswitch kernel module?

[2019-06-10 20:15] lanoxx commented on #722
I have always used the upstream module which gets automatically installed by the ovn-kubernetes provided ansible scripts.

`dmesg | grep -i "open vswitch"` gives an empty result.

Here are the last couple of lines from the ovs-vswitchd.log: https://gist.github.com/lanoxx/c91a8600ca87347f5e939d062b650a8b

[2019-06-10 20:17] lanoxx commented on #722
I am seeing a lot of these in the journal:

    Jun 10 20:15:40 ip-172-35-37-249 kernel: netlink: Unknown conntrack attr (type=6, max=5)
    Jun 10 20:15:40 ip-172-35-37-249 kernel: netlink: Unknown conntrack attr (type=6, max=5)
    Jun 10 20:15:40 ip-172-35-37-249 kernel: openvswitch: netlink: Flow actions may not be safe on all matching packets.
    Jun 10 20:15:40 ip-172-35-37-249 kernel: netl

[2019-06-10 20:21] shettyg commented on #722
From the above, it is clear that the kernel module does not support NAT.

[2019-06-10 20:29] lanoxx commented on #722
Thanks for spotting that.

As I understand it the Ansible scripts download openvswitch version 2.9.x from the web, then build Debian packages from that and then install those Debian packages. How could they suddenly not support NAT?

[2019-06-10 20:52] shettyg commented on #722
Does ansible script try to install dkms package for openvswitch? If so, it is possible that it tried to install it, but it failed to compile for the latest kernel that Ubuntu is providing.

If that is the case, you should try the tip of openvswitch's branch-2.9. If that still fails, you should move to tip of 2.10 or tip of 2.11.

[2019-06-11 09:23] lanoxx commented on #722
Are you talking about [the openvswitch-datapath-dkms package](https://github.com/ovn-org/ovn-kubernetes/blob/master/contrib/roles/linux/openvswitch/tasks/build_install_release_ovs.yml#L45)?

I don't see any compile errors during the execution of Ansible, its possible that there is an error but its silently ignored and I never see it.

This morning I tried to setup a new cluster which uses OVS 2.10

[2019-06-11 11:11] lanoxx commented on #722
I have reverted to Ubuntu 16.04 with patch level from 20190320 and I also reverted to the following ovn commit: 378afe237ff8e9877714ee664cee2fdcb5bbfc58 and now my CoreDNS pods are running again, in the morning I was trying with commit: 37c850c56f11bcdda7c4106dbfa12d8cb0f5eb1f which was still giving me errors (see previous comment).

[2019-06-12 07:49] lanoxx commented on #696
Today I am getting this issue again. Are there any news about this?

[2019-06-12 11:08] lanoxx commented on #696
@cn-mayank The two AMI Ids that you are mentioning are not available when I search for them. Maybe its because I am the Frankfurt region, or maybe AWS has deprecated and removed these older images. Using the an earlier image (e.g. `Windows_Server-1809-English-Core-Base-2019.03.13`) resolved the issue.

[2019-06-12 13:58] cn-mayank commented on #696
Yes, this issue does not come in older 1809 release which is why i specified ami id with date.
I tried with the latest ami at the time because I read something about microsoft adding more support for docker and k8s 1.14 in latest release. Unfortunately I am not able to recall the exact details of that.
Right now I am using ovn-kubernetes with k8s 1.12 and docker 18.09.1. Occasionally the networkin

[2019-06-13 15:44] lanoxx commented on #493
As I recall this was fixed already.

[2019-06-13 15:44] #493 closed

[2019-06-17 16:08] rwlove commented on #709
I moved on to something else and then when I came back ovn-kubernetes is not working. I am using Ansible to provision. Here are the problems I encountered:

1) README suggests to run a 'sudo apt-get build-dep dkms' when installing OVS, however, there are no instructions to install source URIs, so this command fails.

root@ae11-28-wp:~# sudo apt-get build-dep dkms
Reading package lists... Done
E: Y

[2019-06-17 17:03] rwlove commented on #709
For #3, ready_to_start_node suggested that the OVN DB needed to be running. It was not because of no nodes matching the node selector.

The OVN DB required the following labels:

[code]
My master node had the following labels:
`kubernetes.io/os=linux,node-role.kubernetes.io/master=true`

To resolve my label/selection problem I ran the following command:
`kubectl label nodes ae11-28-wp node-role.ku

[2019-06-24 21:51] danwinship opened #743 "race condition in pkg/cluster/node_test.go"
There is a race condition in pkg/cluster/node_test.go that sometimes causes the `It("test watchConfigEndpoints single IP"` test to fail because the `watchConfigEndpoints` add handler gets run twice, and so makes an extra set of calls to `ovs-vsctl` that the `FakeExec` was not expecting.

This happens because `WatchFactory.addHandler` assumes that it needs to:

	// Send existing items to the handle

[2019-06-25 18:58] SKD-SKD opened #747 "ovnkube-db-64ddbfcd94-xmtsv 1/2 CrashLoopBackOff"
the container sb-ovsdb inside ovnkube-db- pod has an issue :
[code]

the pod restarts.

here is the log:
[code]

[2019-06-26 15:30] SKD-SKD commented on #747
adding
[code]

enabled the container to run

[2019-06-26 15:57] SKD-SKD commented on #747
after a white the ovnkube-db- pod have same issue again

[2019-06-28 21:36] rwlove commented on #709
This was user error. I had some code in my Ansible scripts that was installing OVS outside of the daemonset.

[2019-06-28 21:56] rwlove opened #751 "Pods failing to access apiserver"
After an installation following the README, a few of my pod's logs show that they cannot access the apiserver.

Regarding the README.
A) I am doing a kubeadm install and I don't seem to have the taint that is described.
B) kubeadm is installing kube-proxy. I run `kubectl -n kube-system delete ds -l k8s-app=kube-proxy` and the kube-proxy pods are terminated, but I cannot tell that it makes any diff

[2019-06-28 22:32] girishmg commented on #751
@rwlove Unfortunately this is a known issue, and we are working towards a solution for it. The pods on the K8s master node cannot access the K8s API Server through the K8s service ClusterIP.

On your ae11-28-wp node can you add the following iptable rule and see if things work for you?

[code]

[2019-06-28 22:54] rwlove commented on #751
@girishmg

Unfortunately, it did not help. Prior to adding the iptables rules I was at 25 restarts. I allowed two restarts after adding the rule and before posting here.

[code]

[2019-06-28 22:57] girishmg commented on #751
@rwlove

Can you please scale the coredns back to 0 and and scale it back up to 2?
[code]
If that doesn't work, can you please share the output of

[code]

[2019-06-28 23:00] rwlove commented on #751
No luck.

[code]

[2019-06-28 23:11] girishmg commented on #751
@rwlove as you can see that DNAT rule is not getting hit. Can you do this:

[code]

[2019-06-28 23:19] rwlove commented on #751
@girishmg I scaled down/up coredns after re-inserting the rule.

[code]

[2019-06-28 23:25] girishmg commented on #751
@rwlove Sorry, one last try. I see that you have lot of leftover iptable rules from kube-proxy (even though you have killed the pod.

[code]

[2019-06-28 23:34] rwlove commented on #751
@girishmg  I wish I had better news.

[code]

[2019-07-08 07:29] lanoxx commented on #79
I think this was fixed by commit: https://github.com/ovn-org/ovn-kubernetes/commit/9b9d1460802fd461332102320abfaf8ed1f71705

[2019-07-11 16:09] lanoxx opened #756 "Accessing service IPs from Kubernetes master"
I am using the Ansible scripts to setup a Kubernetes cluster. It seems native services such as the API server that run on the master node are not able to access ips on the overlay network such as service ips (e.g. https://10.96.0.164:443). Is this intentional and is there anyway I can change the configuration, such that the API server can access service IPs from the overlay network?

May current p

[2019-07-11 22:44] girishmg commented on #756
Can you try this workaround on the K8s Master node?

[code]

[2019-07-11 23:48] girishmg opened #758 "Cannot access K8s service cluster IP from the K8s master"
How to Reproduce:

On the K8s master host run
[code]
and the command will time out.

(Note: make sure you don’t have any iptable rules installed by kube-proxy.
 Run: iptables –F && iptables –t nat –F && iptables –t mangle –F && iptables –X)

Software Version: OVS 2.11.1 and OVN 2.11.1 and Linux Upstream Kernel 4.15 (I have tried Linux OVS Tree Kernel as well using dkms).

Observation:

We are seei

[2019-07-12 06:32] lanoxx commented on #756
Hi @girishmg,

I applied the `iptables` rule on my master node but it did not help. If I understand this rule correctly, then the command adds a NAT rule from the service ip (10.96.0.164) to the pod ip (10.245.0.12). This would require, that pod IPs are accessible from the master, which is not the case.

Should pod IPs be routable on the master node? What do I need to do to achieve this?

[2019-07-12 14:25] girishmg commented on #756
@lanoxx  by `k8s_server_endpoint_ip:6443`, I meant k8s API server IP address. Sorry, about the confusion.

[2019-07-12 14:30] girishmg commented on #756
@lanoxx Can you please share the output of `kubectl describe svc --all-namespaces`?

[2019-07-12 14:32] lanoxx commented on #756
@girishmg Will post it in a moment, do you happen to be on IRC in the #openvswitch channel?

[2019-07-12 14:53] lanoxx commented on #756
Hi @girishmg here is the output of `kubectl get svc --all-namespaces`. You can find the details here in the following gist: https://gist.github.com/lanoxx/b8c28c46966e6efc6b256fe86f050b1d

    NAMESPACE                 NAME                                               TYPE           CLUSTER-IP    EXTERNAL-IP                           PORT(S)
    cert-manager              cert-manager-webhook

[2019-07-12 14:54] lanoxx commented on #756
P.S. I have removed several internal services from that output, but all the essential ones should be there.

[2019-07-12 15:06] lanoxx commented on #756
@girishmg

I don't understand what that will do. I am adding this rule on the master node where the api server runs, so I would use `127.0.0.1:443` (my k8s api server runs on `443`). But I don't understand how that would help the API server to reach the `webhook` pod of the `cert-manager` which runs on a worker node. It seems that if I add that rule, then I would create a loop where requests by th

[2019-07-12 15:12] lanoxx commented on #756
Some more information, there is currently not even a route on the K8s master that points to the pod and svc overlay networks. When I run the following on my master node I always get empty responses:

    root@ip-172-34-44-26:/home/ubuntu# ip ro |grep 10.245 # get pod overlay route
    root@ip-172-34-44-26:/home/ubuntu# ip ro |grep 10.96  # get svc overlay route
    root@ip-172-34-44-26:/home/ubunt

[2019-07-12 19:03] girishmg commented on #756
@lanoxx I am on #openvswtich as `gmg`. I am there right now.

[2019-07-12 19:54] lanoxx commented on #756
I am there now as well.

[2019-07-17 07:46] lanoxx commented on #756
It seems that the Ansible scripts provided by ovn-kubernetes are not setting up a kubelet and overlay network on the master node itself. In particular, for the master, the `minion` group_var [defaults to false](https://github.com/ovn-org/ovn-kubernetes/blob/master/contrib/inventory/group_vars/kube-master#L6).

This is why there is no overlay network on the master. Certain software such as `cert-ma

[2019-07-17 08:16] lanoxx commented on #722
I managed to setup a new cluster today using the latest version of ovn-kubernetes and I am not longer seeing this issue. I would like to point out though, that upgrading the ovs version from 2.9 to 2.10 fails with the ansible scripts because the kernel modules cannot be unloaded. I had to reset the Linux nodes and start with new nodes to get a working installation.

[2019-07-17 08:16] #722 closed

[2019-07-17 12:38] lanoxx commented on #696
I have setup a new cluster today. Using OVS version 2.10 the latest version of ovn-kubernetes from the master branch. I tried with the following two Windows versions:

* Windows_Server-1809-English-Core-Base-2019.07.12 (ami-0a940edb52120ee33)
* Windows Windows_Server-2019-English-Core-Base-2019.07.12 (ami-0c6511e37803d13f5)

And got the following error when I deployed a Windows pod. Are there any

[2019-07-17 21:41] shettyg commented on #756
Generally, windows should move to OVS 2.11.x as there are a couple of features there that ovn-kubernetes uses. Tip of ovn-kubernetes will likely not work with OVS 2.10.x

[2019-07-18 06:21] lanoxx commented on #756
@shettyg With ovn-kubernetes master and OVS 2.10 I was able to setup a working master which also acts as minion, though I had to make some manual adjustments because the ansible scripts dont fully support this use case.

However I currently cannot get my windows nodes to function in this cluster. Issue #696 has a discussion about that problem. Do you think that my problems with Windows 1809 might

[2019-07-18 15:48] lanoxx commented on #696
@shettyg @aserdean Is there a version of openvswitch hyperv installer available for OVS 2.11? I currently only see `https://cloudbase.it/downloads/openvswitch-hyperv-installer-beta-2.10.msi`

[2019-07-19 13:55] lanoxx commented on #683
@aserdean @alinbalutoiu

I am starting to think that the logs in ovn-kubernetes-node might not be the actual cause of my problem. I tried to compare with another Windows node where the overlay network works. What I noticed is that on my broken windows node, when I run `Get-Endpoint` I see, that the there is no endpoint corresponding to the integration bridge. The only endpoint that I see is this o

[2019-07-22 02:00] jasonqiann opened #770 "need help for node to svc clusterIP and external IP"
Hi,
i modify the logical net framework as the pod and node are in one underlay network.
node's addresses and pod's addresses are in 10.250.0.0/21.

all pod are in one logical switch(k8s), and i create two load balancers(TCP&UDP), then i added the two load balancers on logical switch k8s.

i added rules like: svcIPs:svcPort=pod1'sIP:port,pod2'sIP:port，so i can visit svcIP:svcPort normally from pod.

[2019-07-22 02:06] jasonqiann commented on #770
i create one lsp for every node, like below:
`# ovn-nbctl show
switch 4dc736b4-9d53-442f-b2d7-7bf40477c26d (k8s)
    port node-kubemaster01
        addresses: ["dynamic"]
    port default_test-app-7675d84794-d6kh5
        addresses: ["dynamic"]
    port default_tomcat-7bf9c54fd7-d7h9t
        addresses: ["dynamic"]
    port public
        type: localnet
        addresses: ["unknown"]
    port node

[2019-07-23 16:48] girishmg opened #773 "Add support for OVS offload"
The current OVS supported is OVS running in Linux Kernel. Mellanox Accelerated Switching And Packet Processing (ASAP2 ) technology allows OVS offloading by handling OVS data-plane in Mellanox ConnectX-4 Lx onwards NIC hardware (Mellanox Embedded Switch or eSwitch) while maintaining OVS control-plane unmodified. OVS hardware offload is using SR-IOV technology with VF representor host net-device. Th

[2019-07-24 07:58] alonSadan opened #776 "ovn-kubernetes does not allow to configure a custom mac"
will be nice to have the option to pass as an argument a custom mac address which will be allocated for the interface.

[2019-07-24 14:42] booxter commented on #776
OK, let me expand because it sounds like perhaps Alon asked the project to come up with its own solution for hardware addresses, while in reality there is prior art in CNI plugins for the same.

The Network Plumbing working group of Kubernetes came up with a standard for network attachment definitions: https://docs.google.com/document/d/1Ny03h6IDVy_e_vmElOqR7UdTPAG_RNydhVE1Kx54kFQ/edit

This docum

[2019-07-25 07:37] alonSadan commented on #776
Thank you @booxter  for the way better explanation to the issue.

[2019-07-25 21:19] girishmg commented on #776
@booxter yes, this is my list of things to do.

[2019-07-29 15:38] mangelajo opened #780 "ovn-kubernetes does not have support to be ran on kind"
It'd be fantastic to be able to install ovn-kubernetes in kind to do E2E testing.

[2019-07-29 16:57] #773 closed

[2019-07-30 16:07] lanoxx opened #781 "NodePort routing broken"
I have setup a new cluster this week and I had problems with NodePorts again. I have seen this problem multiple times already and so far I have not found a deterministic pattern on when or why it occurs. It affects both Linux and Windows nodes. My new cluster currently consists of five nodes: 1 master (which is also a minion), 2 Linux worker nodes and 2 windows worker nodes. Currently the node por

[2019-07-30 18:02] girishmg opened #782 "Do not run OVN K8s pods in Host process namespace"
We need to get rid of ‘HostPID: True’ attribute in each of our Pods. This attribute
essentially runs all of the OVN K8s processes in host process namespace. This simplifies some of the code in ovnkube.sh such as pid_health() and pid_ready(). These functions can easily do `ps aux |grep $pid` and check if the process is running or not. However, enabling HostPID seems like a heavy hammer to simplify

[2019-07-30 18:14] girishmg commented on #782
The ovs-appctl related work has been integrated through commit 59c345931f9d855554f600e9

[2019-07-30 22:52] girishmg commented on #782
the ovnkube-node and ovnkube-db changes have been integrated through commit e74730b284ab163db63db6

[2019-07-31 08:34] lanoxx commented on #756
I am going to close this issues as the problem can be fixed by installing `kubelet` and `ovnkube` on the master node. The Ansible scripts provided in `ovn-kubernets/contrib/` do not do that by default, but its possible, see my earlier comment: https://github.com/ovn-org/ovn-kubernetes/issues/756#issuecomment-512143131

The comments about windows in the earlier two comments are unrelated to this is

[2019-07-31 08:34] #756 closed

[2019-08-06 05:57] girishmg opened #786 "An ability to chain various plugins alongside with OVN CNI"
We need to provide a way to chain plugins such as portMapping, bandwidth, tuning, and so on along with OVN CNI. This is done through network configuration lists and it provides a mechanism to run multiple CNI plugins for a single container in a defined order.

Currently, we support setting ingress/egress bandwidth for the Pod’s interface by directly extracting that information from the POD spec an

[2019-08-06 06:01] girishmg commented on #786
We could move the above capability into the OVN CNI itself like below

[code]

That way, when `ovn-k8s-cni-overlay` is executed for CMD_ADD it will already have the bandwidth information in the runtimeConfig map. We can use the information in the map to setup the bandwidth instead of pulling the information from the pod spec.

[2019-08-06 16:44] girishmg opened #789 "OVN CNI Network configuration should come from configmap"
Currently the OVN CNI network configuration is hardcoded to the following JSON.

{
    "cniVersion": "0.3.1",
    "dns": {},
    "ipam": {},
    "name": "ovn-kubernetes",
    "type": "ovn-k8s-cni-overlay"
}

This shouldn't be the case. It should come from the configmap so that the deployers can choose custom DNS servers and such, for example.

[2019-08-06 16:44] girishmg commented on #789
while I am there, I am going to rename our binary to `ovn-cni`.

[2019-08-07 19:44] dcbw opened #791 "ovnkube node should read chassis ID from OVS, not SBDB"
In https://github.com/ovn-org/ovn-kubernetes/commit/ea0c8916943a19622c82fca9d2e9faf87f2b00d2#diff-f3d7921613782ead56f50c8aa5df6d9eL36  (PR #719 ) I didn't understand how the chassis ID was handled and I switched the node from reading the chassis ID from OVS to reading it from the SBDB. That's wrong because the local ovn-controller writes the chassis ID to the SBDB so we already have it locally.

W

[2019-08-07 19:45] dcbw commented on #791
@mccv1r0

[2019-08-07 19:46] dcbw commented on #791
@girishmg

[2019-08-08 03:21] girishmg commented on #791
@dcbw this was done to enable moving L3 gateway creation to master. To create L3 gateway, we need to create a logical router and bind it to a chassis using that node's system-id. So, in the master we retrieve this from the OVN SB since that is the only way to get the chassis id for that node (or we use node annotations to retrieve the system-id).

[2019-08-13 12:21] lanoxx commented on #781
@girishmg Do you have any idea how to debug this?

[2019-08-14 06:48] autumn0207 commented on #589
How can you solve this problem,  I meet the same problem too.

        Port "ovn-010918-0"
            Interface "ovn-010918-0"
                type: geneve
                options: {csum="true", key=flow, remote_ip="10.251.170.168"}
                error: "could not add network device ovn-010918-0 to ofproto (Address family not supported by protocol)"

geneve tunnel can not be set up..

[2019-08-14 06:50] autumn0207 opened #803 "Can not set up geneve tunnel"
Port "ovn-d82244-0"
            Interface "ovn-d82244-0"
                type: geneve
                options: {csum="true", key=flow, remote_ip="10.251.170.94"}
                error: "could not add network device ovn-d82244-0 to ofproto (Address family not supported by protocol)"
        Port "patch-br-int-to-br-local_10.251.170.177"
            Interface "patch-br-int-to-br-local_10.251.170.177

[2019-08-14 17:36] shettyg commented on #803
What does the following say:

1. `cat /etc/os-release`

2. `uname -a`

3. `modinfo openvswitch`

4. `cat /sys/module/openvswitch/version`

[2019-08-21 14:51] Coyote5 opened #811 "Can not assign correct ip address for pod"
Kubernetes version: 1.15.2
Open vSwitch&OVN version: 2.11.0
ovnkube version: 0.3.0

I installed ovnkube following the readme instructions. (https://github.com/ovn-org/ovn-kubernetes/tree/v0.3.11). But when i run a pod, it can not get the correct ip address.
[code]

[2019-08-22 00:19] girishmg commented on #811
@Coyote5 the OVN K8s code at tag `v0.3.11` is from Aug 2018 and it is atleast an year old. Lot of things have changed since then.

So, I would clone the master and try out the instructions.

[2019-08-22 03:06] Coyote5 commented on #811
@girishmg Use master branch, i got a make error.

Use golang 1.9.7
[code]
Use golang 1.12, 1.11 or 1.10
[code]

[2019-08-22 03:14] girishmg commented on #811
@Coyote5 it works for me

[code]

[2019-08-22 03:18] girishmg commented on #651
is fixed by commit 3f16fd54ff1b6071a6a7391e6fd98f1a2c28f791, so closing

[2019-08-22 03:18] #651 closed

[2019-08-22 03:19] girishmg commented on #626
is fixed by commit 81a3bdf7566abe57df7, so closing

[2019-08-22 03:19] #626 closed

[2019-08-22 11:59] Coyote5 commented on #811
@girishmg  I use the same env, but it did not work yet.
[code]

[2019-08-22 15:36] girishmg commented on #811
@Coyote5 what platform are you building the binaries on?

[2019-08-22 21:20] #523 closed

[2019-08-23 00:23] Coyote5 commented on #811
@girishmg
[code]

[2019-08-23 17:50] danwinship opened #817 "A pod cannot connect to itself via a service IP ("hairpin")"
A pod should be able to connect to a service IP that redirects back to itself, but this doesn't currently work.

eg, write this to a file, do `kubectl create -f FILE`:

    apiVersion: v1
    kind: Service
    metadata:
      name: test-service
    spec:
      selector:
        name: test
      ports:
      - port: 8080
    ---
    apiVersion: v1
    kind: Pod
    metadata:
      name: test-pod

[2019-08-23 19:10] girishmg commented on #817
I check the flow using `ovn-trace`, and it shows that the packet does get hair-pinned and is delivered back to the originating logical switch port. So, looks like things in OVN is fine. Perhaps, we need to change the `net.ipv4.conf.rp_filter` value in the pod to receive 'hair-pin' packets?

[2019-08-23 20:32] danwinship commented on #817
That doesn't seem to have any effect; tcpdump on either side of the veth doesn't show a return packet.

[2019-08-23 20:42] danwinship opened #819 "ovn-kubernetes doesn't implement service SessionAffinity"
From https://kubernetes.io/docs/concepts/services-networking/service/:

ovn-kubernetes does not implement this, causing a handful of k8s e2e tests to fail.

[2019-08-23 20:42] danwinship commented on #819
(I will probably look at implementing this soon)

[2019-08-23 21:37] girishmg commented on #817
Ok, this is the same issue as in #758 (where the traffic is hair-pinned back on management port -- the traffic from the host network pod in the master node towards the kubernetes service cluster ip is hairpinned back to the host network pod itself using management port).

In the ovs-vswitchd.log, I am seeing the following error:

[code]

The failure is in net/openswitch/conntrack.c`ovs_ct_execute(

[2019-08-26 07:37] Coyote5 commented on #811
@girishmg I changed the install mode. This time, I run OVN with daemonset, all contrainer running well. But the pod can not get the correct ip yet. I guess the ovn-k8s-cni-overlay is not working. How can I troubleshoot the problem? Thanks!

[2019-08-28 20:22] #791 closed

[2019-09-03 09:05] Coyote5 opened #821 "cannot stat '/usr/libexec/cni/loopback': No such file or directory"
I deploy ovn-kubernetes use daemon set. The OVN cant not assign the IP address for POD. It always use the IP address from docker. I find a cni error in ovn-node's log file on all compute node.

[code]

[2019-09-03 20:12] girishmg commented on #821
@Coyote5 are your nodes in the 'Ready' state? What is the output of following commands?

kubectl get nodes
kubectl get pods -n ovn-kubernetes

[2019-09-04 01:38] Coyote5 commented on #821
@girishmg node and pod are both ready.
[code]

[2019-09-06 00:13] Coyote5 commented on #821
I missed the --network-plugin=cni para for kubelet. Now, it is working well.

[2019-09-06 00:13] #821 closed

[2019-09-06 00:14] #811 closed

[2019-09-11 12:01] danwinship opened #831 "Need additional service/loadbalancer rules for some clouds"
Certain CloudProviders assume that they can redirect loadbalancer traffic directly to a node with no rewriting, and the node will accept the packets.

That is, if you have a LoadBalancer service with an ingress IP of 1.2.3.4 and a service port of 443 and a NodePort of 31000, and it's available on a node with node IP 5.6.7.8, then:

- on AWS, the user will connect to to the cloud load balancer at `

[2019-09-11 19:56] dcbw commented on #786
@girishmg don't we handle port mapping, bandwidth, tuning, etc internally inside ovn-kubernetes? eg portmapping is only for hostPorts, which we handle already. bandwidth we already do via QoS too. Tuning is just used to change the MAC address, which we'd get through https://github.com/ovn-org/ovn-kubernetes/pull/825 or similar changes.

[2019-09-13 21:35] girishmg commented on #786
@dcbw  I don't think we handle `portmapping` today in ovn-k8s. At least not with `dockershim` and `shared` gateway mode.

Ideally, we should be handling the `bandwidth` outside of the OVN CNI plugin. We will have to write a new CNI plugin called ovn_bandwidth which we will chain with ovn_k8s_cni_overlay. When ovn_bandwidth gets called by the `kubelet`, then the new plugin will read ingress/egress

[2019-09-16 18:28] girishmg commented on #831
Even if we did that the response packets will take a different path out, and I don't know if that will work. (In the response packets, the source IP will be that of the internet gateway IP (SNAT'ed) and will not be the LB IP, so not sure how the clients will work). Is this the case of stateless LB? Curious to know the use case here?

[2019-09-17 12:32] danwinship commented on #831
OK, so maybe instead of just DNATting the packets (which is what I did for local gateway mode), we need the node iptables rules to fully masquerade them. Then the response from the ovn load balancer will come back to the node, which can unmasquerade it and return it to the cloud load balancer.

I guess given a network plugin and proxy where the traffic paths work right, this would let the destinat

[2019-09-17 17:18] girishmg commented on #831
Thanks.

[2019-09-17 17:20] girishmg commented on #831
if you masquerade, then the application running in the POD wouldn't know the original Client IP from where the packets originated.

[2019-09-17 18:27] danwinship commented on #831
Right, but that's not guaranteed to work anyway. (It doesn't work with AWS, etc.)

[2019-09-23 03:17] autumn0207 opened #839 "HW offlowd can not work"
ovs log:

2019-09-23T03:14:48.824Z|00035|dpif_netlink(handler2)|ERR|failed to offload flow: Operation not supported: 621b9db0ed0b6aa
2019-09-23T03:14:56.222Z|00069|dpif_netlink(revalidator11)|ERR|Dropped 2 log messages in last 8 seconds (most recently, 8 seconds ago) due to excessive rate
2019-09-23T03:14:56.222Z|00070|dpif_netlink(revalidator11)|ERR|failed to offload flow: Operation not supported

[2019-09-23 16:44] girishmg commented on #839
@moshe010 can you please take a look.

As I understand, the CX5 driver doesn't yet support connection tracking and NATing yet, so such flows will not be offloaded to the NIC.

[2019-09-23 16:46] girishmg commented on #782
With this commit 7812e22e5c0310c6d12036201b721545e1406c98 we need not now run OVN K8s daemons in host process namespace. So, closing this issue as we have fix for this.

[2019-09-23 16:46] #782 closed

[2019-09-24 03:17] moshe010 commented on #839
@autumn0207,
You need connection tracking tc offload in ovs [1] that patches are still under review.

[1] https://www.mail-archive.com/ovs-dev@openvswitch.org/msg34124.html

[2019-09-24 04:03] autumn0207 commented on #839
@moshe010 @girishmg
thank you very much.
But there is another error in ovs logs:

2019-09-23T07:31:45.257Z|00006|dpif_netlink(handler66)|ERR|failed to offload flow: Invalid argument: 621b9db0ed0b6aa
2019-09-23T07:31:45.635Z|00001|dpif_netlink(handler67)|ERR|failed to offload flow: Invalid argument: 621b9db0ed0b6aa
2019-09-23T07:31:47.199Z|00005|dpif_netlink(handler71)|ERR|failed to offload flow: I

[2019-09-25 06:25] moshe010 commented on #839
@autumn0207, It hard to say from the log.
If connectivity is working but not offloaded, I prefer that all the pieces in ovs and kernel will be merged first and then we can continue.
Is the problem that it is not offloaded? Does connectivity between pods works?

[2019-09-26 08:06] lioncruise opened #843 "Floating IP support for pod and VM (discussion)"
I see ovn-kubernetes project can support pod IP through DHCP and static IP, but we know this pod IP is a virtual intranet IP within the pod IP range (CIDR) that we configured when initializing K8S cluster and its CNI plugin, and the pod IP can only be accessed (ping) by the pod in the same namespace and the host K8S node. Is there any support to assign a static external IP to a pod to associate it

[2019-09-27 09:29] autumn0207 commented on #839
The connectivity can working normally,  i just dont understand why any flows can not be offloaded

[2019-09-30 12:05] danwinship opened #845 "NetworkPolicy ipBlock "except" rules are implemented incorrectly"
The NetworkPolicy code implements IPBlock "except" rules as though they meant "deny", but they don't; they just mean "don't accept *at this time*"; a CIDR range that is excepted by one rule may be accepted by another. eg, given one policy that says:

    - from:
      - ipBlock:
          cidr: 10.0.0.0/8
          except:
          - 10.0.1.0/24

and a second that says:

    - from:
      - ipBlo

[2019-09-30 17:00] #624 closed

[2019-10-02 14:30] squeed commented on #817
We may be able to fix this on the node with some iptables rules that cause hairpin traffic to be masqueraded from the node IP. Ugly, but I think other network plugins do something similar.

[2019-10-02 15:30] girishmg opened #849 "move all OVN K8s related node/pod annotations under k8s.ovn.org namespace"
Currently, we annotate nodes and pods without any namespace. To keep it clean and consistent with various K8s components, move all the OVN K8s annotations under k8s.v1.ovn.org.

For example:
node's annotations of ovn_host_subnet -> k8s.v1.ovn.org/host-subnet
pod's annotation of ovn -> k8s.v1.ovn.org/pod-network(?)

[2019-10-02 15:41] danwinship commented on #849
The "v1" seems contrary to upstream style; kubernetes tends to label "alpha" and "beta" annotations as such, but stable annotations don't have any version indication.

And the "k8s" part seems unnecessary too. (What would be the difference between "ovn.org/host-subnet" and "k8s.ovn.org/host-subnet"? Nothing else at ovn.org is likely to be apply annotations to kubernetes objects...)

But definitely

[2019-10-02 16:52] girishmg commented on #849
@danwinship I agree with the version part, we can drop it.

W.r.t to "k8s" part the initial thinking was to capture the project under which "ovn" is being used since "ovn.org" seemed to be very broad. How about cni.ovn.org?

[2019-10-02 18:43] danwinship commented on #849
If you want to indicate sub-project, I like "k8s" better than "cni".

Although we could also just go with "ovn-kubernetes". It's not like people will have to type the whole thing over and over anyway; we'll define `const HostSubnetAnnotation = "ovn-kubernetes.ovn.org/host-subnet"` and then people will just use the constant.

[2019-10-02 18:59] girishmg commented on #849
Well `ovn` in `ovn-kubernetes` is already implied by `ovn.org`. So, can we settle down for either `kubernetes.ovn.org` or `k8s.ovn.org`.

@dcbw any thoughs?

[2019-10-02 19:24] girishmg commented on #849
FWIW, Calico uses `cni.projectcalico.org`: https://docs.projectcalico.org/v3.7/reference/cni-plugin/configuration

[2019-10-03 16:15] girishmg commented on #758
More information on this issue:

Issue 1: Hairpin traffic on the management port
==============================================

Logical topology

	                +--------------------+
           mport    | ovn_cluster_router |
              |     +--+-----------------+
              |        |
             ++--------+-+
             |  node1    |
             +-----------+

Physical topology

[2019-10-03 16:19] shettyg commented on #758
I think it makes sense to introduce the second gateway router for this purpose. Do it the right way.

[2019-10-03 16:22] girishmg commented on #817
@squeed I tried doing that but it didn't work for me. Please see https://github.com/ovn-org/ovn-kubernetes/issues/758#issuecomment-538015743 for more information.

For the issue captured here, the traffic starts from the pod, gets hair pinned by the OVN pipeline, and  is forwarded back into the pod. So, the only place where these packets are visible in the node is on the port on br-int that connec

[2019-10-03 19:36] girishmg opened #850 "remove support for spare interface gateway mode"
The spare interface gateway mode allows one to take a spare interface on the node and attach the interface directly to `br-int`. When you do that, all the North-South traffic from the Pod will exit out through the spare interface.

However, the issue with this mode is that the NodePort services aren't supported (and therefore LoadBalancer type services). The following diagram captures the issue we

[2019-10-05 19:41] danwinship commented on #850
"Yay!"

[2019-10-08 16:14] girishmg commented on #850
Fixed by https://github.com/ovn-org/ovn-kubernetes/pull/852

[2019-10-08 16:14] #850 closed

[2019-10-09 06:32] TrevorTaoARM opened #855 "The ovs-daemons of Pod onvkube-node shows errors when deployed in Kubernetes"
I deployed the ovn-kubernetes as the Readme indicated, but the container ovs-daemons of pod ovnkube-node shows errors as followes:

`2019-10-09T06:20:57.584Z|00107|dpif(handler12)|WARN|Dropped 5 log messages in last 3 seconds (most recently, 3 seconds ago) due to excessive rate
2019-10-09T06:20:57.584Z|00206|dpif(handler14)|WARN|system@ovs-system: failed to put[create] (Invalid argument) ufid:d586

[2019-10-09 14:48] dcbw commented on #743
@danwinship would it work to figure out if this is the first handler being attached, and then suppress this behavior, but only for the first one?

[2019-10-09 19:29] girishmg commented on #855
@TrevorTaoARM Are you saying that ovnkube-master, ovnkube-db, and ovnkube-node Pods came up fine, however you are having issues creating a Nginx Pod?

BTW, If you were using image `docker.io/ovnkube/ovn-daemonset-u:latest`, then it was little bit behind. I have pushed the image that corresponds to the HEAD, so can you re-create your setup and check again?

[2019-10-09 20:02] dcbw commented on #849
@girishmg @danwinship `k8s.ovn.org` is good with me

[2019-10-09 20:07] danwinship commented on #819
We've determined that this requires some work in OVN... looking into it

[2019-10-10 08:42] TrevorTaoARM commented on #855
@girishmg I used the latest version( commit id: 7a5263b9dc78974e520f5685b05b6712dfb753bf) and built the image from Dockerfile(centos) by myself.
Actually I can deploy the pods of Nginx now, and I can ping through the node to the pods. But the Nginx pods can't access the outside world from the node gateway.

I checked the logs of each container in the 3 pods(ovnkube-db, ovnkube-master, ovnkube-node

[2019-10-11 17:28] dcbw commented on #743
For the record, here's what the SharedInformer does:

[code]

So there's the possibility of a race if a handler gets attached to the Factory too quickly after the factory object is created, where it might catch some/all of the synthetic adds depending on when the SharedInformer's internal listener actually starts (which is dependent on goroutines).

[2019-10-12 14:14] TrevorTaoARM opened #858 "Ovn-controller can't start on the k8s minion(node)"
Did anybody met the case that ovn-controller can't start well on the k8s minion node which stops at the "wait_for_event process_ready" , the output of the ovn-controller container of the pod ovnkube-node shows the following logs:

`linux@nfv-demo01:~$ docker logs af94fbed45c3
================== ovnkube.sh --- version: 3 ================
 ==================== command: ovn-node
 ===================

[2019-10-14 13:55] #743 closed

[2019-10-15 22:48] girishmg commented on #855
@TrevorTaoARM What version of OVS/OVN are you using? You need at least OVS 2.11+.

From the log files, it appears that you are facing an issue fixed by this commit

[code]

This commit is in OVS/OVN 2.11+.

In the log file, I see:
[code]
It appears as if the code is deleting 3 logical ports -- `name`, `:`, and `kube-system_coredns-54ff9cd656-njcpf`. We ended up in this situation because the output

[2019-10-16 09:11] pperiyasamy opened #863 "Not able to get ovnkube-node running"
I'm trying to install kubernetes single node cluster with ovn-kubernetes as default networking backend for the PODs. The K8S v1.16.1 and OVS (and OVN) 2.12.1 are installed. When I try to configure ovnkube daemonset on the node (with `kubectl create -f ovnkube-node.yaml`), the following error is seen in ovnkube.log and not able to get network plumping working for user pods.

ovnkube.log:

[code]

T

[2019-10-16 10:22] pperiyasamy commented on #863
To workaround the below error,
[code]
I've manually created the port (interface k8s-dl380-006-e) with the command `ovs-vsctl --timeout=15 -- --may-exist add-port br-int k8s-dl380-006-e -- set interface k8s-dl380-006-e type=internal mtu_request=1400 external-ids:iface-id=k8s-dl380-006-eccd-sut` and then ovnkube-node pod came up properly and ovnkube.log is clean now. is it a timing issue with ovn go

[2019-10-16 12:01] danwinship commented on #855
Wait, really? So can we remove the old pre-portgroup NetworkPolicy code now?

[2019-10-16 16:37] girishmg commented on #855
@danwinship if one wants to use ovn-nbctl in the daemon mode (which is the default), then the minimum required OVS version is OVS 2.11+ since it has a fix that correctly prints the output of ovn-nbctl commands.

If someone chooses to not use ovn-nbctl daemon (by not including it in ovnkube-master POD yaml), then they can run earlier versions of OVS.

[2019-10-16 16:38] girishmg commented on #858
@TrevorTaoARM this could be related to this issue https://github.com/ovn-org/ovn-kubernetes/issues/855

[2019-10-16 17:16] girishmg commented on #863
Never seen this one before. Can you consistently reproduce this? Can you try this on 2.12.0? I have both 2.11.X and 2.12.0 based cluster and have never hit this problem.

[2019-10-16 17:18] girishmg commented on #863
You say `network plumbing` not happening, however I see that the Pod's eth0 interface has `192.168.0.5` IP address. So, the interface is indeed plumbed. Did you mean the pod as network connectivity to outside?

[2019-10-17 08:34] TrevorTaoARM commented on #855
@girishmg @danwinship
I upgraded the used ovs from 2.10 to 2.11, and it works.
So I pushed 2 PRs:
https://github.com/ovn-org/ovn-kubernetes/pull/864
https://github.com/ovn-org/ovn-kubernetes/pull/865

[2019-10-17 09:26] pperiyasamy commented on #863
@girishmg Thanks for the response. Yes, I don't see the corresponding port created in ovs and no flows/groups are setup in the ovs switch.
Let me try it with OVS 2.12.0 and come back you.

[2019-10-17 20:35] girishmg commented on #863
@pperiyasamy you are mixing both `daemonset` and standalone daemons. You need to use one or the other.

In the steps you have captured above, skip the following steps -- 2, 4, 5, and 7.

Make sure that you don't have OVS or OVN running on the host.
[code]

[2019-10-18 14:44] pperiyasamy commented on #863
@girishmg Thanks, Now it works and pod to pod traffic is working.
But when a service is created for the pod, then cluster ip is set as 10.111.78.16 whereas svc_cidr is set as 172.16.1.0/24 in ovn-config config map.
Moreover the assigned service ip (10.111.78.16) is not reachable from other PODs.

[code]

[code]

[2019-10-18 18:26] girishmg commented on #863
@pperiyasamy you have started  your cluster with the following invocation
`kubeadm init --v=5 --ignore-preflight-errors=Swap --apiserver-advertise-address=10.85.4.61`. So, the cluster service IP range defaults to `10.96.0.0/12`. You need to use the same value in OVN's ConfigMap.

Do this in your step 3
`./daemonset.sh --image=docker.io/ovnkube/ovn-daemonset-u:latest     --net-cidr=192.168.0.0/16 -

[2019-10-22 12:08] pperiyasamy commented on #863
Thanks @girishmg , now k8 cluster is configured with `10.96.0.0/12` as service cidr, but still traffic to service ip failing from (client) pod whereas the traffic works fine over pod ip address. Here is the [flow and group dumps](https://paste.ubuntu.com/p/QS7ZVP8j75/) from ovs-node.

[code]
Can you also let me know what is the configuration for gateway mode and its options to have external networ

[2019-10-23 16:07] danwinship commented on #607
this got fixed

[2019-10-24 22:36] girishmg opened #883 "shared gateway mode with several interface options"
In shared gateway mode, we share one of the interfaces on the node for L3 gateway functionality (North-South) traffic. The IP address of this interface on the host will be used to SNAT the pod traffic reaching out to external world. Any NodePort traffic hitting the node at the shared interface IP will be steered into OVN topology through OpenFlow rules.

The shared interface itself can be:

1. a p

[2019-10-25 13:54] lanoxx commented on #683
@aserdean

I have setup a new windows node today, using the hyper-v openvswitch driver at `https://cloudbase.it/downloads/openvswitch-hyperv-installer-beta-2.12.msi` and I am still seeing this issue:

    2019-10-25T13:45:53.987Z|00082|dpif_netlink|ERR|Could not create wmi internal port with name:k8s-ip-172-35-3
    2019-10-25T13:45:53.987Z|00083|dpif|WARN|system@ovs-system: failed to add k8s-ip-1

[2019-10-28 21:10] #855 closed

[2019-10-30 22:13] #883 closed

[2019-11-13 21:03] dcbw opened #928 "Empty Services should be rejected by the node switch load balancer"
Kubernetes expects services without endpoints to reject connections rather than blackhole them. ovn-kubernetes currently removes service VIPs from the node switch service load balancer when they have no endpoints, which blackholes the connections.

Instead, a node switch ACL should be created to `reject` traffic to that Service VIP which will either RST for TCP or ICMP unreach for UDP.

[2019-12-02 17:10] dcbw opened #946 "Localnet gateway br-nexthop needs to be resynced on node reboot"
The MAC address of br-nexthop always changed after node reboot. However, when pod try to communicate with the node IP, the GR router of OVN keeps using the old MAC address of br-nexthop as the dst_mac. And it doesn’t work.  The only way I can make it work is to ping 169.254.33.2 on the node.  I guess it updates the ARP table of GR router.

[2019-12-03 01:57] girishmg commented on #946
@dcbw the OVN SB DB has MAC_binding table that captures all the MAC addresses learnt. Looks like it had the old binding entry and that was used as destination MAC.

I am not sure why node reboot is causing the br-nexthop's MAC address to change. That shouldn't happen since that OVS port is persisted and upon reboot it should get back its persisted value.

[2019-12-03 03:56] pliurh commented on #946
Actually, this issue happened in my environment.

@girishmg You're right. The sbdb MAC_binding table is not up-to-date. The new mac of br-nexthop is `d2:d6:a8:b2:31:f6`.

[code]

In the `ovs-vswitchd.log` I can see the br-nexthop was recreated after reboot.
https://pastebin.com/vik7ycRy
And here is the `ovsdb-server.log`
https://pastebin.com/L7tvreaL

[2019-12-03 03:57] girishmg commented on #946
Ok the internal ports are getting re-created on reboot and therefore the MAC address changes.

BTW, the node management port also has the same issue, however we annotate the node with the new MAC address and it gets picked up by the master and the corresponding logical switch port gets updated with the new MAC.

For the br-nexthop case, perhaps we should just delete the corresponding MAC binding f

[2019-12-03 15:17] shettyg commented on #946
When we create the br-nexthop, we can take the created mac and then set it as static in OVSDB. That will make sure that it will remain the same across reboots (unless we are deleting it or the OVS database is destroyed when container runnign OVS is destroyed).

[2019-12-03 19:17] girishmg commented on #946
@shettyg by saving the `mac` address in the interface's record works. I am going to submit a PR for this. If the container running OVS is destroyed, the database still exists on the host, so we are good there.

[2019-12-03 20:37] dcbw commented on #946
@girishmg the issue is that after node reboot, we'll create a completely new br-nexthop and br-local and they'll have different MACs. But the node *should* post the new MACs to the annotations, and that *should* be picked up by the master and stuffed into the NBDB, and then northd will sync to the SBDB, and so on. Right?

[2019-12-03 21:28] girishmg commented on #946
@dcbw `br-nexhop` is not part of the OVN logical topology. It is an interface on the host. You can think of it as a physical interface. This interface is added back upon rebooted. Since the `mac` information was not persisted when it was created we will get random MAC address on reboot.

PR #949 fixes this issue.

[2019-12-03 21:34] girishmg commented on #946
@dcbw for `br-local` we have already taken care of persisting the MAC by setting `other_config:hwaddr` in the bridge table

[2019-12-19 19:13] trozet opened #977 "Add IPv6 support to ovnkube.sh"
Several places in the script assume IPv4. Need to update with the ability to use IPv6 provided some flag/mechansim.

[2019-12-19 22:49] #946 closed

[2019-12-23 16:04] russellb opened #988 "Prow for ovn-kubernetes"
I've noticed reviewers using prow commands out of convention on ovn-kube reviews, though we don't have prow running (yet?).  I'm running a prow server for https://metal3.io.  I'd be happy to turn it on for the ovn-kube repo if you'd like.  The only weird thing is you'd see @metal3-io-bot on ovn-kube reviews.

Thoughts?

[2019-12-23 16:05] russellb commented on #988
@dcbw @danwinship @girishmg

[2019-12-27 12:09] girishmg opened #990 "OVN Kubernetes logical topology doesn't scale with larger number of k8s nodes"
In the logical topology we have, the `join` logical switch connects all the L3 gateways together on a single L2 broadcast domain. So, with 622 k8s nodes the join logical switch connects 622 L3 gateways and 1 distributed gateway router  (ovn_cluster_router). This ends up in creation of hundreds of thousands of logical flow entries in OVN SB’s lr_in_arp_resolve table across all of the 623 gateway ro

[2020-01-03 02:07] dcbw commented on #990
@girishmg if I understand the issue correctly, this makes sense to me.

[2020-01-03 04:09] shettyg commented on #990
I am not sure whether adding 600 additional logical switches to your setup instead of 1 will lead other bottlenecks. So you will have to do a rigorous performance analysis.

[2020-01-03 04:11] shettyg commented on #990
Not clear to me why though. What IP addresses?

[2020-01-03 05:07] girishmg commented on #990
@shettyg see the partial output from the 600+ node cluster

[code]
per ovn-northd manpage

[code]
Per the paragraph above, every L3 gateway router will have 621 such entries since each of the other 621 gateways can be IPv4 destination from the L3 gateway router as they are on the same broadcast domain.

[2020-01-07 15:03] girishmg commented on #990
@dcbw @shettyg  I have a working prototype that we are testing internally and it is looking great. The number of flows are now in 5K range (from 3M). The CPU and memory utilization are normal.

[2020-01-13 19:37] danwinship commented on #988
We want better automated CI but I'm not sure we especially care about the rest of prow all that much. And I'm assuming your offer doesn't come with AWS billing attached so we'd still have to figure that out. And we also need definitions of CI jobs since we want to test against plain k8s not OpenShift.

[2020-01-13 19:38] russellb commented on #988
Yeah, it was mostly just to actually enable the PR automation that I saw people using already.

[2020-01-13 22:11] dcbw commented on #988
@russellb I would love to have a Github check that just runs a basic 1 master 2 node Kube cluster with ovnkube and tries some basic connectivity. I was thinking about using KIND (Kubernetes in Docker) since that would potentially work with Travis, but I have no time to work on it. So if you have something that could run, that's better than nothing.

I (eg RH) can pay for AWS if we need to.

[2020-01-14 15:40] russellb commented on #988
The metal3-io cluster is probably not a good fit to rely on for running real CI jobs.  If you can can budget for it, how about we spin up a cluster for ovn-kube on AWS?  I can help install and configure prow on it since I've done it twice on the metal3-io cluster.  Note that you also need a GCP account for object storage.  That's where job logs will go.

[2020-01-14 15:47] alexanderConstantinescu opened #1006 "[perf] Switch to klog for logging"
As a part of the on-going work on performance improvements we should think about switching the logging framework from `logrus` to `klog`. `logrus` has quite significant performance issues, as detailed by [1].

The following are three screenshots from a run I did locally on my computer using that repo in [1] and extending it to include `klog`. It's not possible to compare `klog` to the others using

[2020-01-14 15:54] girishmg commented on #988
@russellb having a separate prow instance for ovn-k8s will be ideal. Not only the bot names will be confusing but also if something needs to be fixed in the Prow itself, then you will not have to share the credentials with the ovn-kube contributors and such.

[2020-01-14 16:35] russellb commented on #988
Feel free to close this issue, or leave it open to track getting a prow cluster set up for ovn-kube (or all of OVN?)

[2020-01-15 14:14] trozet opened #1008 "Enable E2E CI in ovn-kubernetes"
Integrate travis job to deploy and e2e test PRs.

[2020-01-15 14:15] trozet commented on #1008
please assign to me, I'm working on it now

[2020-01-15 20:05] lanoxx opened #1010 "could not add network device ovn-d3673d-0 to ofproto (File exists)"
I have successfully setup a windows node (IP 10.0.0.9) in my cluster and can deploy pods to the node. The overlay network is up and running. On the node itself I can ping the cluster IPs of the different pods and query their HTTP endpoints. However, from other nodes in the cluster I cannot access the overlay network on that node.

Neither the node management interface, nor any of the pod cluster I

[2020-01-16 15:47] dceara commented on #817
I've been looking at this issue lately and there are a few problems:
1. with the current OVN code when the packet is hairpinned we end up trying to commit the same conntrack entry twice in the pod's logical port conntrack zone (`src=pod-ip, dst=vip; reply-src=pod-ip, reply-dst=pod-ip`). The kernel refuses to do that and increments the `insert_failed` conntrack counter; the packet is then dropped.

[2020-01-23 09:21] #1008 closed

[2020-01-23 10:59] #776 closed

[2020-01-23 21:11] trozet commented on #928
@dcbw I started looking at this today, and have some questions regarding this and #927. It seems to me like the load-balancer should be kept regardless of if idling is happening or not and regardless of if OVNEmptyLbEvents is set to true. For example, I can create a k8s service, with no endpoints. That service/load-balancer should exist, whether or not I'm using idling. By the same token, I can ad

[2020-01-23 22:45] trozet commented on #928
After talking to @putnopvut I think we have a common thought that the behavior should be:
1. Any k8s service with no endpoints should always keep the OVN load balancer w/ VIP.
2. A reject ACL should be applied to any lb/service that has no endpoints, unless that svc is being idled (via idle label or using the OVNEmptyLbEvents option).

I think this will make the code cleaner and the behavior more

[2020-01-24 12:09] danwinship commented on #928
That sounds right to me

[2020-01-25 16:44] girishmg opened #1022 "e2e_timestamp seems to be very expensive in large scale cluster"
To check ovn-northd's health we added e2e_timestamp option to NB_Global table and set it with the current time and check for the same option to be present from SB_Global's option column. We do this every 30 seconds. All of the ovn-controller in the cluster have expressed interest in SB_Global table's changes. Whenever e2e_timestamp gets updated, that change is pushed to all of the ovn-controllers.

[2020-02-03 15:17] trozet commented on #988
We now have KIND OVN deployments for CI  with E2E testing, using travis/GitHub Actions. Do we still need this?

[2020-02-03 15:19] #988 closed

[2020-02-03 22:02] trozet opened #1042 "Migrate away from using subprocess bash cli to interact with OVN/OVS"
Rather than issuing shell commands to interact with OVN/OVS and parsing stdout and stderr, use either a native IDL (OVS has support for python and C bindings) or come up with our own to directly talk via RPC over unix socket. Examples:

https://github.com/socketplane/libovsdb
https://github.com/digitalocean/go-openvswitch/tree/master/ovsdb

This may require work in the upstream OVN/OVS projects in

[2020-02-04 13:51] danwinship commented on #1042
In openshift-sdn we wrote a wrapper API that could theoretically have been replaced with direct db access underneath at some point in the future (but never was): https://github.com/openshift/sdn/blob/master/pkg/network/node/ovs/ovs.go.

Part of the reason we never bothered to actually migrate to a real library is that AFAIK no one ever wrote a library to replace `ovs-ofctl`, and most of openshift-

[2020-02-05 05:37] #990 closed

[2020-02-12 18:49] trozet commented on #1042
There's also this:
https://github.com/eBay/go-ovn

[2020-02-12 20:27] girishmg commented on #849
this is fixed through c5d605df07e5851d7abef4362d486a1262e071c1

[2020-02-12 20:27] #849 closed

[2020-02-12 20:29] girishmg commented on #1022
@numansiddique @putnopvut @dceara is there an another inexpensive way to tell ovn-northd is making a progress without pushing the updates over to all of the ovn-controller chassis node?

[2020-02-12 21:07] girishmg commented on #1010
@lanoxx this happens whenever the node's system-id has changed  and the geneve tunnel port is being created again for the same node with a different uuid.  Ideally, before changing the system-id or before re-imaging a node, one should delete the chassis from the OVN SB (ovn-sbctl del-chassis) and then add it back with the new system-id.

[2020-02-12 21:07] #1010 closed

[2020-02-12 21:40] girishmg commented on #817
@dceara this fix still doesn't support the Hairpin issue on the management port that we discussed during the OVS/OVN Conference in the November, right? https://github.com/ovn-org/ovn-kubernetes/issues/758

[2020-02-13 06:50] TrevorTaoARM opened #1055 "Does OVN-Kubernetes support DPDK interfaces?"
We know that OVS has DPDK interface support. Does the OVN-K8s support DPDK?
Can the "Shared" mode of OVN-k8s support the DPDK?
Since I know the "Local" mode just uses Linux kernel Iptable NAT to do the routing.

[2020-02-13 08:46] dceara commented on #1022
@girishmg If you're interested to see if ovn-northd ran a full loop iteration you could use `ovn-appctl --timeout <timeout-in-seconds> -t ovn-northd status`. But this doesn't give any guarantees about whether ovn-northd updated the SB DB or not. It just tells you that ovn-northd is not blocked and is processing updates to NB DB and unixctl commands.

The "status" command is only available in OVN m

[2020-02-13 09:28] dceara commented on #817
@girishmg No, we still don't have an OVN-only solution for that.

[2020-02-13 12:50] numansiddique commented on #1022
Agree with @dceara . But if you want to know if ovn-northd is really writing to the sb db, then we don't have any better way now.

[2020-02-13 14:31] TrevorTaoARM opened #1056 "OVN-Kubernetes Arm64 Platform Support"
Since various vendors are producing and providing servers and services on arm64 platform, such as Amazon, Marvell, Ampere, Huawei, and ovn-k8s is an important container networking solution based on OVS, should we provide arm64 support in OVN-k8s?
The possible support includes:
1. Providingbuilding Dockerfiles(maybe ok now), offical docker images for arm64 platform;
2. CI on the arm64 server platfo

[2020-02-14 05:08] girishmg commented on #1022
@dceara @numansiddique thanks for the info. Looks like `status` might be promising. Will take a look.

Another option would be to create a logical_switch in the NB and check for it in the dataapth_binding table in SB? I don't see ovn-controller expressing interest in datapath_binding table perhaps that will be helpful.

[2020-02-14 08:11] dceara commented on #1022
@girishmg I'm not sure that would be OK. ovn-controller needs to receive all updates to datapath_binding in order to determine if a datapath is "local" (i.e., has ports bound to the local chassis or is connected to a local datapath). Even ovn-controller would decide that the datapath is not local it will still have to be notified that the datapath binding was created.

[2020-02-14 08:50] lanoxx commented on #1010
@girishmg Thanks for the update. I think that was it.

[2020-02-16 09:08] moshe010 opened #1066 "ovs offload: LinkSetVfTxRate is deprecated api"
while examine the code for the I saw that the rate limit configured via netlink [1].
This API is deprecated and we should use ingress_policing_rate=1000 so as done in [2].
I know older kernels support rate limit via net link so we may need to continue if we get "Operation Not supported" so we will get the configuration from the ovs.

[1] - https://github.com/ovn-org/ovn-kubernetes/blob/master/go-c

[2020-02-19 06:42] girishmg commented on #1066
@moshe010 if we could handle both old and newer kernel, then it would be great!

[2020-02-19 20:52] #718 closed

[2020-02-19 21:17] trozet opened #1076 "NetworkPolicy allows only ipv4 from pod/namespace selectors"
With the changes from
https://github.com/ovn-org/ovn/commit/63640c0d119951816663d08fd75eebf2d8963372

ARP no longer works for network policies which match on a selector, since the ACL created for them only matches on ip4 and does not include arp. In OVN, the arp responder will handle the response, and then it will get dropped in the egress pipeline, even for a network policy that allows all ingres

[2020-02-19 21:17] trozet commented on #1076
@dcbw @girishmg please assign to me.

@putnopvut FYI

[2020-02-20 05:30] girishmg opened #1080 "Change the log level of ovnkube daemons at runtime without restarting the daemons"
To implement this, I was thinking of writing an HTTPhandler that listens on '/config' path (or some such) and responds to the PUT requests that in its body sends {"level": "5"} (or some such). The handler parses the body and changes the loglevel accordingly. This can be later extended to change any other runtime configuration.

This is similar to `{ovs|ovn}-appctl -t <target>` that works on a sing

[2020-02-21 16:54] #1076 closed

[2020-02-23 15:26] girishmg commented on #1056
@TrevorTaoARM sure thing. Please send the PRs our way, and we will review and merge them. Thanks.

[2020-02-24 13:38] TrevorTaoARM commented on #1056
@girishmg Thanks for your care. I would like to provide some help/work on the arm64 support issuees.
Btw, I think there are 2 things here may need your help:
1. How can we get or upload the arm64 based images to ovn-k8s official repos and may provide multi-arch support to the images;
2. How about the current CI work of ovn-k8s? How can we add those of arm64 as that of x86?

[2020-02-24 15:43] trozet commented on #1055
No, this would require configuring netdev mode for the switches and setting up:
http://docs.openvswitch.org/en/latest/howto/userspace-tunneling/

There is some work underway to add regular netdev support for non-dpdk deployments. Perhaps you could piggy back off of that to add shared gateway dpdk support?

[2020-02-24 15:44] trozet commented on #1055
Also, ovn-kubernetes would not handle dpdk-binding the ports, I would expect something else to do that, and specify the dpdk interface to ovn-k8s. What do you think?

[2020-02-25 16:14] #1066 closed

[2020-02-27 09:21] #1006 closed

[2020-03-03 18:54] abhat opened #1105 "ovnkube: sync: When a node is deleted from the cluster, the chassis record for it remains stale"
When a node is deprovisioned/deleted from the cluster, the southbound db's chassis record for this node doesn't get deleted. This results in stale geneve tunnels and vswitchd flows on the other nodes in the cluster. At scale, this can mean thousands of tunnels and unused stale flows.

[2020-03-03 18:55] abhat commented on #1105
/assign

[2020-03-03 18:59] russellb commented on #1105
Just some more detail ... ovn-controller will delete its associated `Chassis` record if it shuts down gracefully.  I'm not sure that's ever the case, though.  The fallback is that something else needs to do the cleanup.  ovn-kubernetes is already watching Nodes, so it can add this as another thing it does when syncing Nodes or when it sees a Node get deleted.

This will require knowing which `Chas

[2020-03-04 06:32] girishmg commented on #1105
@russellb @abhat @dcbw  we faced this issue, and we tried to fix this in several ways (that I have captured below) and none of them worked. We resorted to using a script that either the deployer or a K8s CNI operator runs manually after deleting the node from the cluster. Normally, they will need to
1. cordon the node
2. drain the node
3. delete the node from the k8s cluster
4. run `kubeadm reset`

[2020-03-04 14:06] danwinship commented on #1105
Can't you just have the "pre stop" hook actually stop ovn-controller?

[2020-03-04 15:40] girishmg commented on #1105
@danwinship the issue with this is that the preStop hook container is a synchronous call. When the ovn-controller is killed, ovnkube.sh sees that the PID is gone and it restarts the ovn-controller again. Off course, we could teach ovnkube.sh not to do that for certain cases by touching a file somewhere and checking for the existence of that file.

AFAIR, the bigger issue is that, preStop hook will

[2020-03-05 02:27] trozet opened #1109 "Deleting endpoints for a nodePort service still allows access to the endpoint via service"
While testing #1096 I noticed this bug. Since it is not part of my changes for #1096 I believe it warrants  its own issue. The issue is that when a nodePort service has an endpoint, the load balancer is created in OVN the load balancer is created from the node IP -> pod. I believe this may be incorrect because I think the node IP should route to the cluster IP, and then to the pod IP (from what I

[2020-03-05 02:29] trozet commented on #1109
@dcbw @girishmg please assign to me. Also would appreciate your opinion on whether or not we should change nodePort behavior to go node IP->cluster IP->Pod IP, or if we should leave it as is. From the k8s page:
NodePort: Exposes the Service on each Node’s IP at a static port (the NodePort). **A ClusterIP Service, to which the NodePort Service routes**, is automatically created. You’ll be able to c

[2020-03-05 18:43] abhat commented on #1105
Why would the ovn-controller be still running on the node? Also, the syncNodes will not have this node in the list only when the API server deletes the node object. Will that not happen after the node is shut down?

[2020-03-05 19:25] vishnoianil opened #1114 "OVN-kubernetes deploying using fedora image is failing"
All ovn-kubernetes pods that uses readiness/liveness probes are throwing the following warnings

`Warning  Unhealthy  9m3s (x10 over 18m)  kubelet, kube-master3  Readiness probe errored: rpc error: code = Unknown desc = command error: exec failed: container_linux.go:345: starting container process caused "exec: \"/usr/bin/ovn-kube-util\": stat /usr/bin/ovn-kube-util: no such file or directory"
, s

[2020-03-05 21:33] trozet opened #1116 "Add support for EndpointSlices"
Need to add support for:
https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/

[2020-03-05 21:33] trozet commented on #1116
@girishmg @dcbw please assign to me

[2020-03-06 07:42] vishnoianil opened #1117 "ovn-kubernetes deployment failing because of readiness/liveness check"
I pulled the latest ovn-kubernetes code (commit# fad788490e3f479a17365acf993d03abf9e7ec40) and built the Fedora image with ovn 2.12.0-1.

[code]
DB and nodes pods doesn't come up successfully

[code]
Looking at the ovnkube-db-1 describe it shows lot of warning events because of parsing failure by readiness check.

[code]

Similarly when i dump the describe info for ovnkube-node-*, it's readiness c

[2020-03-06 08:02] vishnoianil commented on #1117
@girishmg @trozet any pointers ?

[2020-03-06 14:22] trozet commented on #1117
I just deployed using KIND with latest master. It looks fine to me:
  sb-ovsdb:
    Container ID:  containerd://bc7700da19f92d0b50e90423be8e7aa503622e3b1ab30e37dff3f6b28e545e7f
    Image:         docker.io/library/ovn-daemonset-f:dev
    Image ID:      sha256:9a12e14495843aa9e29340427a5937da920679d0ed36f443db10a74edecd6c44
    Port:          <none>
    Host Port:     <none>
    Command:
      /roo

[2020-03-06 15:30] abhat commented on #1105
I guess the ordering is not guaranteed is what you are saying.

Initial stab at fixing the issue: https://github.com/ovn-org/ovn-kubernetes/pull/1113

[2020-03-06 15:38] girishmg commented on #1117
@vishnoianil The ovnkube-node readiness failure is correct since ovnkube-node is stuck waiting on the onvkube-db Service's endpoint to be published. The ovnkube-db-2, the last of the raft node, is responsible for publishing or creating that endpoint.

The ovnkube-db readiness failures is a different issue but that is not the root cause of the problem you are seeing.

The next step is to see why ov

[2020-03-06 18:53] vishnoianil commented on #1117
@girishmg here is the info you asked

[code]

[2020-03-06 18:54] vishnoianil commented on #1117
Okay, ovnkube-node error is just popping up because db cluster is not up, thanks for the pointer tim. Yes, i am looking at the db errors now.

[2020-03-06 19:00] girishmg commented on #1117
@vishnoianil I think you are hitting https://github.com/ovn-org/ovn-kubernetes/pull/1119

[2020-03-06 20:18] dcbw commented on #1117
#1119 is merged, can you retest and close this issue if it is now fixed?

[2020-03-06 23:37] vishnoianil commented on #1117
@dcbw yes, will do.

[2020-03-08 14:02] BntumBle commented on #839
Hello, I have encountered the same problem. How did you solve it?

[2020-03-09 17:43] trozet opened #1120 "support sctp in service and network policy"
We currently only support TCP/UDP, need to add sctp.

[2020-03-09 17:43] trozet commented on #1120
@dcbw @girishmg please assign to me

[2020-03-09 20:36] trozet commented on #1120
Support for service needs support in OVN. @putnopvut is working on it.

[2020-03-10 14:01] trozet opened #1124 "ovnkube-master crashing with endpoint nil map"
I0310 13:57:33.978367      48 factory.go:559] added *v1.Service event handler 3
I0310 13:57:33.978403      48 endpoints.go:38] Tcp table: map[https:{[172.17.0.2] 6443}]
Udp table: map[]
I0310 13:57:33.978434      48 loadbalancer.go:97] Creating lb with 2f3f78fd-2ab3-43aa-b3a3-4a4c0da11763, 10.96.0.1, 443, [[172.17.0.2]], 6443
I0310 13:57:33.978497      48 ovs.go:308] using ovn-nbctl daemon mode at

[2020-03-10 14:05] trozet commented on #1124
I think this is a result of using a protocol other than tcp/udp. Was testing service with sctp:
`

				var portMap map[string]lbEndpoints
				if port.Protocol == kapi.ProtocolUDP {
					portMap = udpPortMap
				} else if port.Protocol == kapi.ProtocolTCP {
					portMap = tcpPortMap
				}
portMap[port.Name] = lbEndpoints{IPs: ips, Port: port.Port}
`

I'll fix this with the sctp service fix for #112

[2020-03-10 14:59] vishnoianil commented on #1117
Further digging deeper into the issue, seems like #1118  and #1119 are the side effect of the main issue. The main issue was that the DNS for the hostname was not resolving to the correct ip address. ovn-kubernetes uses `getent ahostsv4` to fetch the ip address related to the hostname, and it was resolving to the wrong ip address, and when ovn-kubernetes DB's tries to bind to that ip address, it f

[2020-03-10 14:59] vishnoianil commented on #1117
#1118 and #1119 fixes the related other issues, so we can close this bug now.

[2020-03-10 14:59] #1117 closed

[2020-03-11 18:52] moshe010 commented on #839
@BntumBle, The ovs needs connection tracking offload to work.
in ovs it already merged [1] in ovs 2.13.
The kernel is still work in progress, so once all patches we land in the kernel offload will work

[1] - https://github.com/openvswitch/ovs/commit/576126a931cdf96d43443916d922462c7a16e350

[2020-03-13 14:30] danwinship opened #1132 "validate cluster/service CIDRs against reserved IPs"
ovn-kubernetes internally uses `100.64.0.0/16` (for IPv4) and `fd98::/64` (for IPv6) for the join network. It should require that the cluster/service CIDRs don't overlap these, since chaos would result if they did.

[2020-03-13 14:56] girishmg commented on #1132
@danwinship one of our new hires is looking at this. So not to duplicate are you working on a PR for this? If so, I will ask him not to work on it. Thanks.

[2020-03-13 15:00] girishmg opened #1133 "convert all the ip-{link|addr|route|neigh} calls to netlink"
There are several instances of these calls in the code that should be converted to netlink. We are working on this, and we will submit a PR very soon.

[2020-03-13 20:53] danwinship opened #1135 "Remove support for old (pre-port group) OVN"
We keep starting to have this conversation and then forgetting the details...

We should drop support for versions of OVN that don't support port groups, and then remove `pkg/ovn/policy_old.go`.

IIRC, the best answer anyone could come up with for why we still support old OVN is that there weren't new enough OVN packages on Windows. Is this still true? If so, do we care?

@dcbw @girishmg

[2020-03-13 20:59] danwinship commented on #1135
(Thinking about this in particular because of dual-stack and noticing that we'd end up having to double the total "volume" of address sets in order to match both IPv4 and IPv6 packets... except that it seems like instead we could just create a port group for each podSelector rather than an address set, and just not worry about IP addresses at all.)

[2020-03-14 12:55] danwinship opened #1140 "pkg/ovn/ha_master.go is not IPv6-friendly"
`PromoteOVNDbs()` needs to put brackets around IPv6 addresses it passes to `ovn-appctl`, and `ConfigureAsStandby()` needs to correctly parse the results it receives from it (handling brackets and not just blindly splitting on `":"`)

cc @dcbw @numansiddique

[2020-03-14 12:56] danwinship opened #1141 "shared gateway mode does not support IPv6 / dual-stack"
- [ ] `pkg/node/gateway_shared_intf.go:initSharedGateway()` assumes there is an IPv4 address on gateway
- [ ] `pkg/node/helper_linux.go:getDefaultGatewayInterfaceDetails()` only looks at IPv4 addresses/routing
- [x] ~`pkg/ovn/master.go:addStaticRouteToHost()` appends `"/32"` to an IP address~
- [ ] `pkg/util/nicstobridge.go:NicToBridge()` and `BridgeToNic()` only move IPv4 addresses/routes between

[2020-03-14 14:09] danwinship opened #1142 "dual-stack support"
Tracking for what needs to be done for dual-stack support.
- Configuration (`pkg/config/`):
  - [x] Allow configuring dual-stack service CIDRs (either via `--secondary-service-cidr` like upstream kube, or via `--service-cidrs`) (#1189)
  - [x] Validate that cluster and service CIDR combination is valid. (ie, either both same-single-stack or both dual-stack) (#1189)
  - [x] Revisit `config.IPv6Mode

[2020-03-15 07:51] BntumBle commented on #839
@moshe010 so you mean that the ovs offload has not been successful yet, and some kernel changes are needed?

[2020-03-15 11:23] BntumBle commented on #839
@moshe010  I use the ovs 2.9.5 to offload a simple forward flow , but I failed and the ovs-vswitchd log shows error "failed to offload flow: Invalid argument". Does this need connection tracking offload？

[2020-03-15 11:34] moshe010 commented on #839
@BntumBle, you need ovs 2.13 and from the kernel I don't think all the patches merged.
but just to do tc software (no offload, byt goes via tc) you need kernel 5.5.9 latest upstream

[2020-03-15 11:53] BntumBle commented on #839
@moshe010 but I am following this guide  to configure Open vSwitch Hardware offload
https://help.netronome.com/support/solutions/articles/36000081172-agilio-open-vswitch-tc-user-guide#document-07_Using_openvswitch
it says  kernel 4.15- is ok .

[2020-03-15 12:00] moshe010 commented on #839
it ok for very basic offloads like push/pop vlan or vxlan ecap/decp.
ovn-kubernetes relay on connection tracking feature which offload introduce much later on

[2020-03-15 12:08] BntumBle commented on #839
@moshe010  Thank you for your reply , Then if I just perform a basic offloads(just a one port in and one port out), does it necessarily to use ovs 2.13, ovs 2.9.5 is ok?

[2020-03-15 13:09] moshe010 commented on #839
yes but you need a basic CNI such [1] see [2]

[1] - https://github.com/kubevirt/ovs-cni
[2] - https://github.com/kubevirt/ovs-cni/blob/master/docs/ovs-offload.md

[2020-03-16 14:37] danwinship commented on #1132
(clarified on slack; I'm not working on this, I just saw the problem and didn't want it to get forgotten about)

[2020-03-17 17:43] dcbw commented on #1135
@danwinship @girishmg that's the only reason I recall; that the latest OVS/OVN that Cloudbase provides is 2.10.x: https://cloudbase.it/openvswitch/#download But 2.10 is 18+ months old already, so I guess unless we have significant numbers of users on Windows then for tech debt reasons we should probably remove it.

[2020-03-18 00:17] girishmg commented on #1135
@dcbw I agree

[2020-03-18 22:26] girishmg commented on #1133
Fixed by PR  #1143

[2020-03-18 22:26] #1133 closed

[2020-03-19 11:27] danwinship commented on #1142
(I'm currently working on all the annotation-related stuff.)

[2020-03-20 13:07] #1132 closed

[2020-03-20 14:34] #928 closed

[2020-03-23 15:57] danwinship commented on #1140
According to a thread on the mailing list (https://groups.google.com/forum/#!topic/ovn-kubernetes/d0goUyLB19s) this code is unused and can be removed.

[2020-03-24 20:40] abhat commented on #1105
Fixed by #1113

[2020-03-24 20:40] #1105 closed

[2020-03-25 11:44] dcbw opened #1174 "default-deny egress ACL needs fromLport?"
Adding this issue so I don't forget.

[code]

For the `egressDefaultDeny` shouldn't the direction be fromLport?

@girishmg @dceara @danwinship

[2020-03-25 12:24] dceara commented on #1174
@dcbw Yes. I think you're right. I'll open a PR to fix this soon.

[2020-03-26 18:03] #1135 closed

[2020-03-26 18:04] #1174 closed

[2020-03-27 14:31] danwinship commented on #1142
doing config stuff now too

[2020-03-28 20:24] girishmg opened #1190 "Network Policy feature Regression in the master branch"
@dcbw @danwinship @dceara  looks like we have regressed NetworkPolicy feature in the master.

This is the commit that has regressed the repo.
--------8<---------8<-------
commit 591245645e8313dd458525bb8d2b2c952ff230ce
Author: Dumitru Ceara <dceara@redhat.com>
Date:   Wed Mar 25 14:15:22 2020 +0100

    ovn: Fix default deny ACLs.

    Deny ACLs for PolicyTypeEgress policies should be applied in d

[2020-03-28 20:26] girishmg commented on #1174
@dcbw @dceara sorry I didn't read this issue before. I had submitted a PR 12 months ago to use `from-lport` but Guru pointed me to his PR #370 for reason has to why this can't be done.

[2020-03-29 14:45] danwinship opened #1193 "find a way to merge local and shared gateway modes"
Having two fairly different modes for configuring nodes complicates the code, makes testing more difficult, and results in fixes sometimes being made for one version of the code but not the other (eg, #1141, #1126).

We should make a mode that solves everyone's problems and migrate everyone to that.

I believe the main reason OpenShift isn't using shared gateway mode is because it can result in th

[2020-03-29 18:37] dceara commented on #1190
@girishmg, sorry about this.

Now I see that the "allow" ACLs are added in the egress pipeline of the logical switch (`localPodAddACL()` => `addACLAllow()`) and not in the ingress pipeline. I had missed that and the fact that the ingress ACLs are applied before LB.

Thanks for spotting this quickly,
Dumitru

[2020-03-30 14:09] trozet commented on #1190
How did our E2E tests not fail for this?

[2020-03-30 14:09] trozet commented on #1190
@girishmg can you comment on what test caught this in your suite?

[2020-03-30 16:26] girishmg commented on #1190
@trozet i have a simple two-tiered webapp -- web <--> mysql and the `web` connects to `mysql` using a Cluster IP. I have bunch of ACLs to allow traffic on certain ports. This failed for me.

[2020-03-30 17:51] trozet commented on #1190
@girishmg so just a simple cluster ip service...we should have hit this in our e2e. I'll try to investigate.

[2020-04-01 02:00] dcbw commented on #1193
Yes, that's the reason. In the past we've considered it too risky to touch the node's main network interface partly because we operate in so many scenarios (AWS, GCE, Azure, OpenStack, bare-metal, etc). If one thing goes wrong with moving the main NIC into the OVS bridge the node falls off the cluster.

Second, if the NIC is part of the OVS bridge and anything happens to OVS (stop container to upg

[2020-04-01 02:40] girishmg commented on #1193
@dcbw most of the above are not issues if you are 'not' running ovs-vswitchd and ovsdb-server inside the containers and running only OVN and OVN-K8s components as pods.

When a host is provisioned it comes up with a supported version of OVS installed. We use host-based network configuration software to setup the OVS bridge using the underlying NIC as the uplink port. Thereafter, the OVS bridge is

[2020-04-01 03:13] dcbw opened #1202 "Events are sometimes missed when watch terminates at same time as event"
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_ovn-kubernetes/127/pull-ci-openshift-ovn-kubernetes-release-4.3-e2e-gcp-ovn/9

Around 20:08:xx an alertmanager-main-2 pod is created and ovnkube master sets up the logical port and IP address and annotates the pod. This is all fine.

Then at 20:14:16 the alertmanager-main-2 pod is deleted and re-created:

[code]
So no

[2020-04-01 03:33] dcbw commented on #1202
Another thought, maybe we need https://github.com/kubernetes/kubernetes/pull/83911 in our client-go?

[2020-04-01 03:43] dcbw commented on #1202
@girishmg @danwinship @trozet

[2020-04-01 06:53] girishmg commented on #1202
I have seen these errors whenever cluster role binding goes missing. Perhaps someone deleted and added it back.

Yes, this should help assuming there is an update to the pod.

[2020-04-01 13:33] danwinship commented on #1202
Yes. You're not supposed to have to do anything special when the watch terminates. This is totally that bug. We'll need to backport that too.

@girishmg I believe the role-binding-related errors here are irrelevant and are just because ovn-kubernetes gets started early in the cluster install process before the cluster is fully set-up.

[2020-04-01 14:14] danwinship commented on #1193
This is a little tricker for us since OCP supports other network plugins, so the host can't just unconditionally configure things that way. Although I guess what we'd do is have the Cluster Network operator create appropriate MachineConfig objects to install configs / systemd units / whatever to the node, and then any nodes that were installed after that point would have the relevant files install

[2020-04-01 15:42] girishmg commented on #1193
@danwinship PR #665 has already integrated support for OVS offload support to SmartNIC such as Mellanox. So, today with OVN-K8s + supported linux kernel + Mellanox hardware you can achieve OVS offloads (there are few flows that don't get offloaded due to missing support, but fixes are being pushed to Linux Kernel)

[2020-04-01 18:26] #1202 closed

[2020-04-01 19:45] #1140 closed

[2020-04-02 15:15] trozet commented on #1190
@girishmg I see that in the original patch this test passed:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/network_policy.go#L516

That is specifying policy with port and connecting to service. Although that policy is using ingress direction. Can you comment what your policy looked like in your test that failed? Thanks.

[2020-04-06 14:09] #1120 closed

[2020-04-06 14:09] #1124 closed

[2020-04-06 15:53] dave-tucker opened #1214 "ci: Move docker image verfication to it's own step"
During review of #1207, @dcbw wrote:

[2020-04-06 15:56] dave-tucker opened #1215 "ci: Build kubetest and kind as stages and cache them for use later"
During #1207 it was noted that CI relies on a prebuilt binary of `kubetest`.
We also have a step that installs `kind` in multiple places.
It would be easier to build these binaries once and cache them,

[2020-04-06 16:11] girishmg commented on #1190
@trozet this is what I have

[code]

[2020-04-06 17:37] trozet opened #1216 "Create github action trigger to re-run CI on PRs"
I've tried:

name: Go
on:
push:
pull_request:
pull_request_review_comment:
types:
- created

And then in under the jobs doing:
verify:
name: Verify
runs-on: ubuntu-latest
if: github.event_name == 'pull_request' || github.event_name == 'push' || github.event.pull_request_review_comment.comment.body == '/retest'

but it doesn't seem to trigger.

[2020-04-06 17:58] dave-tucker commented on #1216
It's definintely `issue_comment` you want.
From the docs:
https://developer.github.com/v3/activity/events/types/#pullrequestreviewcommentevent

https://developer.github.com/v3/activity/events/types/#issuecommentevent

Weird GitHub API quirk is that PR's are actually issues too.

[2020-04-07 14:05] trozet commented on #1216
@dave-tucker I had tried issue comment first, and then switched to PR comment. For PR comment I tried going to files changed, reviewing and adding an inline comment, then deleting it. Nothing would seem to trigger it on my fork of ovn-kubernetes.

[2020-04-07 14:17] trozet opened #1222 "go linter fails in travis ci"
Run pushd go-controller
~/work/ovn-kubernetes/ovn-kubernetes/go-controller ~/work/ovn-kubernetes/ovn-kubernetes
curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | bash -s -- -b /home/runner/go/bin
golangci/golangci-lint info checking GitHub for latest tag
golangci/golangci-lint info found version: 1.24.0 for v1.24.0/linux/amd64
golangci/golangci-lint info installed /ho

[2020-04-07 14:17] trozet commented on #1222
looking into it

[2020-04-07 16:26] trozet commented on #1190
@girishmg Thanks! So it looks like we would have hit the same issue if we had executed this test:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/network_policy.go#L909

But looking at the logs it looks like we are skipping this, along with some other network policy tests that should pass. I'm going to go sort through those and see if we can get more coverage.

[2020-04-07 17:41] #1222 closed

[2020-04-13 22:25] vjayaramrh opened #1247 "Consider adding .golangci.yaml file that lists the linters enabled"
An example .golanci.yml file can be referred at https://github.com/golangci/golangci-lint/blob/master/.golangci.example.yml

[2020-04-14 16:49] trozet commented on #1193
IMHO we should always use shared gateway, unless some specific platform cannot use it for some reason. Double NAT results in:

1. lower performance + extra L3 hop
2. us having to manage iptables rules on the host in our code
3. incompatibility with certain networking protocols

There are plenty of network management tools out there for openvswitch to guarantee configuration of moving NICs around d

[2020-04-17 12:00] Billy99 commented on #1142
@danwinship  Looking into "pkg/ovn/port_cache.go: needs to handle multiple pod IPs" now.

[2020-04-17 14:23] vjayaramrh opened #1265 "Executing kind.sh when using kind-ha.yaml launches only a single pod(instead of 3) for master node"
The probable cause could be that the value for replicas is hard-coded to be 1 currently. Refer https://github.com/ovn-org/ovn-kubernetes/blob/master/dist/templates/ovnkube-master.yaml.j2#L16

[2020-04-19 16:32] vjayaramrh opened #1267 "create a bash utility script that takes number of master/worker nodes as input and generate kind config yaml file"
This script to be used mainly from a  convenience perspective instead of having to manually edit the files for variable number of master/worker nodes

[2020-04-21 21:32] Billy99 commented on #1142
Looking into the remaining "pods" bullet item above.

[2020-04-22 15:27] trozet opened #1285 "Add e2e test for handling TCP resets from pods"
We hit this corner case where TCP resets from pods were bypassing conntrack and resulting in conntrack connections left in established for 5 days on the host:
https://bugzilla.redhat.com/show_bug.cgi?id=1819785#c8

We should add a test case either in ovn-k8s e2e or upstream to handle cover this

@girishmg @abhat @as-com @nerdalert FYI

[2020-04-23 17:02] hzhou8 opened #1291 "Use one port-group for all default policies that applies to all pods"
In [1] it is mentioned that there are at least 3 global port-groups created for the default policies, two for unicast default deny, and one for multicast default deny. I wonder what's the reason to use 3 groups instead of one, if same group of pods (all) is applied for these policies. I think port-group is better to be defined to reflect a group of ports that will be applied with same policies. We

[2020-04-23 18:46] trozet opened #1293 "Test flakes in CI: Network Granular Checks: services"
We keep seeing these fail randomly in CI:

Summarizing 4 Failures:

[Fail] [sig-network] Networking Granular Checks: Services [It] should function for node-Service: udp
/home/runner/go/src/k8s.io/kubernetes/_output/local/go/src/k8s.io/kubernetes/test/e2e/framework/network/utils.go:381

[Fail] [sig-network] Networking Granular Checks: Services [It] should function for endpoint-Service: udp
/home/ru

[2020-04-23 22:38] gvbalaji opened #1294 "Provide command line arguments support for kind deployment of ovn-kubernetes"
I think it would be useful to have  command line arguments support for kind.sh script for ovn-kubernetes deployment. This is an added feature that will help in automation and ease of providing configuration parameters for the KIND deployment.  Thinking of command line support for following parameters to start with.

KIND_INSTALL_INGRESS
KIND_HA
KIND_CONFIG
KIND_REMOVE_TAINT

The script should be b

[2020-04-24 13:43] danwinship commented on #1293
Skimming those results quickly, it is the NodeIP checks that are failing, not ClusterIP, and they appear to be failing completely (the NodeIP does not reach any of the three Endpoints), meaning this has nothing to do with the very similar set of flakes in OpenShift with openshift-sdn (which is good because we were very certain that those flakes were VXLAN-related and wouldn't affect OVN).

[2020-04-27 13:14] vjayaramrh opened #1305 "consider running gosec as a CI Github action to inspect source code for security problems"
The `gosec` tool details can be found at https://github.com/securego/gosec.
Suggestion would be to use "continue-on-error" even if there are issues found in the short term

[2020-04-27 16:58] numansiddique opened #1307 "Create a CI job which consumes OVN/OVS from sources."
Having this job will be useful in testing out latest features without waiting for the corresponding commits to be available in Fedora.

[2020-04-27 22:30] danwinship commented on #845
While reviewing #1097 I noticed a second, related problem: `gressPolicy` just keeps one list of "cidr"s and one list of "except"s, rather than keeping track of which excepts are exceptions to which cidrs. (Of course, given the way it currently implements "except" this doesn't matter.)

[2020-04-29 13:34] #1190 closed

[2020-05-02 17:46] girishmg opened #1315 "OVS/OVN/OVN-K8s prometheus exporter"
This is a placeholder issue to let the community know that we are working on adding various metrics for ovs-vswitchd, ovsdb-server, ovsdb-server-raft, ovn-northd, ovn-controller, ovnkube-master, and ovnkube-node. We already have bunch of metrics for some of these daemons. We are adding some more metrics on top of the current ones

[code]

[2020-05-04 12:16] danwinship opened #1316 "figure out why we're skipping some tests"
#1311 adds comments to `test/scripts/e2e-kind.sh` to indicate why certain tests are being skipped, but no one immediately remembers why a few of them are skipped so they're just in a `???` section at the end. Someone should figure out what's up with them, and file issues if they indicate bugs or missing features in ovn-kubernetes (or link to existing issues if they already exist)

[2020-05-04 13:59] trozet commented on #1316
List of cases that were being skipped due to failures:
[sig-network] NoSNAT [Feature:NoSNAT] [Slow] [It] Should be able to send traffic between Pods without SNAT

[sig-network] Services [It] should have session affinity work for LoadBalancer service with ESIPP off [Slow] [DisabledForLargeClusters]
[sig-network] Services [It] should be able to switch session affinity for LoadBalancer service with E

[2020-05-04 17:04] girishmg opened #1317 "leverage support for both master and node mode in single ovnkube process on k8s master nodes"
A single instance of ovnkube process already supports both master and node mode. The commentary in PR #1313 got me to think whether we should leverage this on the k8s master nodes.

This would let us
- not to run two instances of ovnkube on the master nodes
- we can force the ovnkube-node daemonset to not to run on masters using nodeAntiAffinity or some such

@ovn-org/ovn-kubernetes-committers tho

[2020-05-04 19:43] danwinship commented on #1317
I feel like it would make more sense to just split ovnkube into two separate binaries. It doesn't make any sense to have the master and node code in the same process if the two "sides" only ever communicate with each other by writing to the OVN and Kubernetes databases...

[2020-05-05 17:20] dave-tucker opened #1321 "flaky test: NetworkPolicy between server and client [It] should enforce egress policy allowing traffic to a server in a different namespace based on PodSelector and NamespaceSelector"
`[Fail] [sig-network] NetworkPolicy [LinuxOnly] NetworkPolicy between server and client [It] should enforce egress policy allowing traffic to a server in a different namespace based on PodSelector and NamespaceSelector [Feature:NetworkPolicy]`

Seen on:
- https://github.com/ovn-org/ovn-kubernetes/pull/1312/checks?check_run_id=641570035
- https://github.com/ovn-org/ovn-kubernetes/pull/1319/checks?c

[2020-05-05 20:07] gvbalaji commented on #1142
I am looking into these two items under Services
 1. pkg/node/gateway_localnet.go:localnetAddService() / localnetDeleteService() need to add/delete IPv4 or IPv6 rules depending on the service IP
 2. pkg/node/gateway_localnet.go:localnetNodePortWatcher() needs to set up both iptables and ip6tables base rules

[2020-05-07 14:58] danwinship commented on #817
This is fixed by OVN 2.13

[2020-05-07 14:58] #817 closed

[2020-05-11 15:44] vjayaramrh opened #1328 "Unit Test related: Isolate the functions in pkg/util/ovs.go that uses interfaces from the `k8s.io/utils/exec` package"
Identified the below methods that uses the 'cmd' interface from the `k8s.io/utils/exec` package that could be merged into a single method -> `RunCmd( cmd kexec.Cmd, cmdPath string, envVars []string, args ...string)`
- func runCmd(cmd kexec.Cmd, cmdPath string, args ...string) (*bytes.Buffer, *bytes.Buffer, error)
- func run(cmdPath string, args ...string) (*bytes.Buffer, *bytes.Buffer, error)
- fu

[2020-05-12 12:08] alexanderConstantinescu commented on #1321
FYI:

The flake due to this test is caused by the `client-a` pod (which tests connectivity to another namespace) not being created properly.

I have run a couple of test runs on my computer and attached two journal logs from a successful / unsuccessful run (with all services from around the time the `client-a` gets created to when it stops getting updates).

When anybody gets a chance to dig into